@charset 'utf-8';

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700,700italic,800);

$font-path: "../fonts/foundation-icons/foundation-icons";
@font-face {
  font-family: "foundation-icons";
  src: url("#{$font-path}.eot");
  src: url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
       url("#{$font-path}.woff") format("woff"),
       url("#{$font-path}.ttf") format("truetype"),
       url("#{$font-path}.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'futura-bt';
    src: url('../fonts/futurabt-book-opentype-webfont.eot');
    src: url('../fonts/futurabt-book-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurabt-book-opentype-webfont.woff') format('woff'),
         url('../fonts/futurabt-book-opentype-webfont.ttf') format('truetype'),
         url('../fonts/futurabt-book-opentype-webfont.svg#futura_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura-bt';
    src: url('../fonts/futurabt-bold-opentype-webfont.eot');
    src: url('../fonts/futurabt-bold-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurabt-bold-opentype-webfont.woff') format('woff'),
         url('../fonts/futurabt-bold-opentype-webfont.ttf') format('truetype'),
         url('../fonts/futurabt-bold-opentype-webfont.svg#futura_bookregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: "citm";
  src:url("../fonts/citm-webfont.eot");
  src:url("../fonts/citm-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/citm-webfont.woff") format("woff"),
    url("../fonts/citm-webfont.ttf") format("truetype"),
    url("../fonts/citm-webfont.svg#citm-webfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "citm" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "citm" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-details:before {
  content: "\61";
}
.icon-down:before {
  content: "\62";
}
.icon-grid:before {
  content: "\63";
}
.icon-heart:before {
  content: "\64";
}
.icon-heart-ol:before {
  content: "\65";
}
.icon-left:before {
  content: "\66";
}
.icon-notes:before {
  content: "\67";
}
.icon-right:before {
  content: "\68";
}
.icon-up:before {
  content: "\69";
}
.icon-green:before {
  content: "\6a";
}
.icon-hot:before {
  content: "\6b";
}
.icon-hotjob:before {
  content: "\6c";
}
.icon-pathways:before {
  content: "\6d";
}
.icon-save:before {
  content: "\6e";
}

/* change these if you want */
.raterater-bg-layer {
    color: transparent;
}
.raterater-hover-layer {
    color: rgba( 255, 255, 0, 0.75 );
}
.raterater-hover-layer.rated { /* after the user selects a rating */
    color: rgba( 255, 255, 0, 1 );
}
.raterater-rating-layer {
    color: #000;
}
.raterater-outline-layer {
    color: #000;
}

.ratebox {
	display: inline-block;
}

.ratings {
	margin-bottom: 1rem;
}

/* don't change these - you might break something.. */
.raterater-wrapper {
    overflow:visible;
}
.raterater-layer,
.raterater-layer i {
    display: block;
    position: absolute;
    overflow: visible;
    top: 2px;
    left: 0px;
}
.raterater-hover-layer {
    display: none;
}
.raterater-hover-layer i,
.raterater-rating-layer i {
    width: 0px;
    overflow: hidden; 
}

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

@include motion-ui-transitions;
@include motion-ui-animations;

@import "font-awesome";

@import "scss/layouts/home";
@import "scss/layouts/interaction";
@import "scss/layouts/options";

body {
	background: #FFF;
}

header {
	border-bottom: 1px solid #828181;
  font-size: 13px;
  text-align: right;

  @include breakpoint(medium) {
	  margin-bottom: 75px;	
	}

  #logo {
    line-height: 60px;
    text-align: left;  

    img {
      width: 210px;
    }
  }

	#main-menu {
	  height: 60px;
	  position: relative;

	  .menu-icon {
	    bottom: 17px;
	    display: none;
	    right: 15px;
	  	padding: 10px;
	    position: absolute;

	  	&::after {
				background: #000;
		  	box-shadow: 0 7px 0 #000, 0 14px 0 #000
			}
		}

		ul {
			border: 0;
			display: inline-block;
    	padding: 25px 0 0;

    	li {
    		display: inline-block;

				a {
					text-transform: uppercase;
			    padding: 0.7rem 0.8rem;
				}
			}

			&#learn-more {
				.heading {
					display: none;
				}

				li:after {
	  			content: '';
	  		}
			}

			&#login {
			  margin-left: 25px;

				li {
					display: inline-block;

					a {
						color: $black;
						text-transform: lowercase;
					}
				}
			}

			&#tabbed {
				clear: both;
				margin-top: 1px;
		    padding: 0;
		    width: 100%;

		    li {
		    	margin: 0 40px;
		    	position: relative;

		    	a {
		    		background: #616060;
		    		color: #e7e4e4;
		    		font-family: $header-font-family;
		    		font-weight: bold;
  					padding: 0.37rem 0.8rem;

		    		&:before,
		    		&:after {
		    			background: url(images/bg-tabs.png);
		    			content: '';
		    			display: inline-block;
		    			height: 24px;
		    			left: -25px;
		    			position: absolute;
  						top: 0;
		    			width: 25px;
		    		}

		    		&:after {
	    		    background-position: top right;
		    			left: auto;
		    			right: -25px;
		    		}
		    	}

		    	&.active {
		    		a {
		    			background: #dfdfdf;
		    			color: $navy;
					    cursor: default;	

		    			&:before,
		    			&:after {
		    				background-position-y: bottom;
		    			}	
		    		}
		    	}
		    }
			}
		} 
	}

	@media screen and (max-width: 920px) {
		#main-menu {
			.menu-icon {
				display: block
			}

			ul {
				display: none;
			}
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
}

h6 {
	font-family: $body-font-family;
	font-weight: bold;
	text-transform: uppercase;
}

table {
	width: 100%;

	tbody {
		background: none;
		border: none;

		th, td {
		    padding: 0.125rem 0.625rem 0.2rem;
		}
	}
}

ul.checked {
  font-size: 14px;
  line-height: normal;
  margin: 0 0 10px;

  li {
  	list-style-type: none;
  	position: relative;
    padding-left: 20px;

  	&:before {
  		display: inline-block;
	    font: normal normal normal 16px / 1 FontAwesome;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
  		content: "\f00c";
  		position: absolute;
	    left: 0;
	    top: 3px;
  	}

  	&.inactive {
      color: #a9a9a9;

      &:before {
      	content: "\f00d";
      }
  	}
  }
}

.buttons {
	.button:last-child {
		margin-right: 0;
	}
}

.button,
button {
	font-size: 16px;
  font-weight: bold;	
  padding: 15px 20px;
  text-transform: uppercase;
}

.button.ghost {
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
}

.button.outline {
	background: transparent;
	border: 2px solid $primary-color;
	color: $primary-color;
	font-size: 15px;
  padding: 10px 15px;
	text-transform: none;
}

button.striped,
.button.striped {
    background: repeating-linear-gradient(-45deg, #fff 2px, #fff 5px, #d6d8d7 6px, #d6d8d7 8px);
    color: #911a07;
    margin-top: 20px;
}

select {
  display: inline;
  font-size: 12px;
  height: 1.2rem;
  padding: 0 0.5rem;
  width: 250px; 
}

.sort-by {
	text-align: center;

	strong {
		color: #000;
	}

	select {
		margin-top: 7px;
	}
	
	@include breakpoint(medium) {
		background: #efefef;
		border-top: 1px solid #ababab;
		padding: 7px 13px 9px;
		text-align: left;

		strong {
			text-transform: uppercase;
		}

		select {
			margin: 0;
			margin-left: 7px;
		}
	}
	@include breakpoint(small only) {
		select {
			margin-bottom: 0;
		}
		strong {
			margin-right: 10px;
		}
	}
}

.sort-by-mobile {
	@include breakpoint(small only) {
		background-color: #efefef;
		margin-bottom: 20px;
	}
}

.search-bar {
	@include breakpoint(small only) {
		background-color: #efefef;
		padding-top: 10px;
		padding-bottom: 10px;

	  a {
	  	color: $burgundy;
	  }

	  .icon-arrow-up {
		  display: block;
		  
		  &:before {
			  border-bottom: 10px solid $burgundy;
			  border-left: 8px solid transparent;
			  border-right: 8px solid transparent;
			  content: "";
			  display: inline-block;
		  }
	  }
	}

	strong, 
	.actions {
		color: $burgundy;
		font-family: $body-font-family;
		font-size: 13px;
		text-transform: uppercase;

		i {
			font-size: 16px;
		}

		a {
			color: inherit;

			@include breakpoint(medium) {
				margin-right: 40px;

				span {
					display: inline;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	hr {
  	margin: 5px 0 10px;
  }
}

.panel-group {
	
	.panel {
	  border-radius: 0;
    border: 0;
    box-shadow: 0 0 0;	
	}

	.panel-heading {
		background-color: #eaeaea;
	  	border-radius: 0;	
	  	padding-left: 20px;
    	padding-right: 26px;

	  h4 {
	  	margin-bottom: 0;
	  }

	  a:focus { outline: none; }

	  + .panel-collapse > .panel-body {
		  border-top: none;
		}
	}

	.panel-title > a > span {
    	display: block;
		position: relative;

		span {
			font-size: 15px;	
			margin-top: 2px;    
			font-weight: bold;
			font-family: $body-font-family;
			display: inline-block;
			width: 100%;
			padding-right: 25px;
		}

		i {
			color: #818181;
			font-size: 20px;
			float: right;
			position: absolute;
			right: 0;
			top: 3px;
		}
		
		@include breakpoint(medium) {
		}
	}


	.find-a-career {
		
		@include breakpoint(medium) {
			.row {
				margin-bottom: 50px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		@include breakpoint(small only) {
			ul.find-a-career-list {
				margin-bottom: 0;
			}

			.text-right {
				text-align: left;
			}
		}

		h4 {
			font-size: 16px;

			img {
				vertical-align: bottom;
			}
		}

		hr {
	    margin: 0.6rem auto;
		}
	}
}


#career-detail .panel-group {

	.panel-title > a > span {
    
    	text-align: right;
    
		span {
			left: 0;
			position: absolute;
			text-align: left;
		}

		i {
			float: none;
			position: static;	
		}
		
		@media screen and (min-width: 40em) {
	 		text-align: center;
		}
	}
	
	.panel-heading + .panel-collapse > .panel-body {
      background: #f5f5f5;
      padding: 15px;
  }
}

#interest-codes .panel-group {
	
	.panel-heading {
		padding-left: 0;
	  	padding-right: 0;

	  + .panel-collapse > .panel-body {
	    background: #f5f5f5;
		}
	}

	.panel-title > a > span {
    	display: block;
 		text-align: right;

		span {
			left: 15px;
			position: absolute;
			padding-right: 0;
			width: auto;
		}

		i {
			float: none;
			position: relative;
			right: inherit;
			top: inherit;
		}
		
		@include breakpoint(medium) {
	 		text-align: center;
		}
	}
	.panel-body {
		padding: 15px;
	}
}

.modal-content {
	
	border: 1px solid #cacaca;
  background-color: #ffffff;
  border-radius: 0;	
	color: #3f3f3f;
	font-size: 13px;
	-webkit-font-smoothing: auto;
	
	.modal-header {
		padding-bottom: 0;
		border-bottom: 0;
		
		.close {
			color: $navy;
			font-weight: normal;
			opacity: 1;
			margin-top: 4px;
			margin-right: 6px;
		}
		
		.modal-title {
			background: #ebecec;
			color: #3d4243;
			font-family: $body-font-family;
			font-size: 16px;
		    padding: 3px 12px;
			text-transform: none;
		}
	}

	.close-button-div {
    text-align: center;

    .button  {
	    font-weight: normal;
	    font-size: 12px;
	    padding: 5px 20px;
	    margin: 0;
	    width: 100px;
		}
	}

	table {
		thead {
			background: #fff;
	    border-width: 0 0 1px;

	    th {
	    	padding-bottom: 5px;
	    	padding-right: 5px;	    	
	    }
			
			i, span {
				color: $burgundy;
				font-size: 20px;
		    margin-left: 10px;
		    font-weight: bold;
	      vertical-align: bottom;  
			}

			span {
		    display: inline-block;
		    font-size: 32px;
		    font-weight: normal;
		    line-height: 20px;
		    height: 20px;
		    top: 0px;
			}
		}

		.input {
			width: 130px;
			text-align: right;

			@include breakpoint(small only) {
				width: 75px;
			}
		}
	}
	
	h3 {
    	font-size: 18px;
    	font-weight: normal;

	    &.branch {
	    	font-family: $body-font-family;
	    	font-size: 14px;
	    	font-weight: bold;
	    	text-transform: uppercase;

	    	&.wrap {
	    		max-width: 130px;

	    		img {
	    			float: left;
	    		}
	    	}
	    }
	}
	
	.menu.tools:not(.bottom) a {
    	color: $navy;
	}

	.career {
    padding: 0 15px;

    .small-6 {
  	  width: 50%;
		}

  	h3 {
  		color: $navy;
 	    font-size: 16px;
  		font-weight: bold;
	    text-transform: none;

	    .icon-hotjob {
        font-size: 80%;
	    }
		}

		h4 {
	    color: #000;
	    font-size: 13px;
	    font-weight: bold;
	    margin: 0 0 6px;
	    text-transform: uppercase;
		}
	}
	
	.modal-footer {
		border-top: 0;
		.button {
			font-family: $header-font-family;
			font-weight: normal;
		    margin-bottom: 0;
   			margin-right: 5px;
			
			&.hollow {
				border-width: 2px;
			}
		}
	}
}

.share {
	text-align: right;
	
	i {
		font-size: 18px;
		margin-left: 10px;
	}
	
	hr {
		margin: .25rem 0 .5rem;
	}
	
	.fa-facebook {
		color: #305cb4;
	}
	
	.fa-twitter {
		color: #07b6ef;
	}
	
	.fa-linkedin {
		color: #0083ba;
	}
	
	.fa-envelope {
		color: #999ea1;
	}
	
	.fa-google-plus {
		color: #d42515;
	}
}

#slide-menu {
    background: #454444;
    color: #fff;
		font-size: 16px;
    height: 100%;
    overflow: hidden;
	  position: fixed;
    left: 0;
    top: 0;
    width: 0;
    z-index: 10000;
    -moz-transition: width 300ms;
    -o-transition: width 300ms;
    -webkit-transition: width 300ms;
    transition: width 300ms;

    &.open {
    	width: 275px;

    	> ul {
    		display: block;
    	}
    }

		> ul {
			display: none;
			height: 100%;
      overflow-x: hidden;
  	  overflow-y: auto;
  	  width: 275px;
  	}

    a {
    	color: inherit;

    	&#close {
    	  font-size: 35px;
    		font-weight: bold;
    	}
    }

    ul {
    	margin: 0;

    	li {
   			text-transform: uppercase;
    		a, span {
    	    padding: 0px 25px;
    			display: block;
    		}

    		a:hover {
    			background: #8f8f8f;
    			color: #333;
    			text-decoration: none;
    		}
    	}

    	ul {
    		margin-bottom: 20px;

    		li {
    			background: #565555;
    			margin-bottom: 3px;
    			
    			a {
    				text-transform: none;
    			}
    		}
    	}
    }
}
.border {
  padding: 20px;
  border: 7px solid #d7d7d7;
  margin-bottom: 20px;

  @include breakpoint(small only) {
  	.buttons {
			margin-bottom: 0;
  		text-align: center;

  		.button {
  			margin-bottom: 0;
  		}
  	}
  }
}

.starrr-label {
  display: inline-block;
  width: 80%;
	max-width: 150px;
}

.icodes {
	margin-left: 0;

	li {
		list-style-type: none;

		span {
	    display: inline-block;
	    width: 80%;
			max-width: 150px;
		}

		&:after {
			border-bottom: 11px solid red;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			content: '';
			display: inline-block;
    	width: 0;
		}
	}

	.code-c {
		*:before,
		a:before,
		&:after {
			border-color: transparent transparent #54873d;
		}
	}
	
	.code-r {
		*:before,
		a:before,
		&:after {
			border-color: transparent transparent #0e7bc0;
		}
	}
	
	.code-i {
		*:before,
		a:before,
		&:after {
			border-color: transparent transparent #8b2e33;
		}
	}
	.code-s {
		*:before,
		a:before,
		&:after {
			border-color: transparent transparent #164377;
		}
	}
	.code-a {
		*:before,
		a:before,
		&:after {
			border-color: transparent transparent #f7933a;
		}
	}
	.code-e {
		*:before,
		a:before,
		&:after {
			border-color: transparent transparent #ed252e;
		}
	}
}

.career-detail {
  font-size: 13px;
  overflow: hidden;
	position: relative;

	h2, h4 {
  	font-family: $body-font-family;
		font-weight: bold;
	}

	h2 {
		color: $navy;
  	font-size: 1.25rem;	
	  margin-bottom: 1em;	
		text-transform: none;
	}

	h4 {
		color: #000;
		font-size: 13px;
		margin: 0 0 6px;
		text-transform: uppercase;
	}

	> .columns:first-child {
		background-size: cover;
		background-position: center;	
		padding-top: 0.7rem;
    padding-bottom: 0.7rem;

		img {
			visibility: hidden;
		}		
	}
}

.page-title {
	color: $navy;
	font-size: 1.25rem;	
  margin-bottom: 1em;	
	text-transform: none;
	font-family: $body-font-family;
	font-weight: bold;
}

.caps {
		text-transform: uppercase;	
}

#compare-table {
	table {

		@include breakpoint(medium) {
			margin-left: -0.625rem;
		}

		tbody {
			background: none;
			border: none;
			font-size: 13px;
		}

		h3 {
			color: $primary-color;
			font-family: $body-font-family;
			font-weight: 600;
			font-size: 16px;
			width: 70%;

			i.icon-hotjob {
	    	font-size: 100%;
   	    margin-left: 6px;
  		  vertical-align: middle;
			}
		}

		h4 {
	    background: #e8eaeb;
	    color: #000;
	    font-family: $body-font-family;
	    font-size: 12px;
	    font-weight: bold;
	    margin-bottom: 7px;
	    padding: 3px 10px;
	    text-transform: uppercase;
		}

		ul {
    	margin-left: 5px;
    	list-style-type: none;
			
			&.icodes li::after {
				float: right;
			}
		}

		.plain {
			ul {
				list-style-type: disc;
				margin-left: 20px;
			}

			p {
				margin-left: 5px;
			}
		}

		td {
			padding-top: 10px;
	    	vertical-align: top;
				
			@include breakpoint(small only) {
				display: block;
				width: 100%;
			}
			
			&:nth-of-type(even)  {
				background: #f6f7f7;
			}
			
			ul li {
				margin-bottom: 0;
			}
			
			#education {
				strong {
					display: inline-block;
					width: 60px
				}
			}
		}
	}
}

.portfolio {
	font-size: 13px;
  #name-grade {
		background: $light-gray;
    border: 1px solid #b3b3b3;
		margin-bottom: 10px;
  	padding: 3px 20px;
		
		input {
			margin-bottom: 0;
		}
	}

	.nav-tabs > li > a {
    background: #f7f7f7 !important;
  }

  .nav-tabs > li.active > a, 
  .nav-tabs > li.active > a:hover, 
  .nav-tabs > li.active > a:focus {
    background: #fff !important;	
  }

	.search-bar {
		a,
		.actions a {
	    margin-right: 20px;
	  }

	  .actions a {
	    margin-right: 10px;

	    &:last-child {
	    	margin-right: 0;
	    }
		}
	}

	.alert {
		background: #c1877d;
		border: 0;
		border-radius: 0;
		color: #fff;
    padding: 30px;	
		position: relative;

		.close {
	    color: #fff;
	    filter: alpha(opacity=100);
	    font-size: 30px;
	    font-weight: normal;
	    opacity: 1;
			position: absolute;
	    right: 15px;
	    text-shadow: 0 0 0;
	    top: 7px;
		}
	}

	.well {
    background-color: #efefef;
		border: 0;
		border-radius: 0;
    margin-bottom: 0;
    overflow: hidden;
    padding: 20px 25px;

		img {
			float: left;
	    margin-right: 20px;
	    margin-bottom: 10px;
		}
	}

	.table-info {
		font-size: 15px;

		a {
			font-weight: bold;
			padding: 0 5px;
		}

		> .medium-6:nth-child(2) {
			text-align: right;
		}
	}

	[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	    font-size: 100%;
	    height: auto;
	    padding: 1px;
	}

	.button {
			font-size: 13px;
  		padding: 4px 10px;
	}

	@include breakpoint(medium) {
		.grade {
			text-align: right;
		}
	}
	
	@include breakpoint(small only) {
		&.occufind #content-wrap .menu.tools a {
			padding-left: 0 !important;
		}
	}

		#fitness {
			label {
				display: inline-block;
				width: 150px;
			}

			select {
				margin-bottom: 2px;
		    max-width: 100%;
			}
		}
	
	.portfolio-group,
	.explore-group {
		border: 1px solid #b3b3b3;
		margin-bottom: 20px;
		
		.actions {
			font-size: 22px;
			text-align: right;
			a {
				color: $burgundy;
		    padding: 0 3px;
				text-transform: uppercase;
				
				&:last-child {
					padding-right: 0;
				}
			}
		}

		.row.column {
		    margin-left: 0;
    		margin-right: 0;
		}
		
		.heading {
		    background: $light-gray;
    		padding: 0 5px;
				text-transform: uppercase;
		}
		
		input {
			margin: 0;
		}
		
		input[type="checkbox"] {
			margin-right: 6px;
		}
		
		.entry {
			border-bottom: 1px solid #b3b3b3;
		}
		
		.entry,
		.add form {
		    padding: 5px 26px;
		}
		
		.add {
			.add.button {
				display: block;
				margin: .75rem auto;	
			}
			
			form {
				padding-top: 20px;
				
				input {
					display: inline;
					margin: 0 0 15px;
						
					&[type="text"] {
						max-width: 300px;
					}
					
					&.small {
						max-width: 75px; 
					}
				}
				
				.buttons {
					text-align: center;
					
					button {
						width: 100px;
						
						&:last-child {
							margin-right: 0;
						}

						@include breakpoint(small only) {
							margin-left: .5rem !important;
							margin-right: .5rem !important;
						}
					}
				}
				
				&.inline-labels {
					label {
						display: inline;
					    margin-right: 10px;
					}
				}
			}
		}
	}

	.explore-group {
	  padding: 30px;

	  hr {
	      margin: 10px 0;
	  }

	  table {
	  	margin: 0; 

	  	.input {
		  	width: 20px;
  		  padding-right: 0;
	  	}

	  	a:hover {
	  		text-decoration: none;
	  	}
	  	.actions {

		    font-size: inherit;
		    width: 70px;

		    i {
    			font-size: 100%;
	  		}
	  	}
	  }

	  [type="checkbox"] + label {
	  	display: inline;
	  }

		.compare {
	    margin: 0;
    	background: #e9f7f7;
    	padding: 10px 0;

    	button {
		    float: right;
		    margin-bottom: 0;
		    margin-right: 0;
		    margin-top: 7px;
		    width: 140px;

		    @include breakpoint(small only) {
			    display: block;
		    	float: none;
		    	margin: 10px auto 0;
		    }
			}
		}

		&.table {
			padding: 0;
			position: relative;

			.background {
				background: #f5f5f5;
			}

			.info,
	  	.description {
		  	padding: 22px;
  	    padding-bottom: 0;
	  	}
	  	@include breakpoint(medium) {

		  	#retake {
			    bottom: 20px;
			    margin: 0;
		  		position: absolute;
		  	}
	  	}

	  	.info-container {
	  		background: #fff;

	  		#tools {
  		    margin-bottom: 20px;
	  			text-align: left;

	  			> div {
	  				line-height: normal;
	  				padding: 0;

		  			&:after {
		  				content: initial;
	  				}
	  			}

	  			.actions {
  			    font-size: 26px;
				    float: right;
				    position: static;
	  				width: 100px;
	  			}
	  		}

		  	.image {
		  		background: #444;
		  		background-size: cover;
		  		min-height: 216px;
		  		padding: 0;
		  	}

		  	.guided-heading {
		  		color: $secondary-color;

		  		span {
		  			color: $navy;
	  		    margin-right: 10px;	
		  		}
		  	}

		  	.pagination {
		  		li {
		  			background: #7c7c7c;
		  			display: inline-block;
		  			height: 2px;
  			    margin-right: 3px;
		  			overflow: hidden;
		  			text-indent: -999px;
		  			width: 46px;

		  			&.active {
		  				background: $primary-color;
		  			}

		  			@include breakpoint(small only) {
		  				width: 35px;
		  			}
		  		}
		  	}

		  	.next {
		  	  float: right;
			    margin-top: 15px;
			    margin-right: 0;
			    text-transform: uppercase;

			    @include breakpoint(small only) {
			    	display: block;
			    	float: none;
			    	margin: 15px auto 0;
			    }
		  	}
	  	}
		}
	}
	
	.favorites {
		@include breakpoint(medium) {
			display: flex;
			overflow: hidden;
		}
		
		> .columns {
		  display: flex;
			
			.explore-group,
			.portfolio-group {
			  flex: 1;
				
				.entry {
					border-bottom: 0;
					
					p {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}

@include breakpoint(large) {
  #step2 .career-detail {
    > .columns:first-child {
      width: 45.2%;	
    }
    > .columns:last-child {
      width: 54.8%;	
    }
  }
}

.actions {
	color: $burgundy;
  font-size: 40px;
	font-weight: bold;
	font-family: $header-font-family;
    float: right;
    line-height: 20px;	

	i {
		font-size: 73%;
		margin: 0 5px;
		text-shadow: 0px 0px;

		&.icon-heart-ol:before {
		  -webkit-font-smoothing: auto;
		}
	}
}

.career-icons {
	color: $secondary-color;
	text-transform: uppercase;

	span {
		margin-right: 10px;
	}
	
	[class^="icon-"] {
		font-size: 20px;
	  line-height: 20px;
    vertical-align: middle;    	
	}

	.icon-green {
		color: #78bf36;
	}
	
	.icon-hot {
		color: #ffc104;
	}
	
	.icon-stem {
		color: #27a6d6;
	}
}

.icon-hotjob {
	color: #f49c1e;
  font-size: 80%;
	vertical-align: text-bottom;
}

#found-text {
 line-height: 35px;
}

#tools {
	text-align: right;

	span {
    color: #911a07;
    font-size: 13px;
    position: absolute;
    margin-left: -12px;
	}
	
	i {
		color: $burgundy;
		cursor: pointer;
		vertical-align: middle;
		
		&.active {
			color: #adadad;
			cursor: default;
		}
	}

	> div {
		display: inline-block;
    line-height: 35px;	
	  padding: 0 15px;
	  position: relative;

	  &:after {
	  	content: '|';
	  	position: absolute;
	  	right: -6px;
	  	top: -2px;
	  }

	  &:last-child:after {
	  	content: initial;
	  }

	  &#sort,
	  &.sort {
	  	i {
	    	font-size: 20px;
	    	margin: 0 5px;	
	    }

	    .fa-list-ul {
	    	font-size: 14px;
		    top: -1px;
		    vertical-align: baseline;
		    position: relative;
	    }
	  }

	  &#pagination {
	  	i {
	      font-size: 11px;

	      &:first-child {
	    		margin-right: 10px;
	    	}

	    	&:last-child {
	    		margin-left: 10px;
	    	}
	    }
	  }
	}
}

@include breakpoint(medium) {
	#main {
		min-height: calc(100vw - 513px);
	}
}

#footer {
	background: #4c4c4c;
	border-top: 1px solid #fff;
  color: #fff;	
	font-size: 13px;
	padding: 60px 0;

	.top-row {

    h5 {
  		margin-bottom: 0;
		}

		img {
			display: block;
	    margin: 0 auto 1em;
		}
    
    @include breakpoint(medium) {
	    align-items: flex-end;
	    display: flex;
	    justify-content: flex-end;

			img {
				float: right;
		    margin-bottom: 6px;
			}
    }
	}

	a {
		color: #fff;
	}

	.menu.vertical a,
	.medium-pull-3 h5,
	.show-for-medium a {
		color: #ccfcfe;
	}

	h5 {
		color: #a4a4a4;
		text-transform: uppercase;

		a {
			color: inherit;
			margin: 0 20px;
		}
	}

	@include breakpoint(small only) {
	  
	  padding: 10px 0;
		font-size: 11px;

		hr {
	    margin: 0.75rem auto;
		}

		img {
	    max-width: 120px;
		}

	  p, h5 {
			text-align: center;
			width: 100%;
		}

		.menu.vertical {
	    margin-bottom: 10px;
			text-align: center;

			a {
			  padding: 0.3rem 1rem;
			}
		}
	}
}

#advanced-search {
	header {
    z-index: 11;
    position: relative;
	}
	#main {
		position: relative;
		padding-bottom: 100px;

		.search-list {
			&:first-child {
				p:last-child {
					margin-bottom:0;
				}
			}
		}

		.search-bar {
	    box-sizing: content-box;
		}
	}

	.button.striped {
		display: block;
    margin: 10px auto 30px;
    padding: 10px;
    text-decoration: none;
    width: 140px;
	}

	#filters {
		background: #efefef;
    padding: 20px 0 0;

    h2,
    #filter-actions,
    #mobile-filter-actions {
        padding: 0 13px;
    }

    .striped {
        background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0) 5px, #fff 6px, #fff 8px);
    }

    #mobile-filter-actions {
		> p > span {
			color: $primary-color;
			margin: 0 24px;
		}
    	.button {
	    	margin: 20px auto;
		    width: 100px;
    	}
    }

    .panel-group {
  	  margin-bottom: 10px;
		}

    #other-ways {
	    border-top: 1px solid #9e9e9e;
	    padding: 15px 13px 18px;
		
		@include breakpoint(small only) {
			border-bottom: 1px solid #9e9e9e;
		}
	    h4 {
	    	font-weight: normal;
	    	margin: 0;
			
			@include breakpoint(small only) {
				text-align: center;
			}
	    }	
    }

    input[type="checkbox"] {
			display: none;

			+ label {
				cursor: pointer;
				float: none;
				margin: 0;
				line-height: 1.5;	

				&:before {
					background: #ffffff;
					border: 2px solid #777a7e;
					content: '';
					display: inline-block;
					height: 10px;
					margin-right: 10px;
		    	vertical-align: middle;
					width: 10px;
				}
			}

			&:checked + label:before {
				background: #38e6ee;
			}
		}

		.panel-group {
			.panel-heading {
				background: #dcdcdc;
			    padding: 5px 13px;	
			}
			.panel-title > a > span {
    			text-align: left;

				i {
					color: #000000;
					float: none;
					font-size: 11px;
					margin-right: 10px;
					position: relative;
					right: inherit;
					top: inherit;
				}

				span {
					display: inline;
					font-size: 13px;
					font-weight: normal;
					padding-right: 0;
					position: static;
					width: auto;
				}
			}
			.panel-body {
				background-color: #f5f5f5;
				padding: 15px;
			}
		}
	}

	@include breakpoint(medium) {

		.search-list {
			min-height: 150px;
		}

		#filters {
	    bottom: 0;
	    padding: 80px 0 20px;
		  position: absolute;
	    right: 0;
	    top: -75px;
	    z-index: 1;
	    overflow: auto;

			#other-ways {
				background: transparent;
				border: 0;
				padding: 5px 36px;	
			}

			.panel-group {
	  	  margin-bottom: 20px;
			}

    }
  }

	#mobile-found-careers {
	  background-color: #fff;
	  border-bottom: 1px solid #ababab;
	  color: #000;
    margin-top: 37px;
    padding: 10px 0;
    position: absolute;
    width: 100%;

	@include breakpoint(small only) {
		margin-top: 31px;
	}
	#found-text {
		line-height: inherit;
		margin-right: 5px;
	}
    #tools {
    	a {
    		color: $burgundy;
    	}
    }
	@include breakpoint(small only) {
		&.view-more-details {
			margin-top: -20px;
			
			+ div.row {
				margin-top: 60px;
			}
		}
	}
	}

  .icon-hotjob {
    display: inline-block;
  	font-size: 100%;
	  margin-bottom: -3px;
	  margin-left: 5px;
	  vertical-align: middle;
  }

	.career-detail {
		h3 {
	    color: $primary-color;
	    font-family: $body-font-family;
	    font-size: 16px;
	    font-weight: bold;  
	    margin-bottom: 1em;
	    text-transform: none;
		
			a {
				@include breakpoint(small only) {
					display: inline-block;
					width: 100%;
				}
			}
		}

		.actions {
	    color: #fff;
			position: relative;

			i {
		    position: absolute;
		    right: 10px;
		    color: #fff;
		    bottom: 5px;
			
			@include breakpoint(small only) {
				font-size: 30%;
				margin-right: 0;
			}
			}
		}
		
		@include breakpoint(small only) {
			ul.checked li {
				font-weight: bold;
			}
		}

		.services {
			margin-bottom: 20px;

			img {
		    margin-right: 2.8%;
    		max-width: 13%;
			
			@include breakpoint(small only) {
				max-width: 15%;
			}

    		&:last-of-type {
    		  margin-right: 0;
    		}
			}
		}
	}

	.career {
		&:last-of-type {
			hr {
				display: none;
			}
		}

		@include breakpoint(small only) {
			border-bottom: 1px solid #cacaca;
			margin-bottom: 1.25rem;
			padding-bottom: 1.25rem;

			&:last-of-type {
				border-bottom: 0;
		    margin-bottom: 0;
			}

			hr {
				display: none;
			}
		}
	}

	#sort-tabs {
		@include breakpoint(small only) {
			> .columns {
				padding: 0;
			}
		}
	}

	.mini-form {
    display: inline-block;
	  margin-left: 15px;	
		position: relative;

		@include breakpoint(small only) {
    	width: 75%;
		}
		
		input {
			border-color: #D9DFE5;
			border-radius: 2px;
			color: #000;
	    font-size: 12px;
	    display: inline;
			height: 1.25rem;
			padding: 0 5px;
		}
		button[type="submit"] {
			background: transparent;
			border: 0;
			color: #b8b8b8;
	    font-size: 11px;	
			font-weight: normal;
			margin: 0;
			padding: 2px 5px;
			position: absolute;
			right: 0;
			top: 5px;
		}
	}
	.sticky-wrapper {
		display: block;
		
		#sticky {
			z-index: 1 !important;
			opacity: 1 !important;
		}
	}
}


#main .nav-tabs {
  background: #efefef !important;
  border-color: #ababab;
  margin-bottom: 20px;
  margin-left: 0;
  margin-top: -16px;
  padding: 5px 25px 0;

  > li > a {
  	background: #f7f7f7;
  	border-color: #ababab;
    border-radius: 0;
    color: $primary-color;
    font-weight: bold;
    margin-right: 15px;
    padding: 6px 30px;

    @include breakpoint(medium only) {
	  	max-width: 110px;
 	    padding: 6px;
  		text-align: center;
    }
  }
  
  > li.active > a, 
  > li.active > a:hover, 
  > li.active > a:focus {
  	background: #fff;
    border-bottom-color: transparent;
    color: #000;
  }

  @include breakpoint(small only) {
  	background: #fff;
	margin-bottom: 60px;  
	margin-top: -20px;
  	padding: 0;
  	text-align: center;
  	
  	> li {
	    display: inline-block;
 	    float: none;
    	max-width: 100px;
    	width: 33%;

    	a {
    		background: #efefef;
			color: #000;
        margin: 0 4px;
    	  padding: 6px 3px;
  			text-align: center;
    	}
  	}

  	> li.active > a, 
    > li.active > a:hover, 
    > li.active > a:focus {
    	background: #fff;
    }
  }
}

.tab-content {
	@include breakpoint(small only) {
	  padding-left: 0.9375rem;
		padding-right: 0.9375rem;
	}
}

.sitemap {
	padding-bottom: 50px;

	h3 {
	  background: transparent;
	  padding: 0;
	  margin-bottom: 1px;
	}
	.sitemap-title {
		color: #2F2867;
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 39px;
	}
	.sitemap-links {
		margin-bottom: 29px;
		
		ul {
			margin: 0;
			list-style-type: none;
			
			li {
				margin-bottom: 3px;
			}
		}
		h3 {
			color: #000;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
		}				
	}
}
.lightblue-box {
	background: #e1f0f1;
	font-size: 16px;
	margin-bottom: 28px;
	padding: 20px 21px;
	margin-top: 11px;
}