<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>

    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="CareerclusterCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section home">
      <div id="boot-camp">
         <div class="row column">
           <h3>CAREER CLUSTERS</h3>
         </div>  
         <div class="row all-data">

            <div class="medium-12 column full-black-text career-cluster">
				<div class="row">
                	<div class="small-12 medium-12 large-12 column">
                    	<p>The National Career Clusters® Framework provides 16 groupings (clusters) of occupations based on similar skill sets, interests, abilities, and activities. The clusters contain sub-groupings called Career Pathways. These pathways are used by many school systems to develop curriculum to enhance the knowledge and skills required for a particular career field. You can explore occupations in the OCCU-Find by Career Cluster.</p>
                        
                        <p>The 16 career clusters are:</p>
                        <uib-accordion>
                         
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Agriculture, Food & Natural Resources  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>This Career Cluster is focused on the production, processing, marketing, distribution, financing, and development of agricultural commodities and resources including food, fiber, wood products, natural resources, horticulture, and other plant and animal products/resources.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Architecture & Construction  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>This Career Cluster includes careers in designing, planning, managing, building and maintaining the built environment.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Arts, Audio/Video Technology & Communications  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>Careers in this Cluster involve designing, producing, exhibiting, performing, writing, and publishing multimedia content, including visual and performing arts; and design, journalism, and entertainment services.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Business Management & Administration  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>This Career Cluster includes careers in planning, organizing, directing and evaluating business functions essential to efficient and productive business operations.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Education & Training  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>This Career Cluster includes jobs involved in planning, managing and providing education and training services, and related learning support services.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Finance  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>This Cluster includes careers involved with planning and providing services for financial and investment planning, banking, insurance, and business financial management.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Government & Public Administration  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>Careers in this Cluster involve planning and performing government functions at the local, state and federal levels, including governance, national security, foreign service, planning, revenue and taxation, and regulations.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Health Science  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>Careers in this Cluster involve planning, managing, and providing therapeutic services, diagnostic services, health informatics, support services, and biotechnology research and development.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Hospitality & Tourism  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>These careers cover the management, marketing and operations of restaurants and other food services, lodging, attractions, recreation events and travel related services.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Human Services  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>These careers relate to families and human needs such as counseling and mental health services, family and community services, personal care, and consumer services.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Information Technology  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>This Career Cluster includes entry level, technical and professional careers related to the design, development, support and management of hardware, software, multimedia and systems integration services.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Law, Public Safety, Corrections & Security  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>This Career Cluster includes careers in planning, managing, and providing legal, public safety, protective services and homeland security, including professional and technical support services.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Manufacturing  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>These careers involve planning, managing and performing the processing of materials into intermediate or final products and related professional and technical support activities such as production planning and control, maintenance and manufacturing/process engineering.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Marketing  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>This Career Cluster involves planning, managing and performing marketing activities to reach organizational objectives.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Science, Technology, Engineering & Mathematics  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>These careers involve planning, managing and providing scientific research and professional and technical services (e.g., physical science, social science, engineering), including laboratory and testing services, and research and development services.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>Transportation, Distribution & Logistics  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                          <div>
                          <span>This Career Cluster involves the planning, management, and movement of people, materials, and goods by road, pipeline, air, rail and water and related professional support services, such as transportation infrastructure planning and management, logistics services, mobile equipment and facility maintenance.</span>
                          <a href="#"><b>Explore Careers</b></a>      
                           </div>   
                          </uib-accordion-group>
                          
                      </uib-accordion>                       
					
                    </div>
                    
                                    
                </div>
               <p>Note: The 16 National Career Clusters Framework, and the definitions provided here, are sponsored by Advance CTE: State Leaders Connecting Learning to Work. The above excerpts are being used with permission of the States' Career Clusters Initiative, 2009 (<a href="#">www.careertech.org/career-clusters</a>). Your school/state may use a different set of career clusters. Contact your career counselor to find out more information.</p>
               
               <img src="../images/career-cluster-logo.jpg" class="career-cluster-logo">
               
               <p>The Career Clusters logo and its extensions are the property of The Center to Advance CTE, as managed by Advance CTE.</p>
            </div>


         </div>
        </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
    
  </body>
</html>
