<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>

    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="CareerclusterCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section home">
      <div id="boot-camp" class="career-profile">
         <div class="row column">
         	<div class="row">
            	<div class="medium-6 columns">
                   <h4 class="title">Career Profile</h4>
                   <h4 class="sub-title">[Career Title]</h4>
               </div>
                <div class="medium-6 columns share show-for-medium share-topspace">Share:
                    <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                    <!--<a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>-->
                    <a target="_blank" href="#"><i class="fa fa-envelope"></i></a> 
                </div>               
           </div>
           <hr>
         </div> 
          
        <div class="hide-for-medium">
            <div class="career-mobile-slider">
                <div class="row">
                    <div class="small-6 column">
                        <div class="career-mobile-slider-details">
                            <strong>Name:</strong>  First and Last Name <br>
                            <strong>Job Title:</strong> [Serivce name] <br>
                            <strong>Career Cluster:</strong> [Career cluster name]
                        </div>
                        <h4 class="career-inner-title"><span>"</span> I have gained much more confidence and feel that my leadership skills are more effective.<span>"</span></h4>
                    </div>
                    <div class="small-6 column">
                        <div class="career-slider-main">
                            <section class="career-slider slider">
                                <div>
                                    <img src="../images/career-profile.jpg">
                                </div>
                                <div>
                                    <img src="../images/career-profile.jpg">
                                </div>
                                <div>
                                    <img src="../images/career-profile.jpg">
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
         <div class="row">

            <div class="medium-12 column full-black-text">
				<div class="row">
                	<div class="small-12 medium-6 large-6 column">
                        <div class="hide-for-medium">               
                            <div class="snap-shot-slides-main">
                                <section class="snap-shot-slides">
                                    <div>
                                        <div class="snap-shot-inner">
                                            <h4>What do you do after work/ on the weekend?</h4>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="snap-shot-inner">
                                            <h4>What do you do after work/ on the weekend?</h4>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="snap-shot-inner">
                                            <h4>What do you do after work/ on the weekend?</h4>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                        </div>
                                    </div>
                                </section>
                                <div class="snap-small">SNAP Shot</div>
                            </div>          
                        </div>              
                        <div class="show-for-medium">
                            <h4 class="career-inner-title"><span>"</span> I have gained much more confidence and feel that my leadership skills are more effective.<span>"</span></h4>
                            <hr>
                        </div>
                    	<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</h5>
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</h5>
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</h5>
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua?</h5>
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    
                    <div class="small-12 medium-6 large-6 column show-for-medium">
                    	<div class="career-slider-main">
                            <section class="career-slider slider">
                                <div>
                                    <img src="../images/career-profile.jpg">
                                </div>
                                <div>
                                    <img src="../images/career-profile.jpg">
                                </div>
                                <div>
                                    <img src="../images/career-profile.jpg">
                                </div>
                            </section>
                            <div class="career-slider-details">
                                <strong>Name:</strong>  First and Last Name <br>
                                <strong>Job Title:</strong> [Serivce name] <br>
                                <strong>Career Cluster:</strong> [Career cluster name]
                            </div>
                        </div>
                        
                        <div class="snap-shot-slides-main">
                            <section class="snap-shot-slides">
                                <div>
                                    <div class="snap-shot-inner">
                                        <h4>What do you do after work/ on the weekend?</h4>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="snap-shot-inner">
                                        <h4>What do you do after work/ on the weekend?</h4>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="snap-shot-inner">
                                        <h4>What do you do after work/ on the weekend?</h4>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                    </div>
                                </div>
                            </section>
                            <div class="snap-small">SNAP Shot</div>
                        </div>                        
                    </div>                                    
                </div>
            </div>


         </div>
         <div class="row">
            <div class="small-12 medium-4 columns">
              <h6>Related Careers:</h6>
              <p>
                <strong>Military</strong><br>
                <a href="#">Geographic Information Systems Technicians</a><br>
                <a href="#">Geoscientists Except Hydrologists and Geographers</a>
              </p>
              <p>
                <strong>Civilian</strong><br>
                <a href="#">Technologists</a><br>
              </p>
            </div>
            <div class="small-12 medium-4 columns">
              <h6>Career Profiles:</h6>
              <p>
                <a href="#">Chanise Cyrus, Physician Assistant</a><br>
                <a href="#">Darius Collier, Air Transportation</a><br>
                <a href="#">Salman Ahmed Syed, Heavy Equipment Operator</a><br>
                <a href="#">Brandon Abdallah, Avionics Electrical Technician</a><br>
              </p>
            </div>
            <div class="small-12 medium-4 columns">
              <h6>Hot jobs:</h6>
              <p>
                <a href="#">Aircraft Mechanics</a><br>
                <a href="#">Armored Assauli Vehicle Crew Members</a>
                <a href="#">Human Resources Specialists</a>
                <a href="#">Infantry</a>
                <a href="#">Supply and Warehousing Managers</a>
              </p>
            </div>
          </div>
         
        </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/slick.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
	<script type="text/javascript">
      $(document).on('ready', function() {
        $(".career-slider").slick({
          dots: false,
          infinite: true,
		  prevArrow: '<button type="button" class="slick-prev" role="button"><img src="../images/career-left-arrow.png"></button>',
		  nextArrow: '<button type="button" class="slick-next" role="button"><img src="../images/career-right-arrow.png"></button>',
		  autoplay: true,
		  autoplaySpeed: 3500,
		  speed: 1500,
          slidesToShow: 1,
          slidesToScroll: 1,
		  responsive: [
			{
			  breakpoint: 640,
			  settings: {
				arrows: false
			  }
			}
		  ]
        });
      });
    </script>
	<script type="text/javascript">
      $(document).on('ready', function() {
        $(".snap-shot-slides").slick({
          dots: false,
          infinite: true,
		  prevArrow: '<button type="button" class="slick-prev" role="button"><img src="../images/arrow-left-red.png"></button>',
		  nextArrow: '<button type="button" class="slick-next" role="button"><img src="../images/arrow-right-red.png"></button>',
          slidesToShow: 1,
		  speed: 1500,
          slidesToScroll: 1
        });
      });
    </script>
    
  </body>
</html>