<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css?ver=0.9">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>
    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body id="career-path" ng-controller="AccordionCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section">
      
      <div class="row column">
        <h2 class="page-title">
          <span class="caps">Career Path</span> <br/>
          <span style="font-weight: normal;">Electronic Instrument and Equipment Repairers</span>
        </h2>
        <hr class="show-for-medium" />
      </div>
      
      <div id="interaction" class="row column">
        <div class="row">
          <div id="msJoin" class="small-12 columns">
            <h3 id="mobileheader"><span>Milestones</span></h3>
            <div id="ms1" class="msCircle" data-img-src="../images/food-service.jpg">
              <div class="msContent">
                <h4><strong>1</strong></h4>
                <p>Electronic Instrument and Equipment Repairer</p>
                <div class="description">
                  <h5>Electronic Maintenance Superintendent | <strong>Entry</strong></h5>
                  <p>Electronic maintenance superintendents direct an entire repair facility. They plan for needed personnel, equipment, parts, and supplies. They set up quality control standards and conduct inspections to ensure that guidelines are met. They also write technical and administrative reports and develop training programs.</p>
                </div>
              </div>
            </div>
            <div id="ms2" class="msCircle" data-img-src="../images/food-service.jpg">
              <div class="msContent">
                <h4><strong>2</strong></h4>
                <p>Shop Supervisor</p>
                <div class="description">
                  <h5>Electronic Maintenance Superintendent | <strong>Entry</strong></h5>
                  <p>Electronic maintenance superintendents direct an entire repair facility. They plan for needed personnel, equipment, parts, and supplies. They set up quality control standards and conduct inspections to ensure that guidelines are met. They also write technical and administrative reports and develop training programs.</p>
                </div>
              </div>
            </div>
            <div id="ms3" class="msCircle" data-img-src="../images/food-service.jpg">
              <div class="msContent">
                <h4><strong>3</strong></h4>
                <p>Senior Repairer</p>
                <div class="description">
                  <h5>Electronic Maintenance Superintendent | <strong>Entry</strong></h5>
                  <p>Electronic maintenance superintendents direct an entire repair facility. They plan for needed personnel, equipment, parts, and supplies. They set up quality control standards and conduct inspections to ensure that guidelines are met. They also write technical and administrative reports and develop training programs.</p>
                </div>
              </div>
            </div>
            <div id="ms4" class="msCircle" data-img-src="../images/food-service.jpg">
              <div class="msContent">
                <h4><strong>4</strong></h4>
                <p>Electronic Maintenance Superintendent</p>
                <div class="description">
                  <h5>Electronic Maintenance Superintendent | <strong>Entry</strong></h5>
                  <p>Electronic maintenance superintendents direct an entire repair facility. They plan for needed personnel, equipment, parts, and supplies. They set up quality control standards and conduct inspections to ensure that guidelines are met. They also write technical and administrative reports and develop training programs.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row column">
        <div class="career-detail"> 
          <div class="border column">
            <div class="row">
              <div class="small-12 columns">
                <h6>Featured Profile:</h6>
              </div>
              <div class="small-12 medium-4 columns">
                <img class="show-for-medium" src="../images/food-service.jpg"/>
              </div>
              <div class="small-12 medium-8 columns">
                <p><strong>Dwayne Robinson</strong></p>
                <p>I joined the Navy right after high school to travel and to learn a trade. After spending part of my first tour as a seaman apprentice working in the mess hall, I discovered that cooking was what I wanted to do. My first assignment was on the USS Waldron in Norfolk, VA, where I worked in the ship’s galley.</p>
                <p class="show-for-small-only"><img src="../images/food-service.jpg"/></p>
                <p class="buttons">
                  <a href="#" class="button">Read More</a>
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-4 columns">
              <h6>Related Careers:</h6>
              <p>
                <strong>Military</strong><br/>
                <a href="#">Geographic Information Systems Technicians</a><br/>
                <a href="#">Geoscientists Except Hydrologists and Geographers</a>
              </p>
              <p>
                <strong>Civilian</strong><br/>
                <a href="#">Technologists</a><br/>
              </p>
            </div>
            <div class="small-12 medium-4 columns">
              <h6>Recently Viewed:</h6>
              <p>
                <a href="#">Geographic Information Systems Technicians</a><br/>
                <a href="#">Geoscientists Except Hydrologists and Geographers</a><br/>
                <a href="#">Remote Sensing Scientists and Technologists</a><br/>
              </p>
            </div>
            <div class="small-12 medium-4 columns">
              <h6>Additional Career Information:</h6>
              <p>
                <a href="#">Related Career Paths</a><br/>
                <a href="#">Job Family</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
    <script src="../js/raterater.jquery.js"></script>
    <script src="../js/jquery.resizeOnApproach.1.0.js"></script>
    <script>

    $(document).ready(function () {
        function viewport() {
      var e = window, a = 'inner';
      if (!('innerWidth' in window )) {
        a = 'client';
        e = document.documentElement || document.body;
      }
      return { width : e[ a+'Width' ] , height : e[ a+'Height' ] };
    }
    
    var vpWidth = viewport().width; // This should match your media query

    if (vpWidth > 639) {
      $('.msCircle').resizeOnApproach({elementDefault: 40, elementClosest: 70,triggerDistance:200, setWidthAndHeight: true});  
    } else {    
      dotabs();
    }
    
    $( window ).resize(function() {
        var vpWidth = viewport().width;
      if (vpWidth > 639) {
        $('#msTabs').remove();
        if (!$('.msCircle').hasClass('expanded')) {
          $('.msCircle').resizeOnApproach({elementDefault: 40, elementClosest: 70,triggerDistance:200, setWidthAndHeight: true});
        }
      } else {
        if ($('#msTabs').length == 0) dotabs();
        $('#msJoin').unbind('mousemove');
        //reset
        $('.msCircle').removeClass('expanded').removeClass('collapsed').removeAttr('style');
        $('#joinNav').remove();
        $('.msCircle span').show();
        $('.msCircle .description').hide();
      }
    });
    
    $('.msCircle').on('click', function(){
      var vpWidth = viewport().width;
      if (vpWidth > 639) {
        if(!$(this).hasClass('expanded')) expandCircle($(this));      
      } else {
        var id = 'tab-'+$(this).attr('id');
        $('.msCircle').removeClass('selected active');
        $(this).addClass('selected');
        $('.msContainer.active').removeClass('active').fadeOut(200, function() {
          $('#'+id).addClass('active').fadeIn(200);  
        });
        
      }
    });
    
    // reset
    $('body').on('click', '#joinClose', function(){
      $('.msCircle').removeClass('expanded collapsed transition').addClass('close-transition').removeAttr('style');
      $('#joinNav').remove();
      $('.msCircle span').show();
      $('.msCircle .description').hide();
      $('.msCircle').resizeOnApproach({elementDefault: 40, elementClosest: 70,triggerDistance:200, setWidthAndHeight: true});
       setTimeout(function(){$('.msCircle').removeClass('close-transition');},1000);
    });
    
    // arrow navigation
    $('body').on('click', '#joinNav > a',  function(){
      var $current, ind;
      
      if ($(this).attr('id') == 'joinClose')
        return false;

      if ($(this).attr('id') == 'joinLeft') {
        $current = $('.expanded').prev('.msCircle');
        ind = 3;
      } else {
        $current = $('.expanded').next('.msCircle');
        ind = 0;
      }
      
      if ( $current.length ) { 
        expandCircle($current);
      } else  { 
        expandCircle($( '.msCircle' ).eq(ind));
      }
      return false;
    });
    
    // expand/collapse animations
    function expandCircle($selected) {
      $('#msJoin').unbind('mousemove');
      $('#joinNav').remove();
      $('.description, .msCircle span').hide();
      $('.msCircle').removeClass('expanded').addClass('transition').addClass('collapsed').removeAttr('style').css('float','left');
      var color = $selected.css('backgroundColor');
      var image = 'url(' + $selected.data('img-src') + ')'; //data attr
      var joinNav = '<div id="joinNav"><a href="#" id="joinLeft" class="transition" style="background-color:'+color+'"></a><a href="#" id="joinRight" class="transition" style="background-color:'+color+'"></a><a href="#" id="joinClose" class="transition" style="background-color:'+color+'">&times;</a></div>'; 
      $selected.removeClass('collapsed').addClass('expanded').css({'border-color':color, 'background-image':image}).prepend(joinNav);
      $('.description, span', $selected).delay(500).fadeIn( 400 );
    }
    
    // scripts for mobile version
    function dotabs() { 
      $('#msJoin').append('<div id="msTabs"></div>');
      $('.msContent').each(function(i){
        image = '<img src="' + $(this).parent().data('img-src') + '">'; //data attr
        desc = $('.description', this).html() + image;
        show = (i == 0) ? 'style="display:block"' : '';
        active = (i != 0) ? '' : 'active';
      $('#msTabs').append('<div id="tab-'+$(this).closest('.msCircle').attr('id')+'" class="msContainer '+active+'" '+show+'>'+desc+'</div>');
        $('.msCircle').removeClass('selected').eq(0).addClass('selected');
      });
    }
    
    if ($('.bxslider3wide').length || $('.bxslider2wide').length) {
            $(".bx-default-pager").addClass("tag-home");
        }
        
    });
    
    </script>

  </body>
</html>
