<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>

    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body>
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section">
    
      <div class="row column search-bar">
        <div class="row">
          <div class="medium-12 columns">
            <a href="career-cluster.html">
              <i class="icon-left hide-for-medium"></i> 
              <span class="show-for-medium">Back to</span> Career Cluster List
            </a>
          </div>
        </div>
        <hr class="show-for-medium" />
      </div>
      
      <div id="boot-camp">
         <div class="row column">
           <h3 class="title">Agriculture, Food & Natural Resources</h3>
         </div>  
         <div class="row all-data">

            <div class="medium-12 column full-black-text career-cluster">
				<div class="row">
                	<div class="small-12 medium-12 large-12 column">
                     	<div class="pathway-list">
                            <p><b>Pathway 1: Agribusiness Systems</b></p>
                            <p>Agribusiness is the coordination of all activities that contribute to the production, processing, marketing, distribution, financing and development of agricultural commodities and resources. This includes food, fiber, wood products, natural resources, horticulture, and other plant and animal products and services. Agribusiness is a high-tech industry that uses satellite systems, computer databases and spreadsheets, biotechnology and many other innovations to increase efficiency and profitability.</p>
                            <div class="row">
                                <div class="medium-7 column">
                                    <p><b>Sample Occupations</b></p>
                                    <ul>
                                        <li><a href="#">Farm and Ranch Managers</a></li>
                                        <li><a href="#">Aquacultural Managers</a></li>
                                        <li><a href="#">Buyers and Purchasing Agents, Farm Products </a></li>
                                        <li><a href="#">Farm Labor Contractors </a></li>
                                    </ul>
                                </div>
                                <div class="medium-5 column">
                                    <div class="pathway-img">
                                        <img align="right" src="../images/pathway-1.jpg">
                                        <span>Farm and Ranch Managers</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pathway-list">
                            <p><b>Pathway 2: Animal Systems</b></p>
                            <p>People who work in the Animal Systems pathway work to develop better, more efficient ways of producing and processing meat, poultry, eggs and dairy products. They study genetics, nutrition, reproduction, growth and development of domesticated farm animals. Some individuals inspect and grade livestock food products, purchase livestock or work in technical sales or marketing. Others advise agricultural producers on how to upgrade animal housing facilities properly, lower mortality rates, handle waste matter or increase production of animal products, such as milk or eggs. Animal care workers train, feed, water, groom, bathe and exercise animals. They also clean, disinfect and repair their cages.</p>
                            <div class="row">
                                <div class="medium-7 column">
                                    <p><b>Sample Occupations</b></p>
                                    <ul>
                                        <li><a href="#">Animal Scientists</a></li>
                                        <li><a href="#">Nonfarm Animal Caretakers</a></li>
                                        <li><a href="#">Animal Breeders</a></li>
                                        <li><a href="#">Farmworkers, Farm, Ranch, and Aquacultural Animals</a></li>
                                    </ul>
                                </div>
                                <div class="medium-5 column">
                                    <div class="pathway-img">
                                        <img align="right" src="../images/pathway-2.jpg">
                                        <span>Nonfarm Animal Caretakers</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pathway-list">
                            <p><b>Pathway 3: Environmental Service Systems</b></p>
                            <p>People who work in the Environmental Service Systems pathway are involved in water and air pollution control, recycling, waste disposal and public health issues. Environmental engineers and technicians conduct hazardous-waste management studies, evaluate the significance of the hazard, offer analysis on treatment and containment, and develop regulations to prevent mishaps. They design municipal sewage and industrial wastewater systems. They analyze scientific data, research environmental projects and perform quality control checks.</p>
                            <div class="row">
                                <div class="medium-7 column">
                                    <p><b>Sample Occupations</b></p>
                                    <ul>
                                        <li><a href="#">Environmental Engineers</a></li>
                                        <li><a href="#">Environmental Engineering Technicians</a></li>
                                        <li><a href="#">Pest Control Workers</a></li>
                                        <li><a href="#">Hazardous Materials Removal Workers</a></li>
                                        <li><a href="#">Refuse and Recyclable Material Collectors</a></li>
                                    </ul>
                                </div>
                                <div class="medium-5 column">
                                    <div class="pathway-img">
                                        <img align="right" src="../images/pathway-3.jpg">
                                        <span>Hazardous Materials Removal Workers</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pathway-list">
                            <p><b>Pathway 4: Food Products and Processing</b></p>
                            <p>People who work in the Food Products and Processing Systems pathway discover new food sources, analyze food content and develop ways to process, preserve, package or store food according to industry and government regulations. They create new food products to meet consumer needs and inspect food-processing areas to ensure that sanitation, safety, quality and waste management standards are met.</p>
                            <div class="row">
                                <div class="medium-7 column">
                                    <p><b>Sample Occupations</b></p>
                                    <ul>
                                        <li><a href="#">Food Scientists and Technologists</a></li>
                                        <li><a href="#">Agricultural Technicians</a></li>
                                        <li><a href="#">Food Science Technicians</a></li>
                                        <li><a href="#">First-Line Supervisors of Farming, Fishing, and Forestry</a></li>
                                        <li><a href="#">Graders and Sorters, Agricultural Products</a></li>
                                    </ul>
                                </div>
                                <div class="medium-5 column">
                                    <div class="pathway-img">
                                        <img align="right" src="../images/pathway-4.jpg">
                                        <span>Agricultural Technicians</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pathway-list">
                            <p><b>Pathway 5: Natural Resources Systems</b></p>
                            <p>People who work in the Natural Resources Systems pathway perform a variety of tasks from helping to develop, maintain, and manage the forest and natural environment to catching and trapping various types of marine life for human consumption, animal feed, bait and other uses. Forest and rangelands supply wood products, livestock forage, minerals and water; serve as sites for recreational activities; and provide habitats for wildlife. Conservation scientists and foresters manage, develop, use and help protect these and other natural resources.</p>
                            <div class="row">
                                <div class="medium-7 column">
                                    <p><b>Sample Occupations</b></p>
                                    <ul>
                                        <li><a href="#">Natural Sciences Managers</a></li>
                                        <li><a href="#">Geological Sample Test Technicians</a></li>
                                        <li><a href="#">Forest and Conservation Technicians</a></li>
                                        <li><a href="#">Fishers and Related Fishing Workers</a></li>
                                        <li><a href="#">Logging Equipment Operators</a></li>
                                    </ul>
                                </div>
                                <div class="medium-5 column">
                                    <div class="pathway-img">
                                        <img align="right" src="../images/pathway-5.jpg">
                                        <span>Natural Sciences Managers</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pathway-list">
                            <p><b>Pathway 6: Plant Systems</b></p>
                            <p>People who work in the Plant Systems pathway study plants and their growth. This helps producers of food, feed and fiber crops continue to feed a growing population while conserving natural resources and maintaining the environment. Individuals in this pathway also develop ways to improve the nutritional value of crops and the quality of seeds. They use genetic engineering to develop crops resistant to pests and drought.</p>
                            <div class="row">
                                <div class="medium-7 column">
                                    <p><b>Sample Occupations</b></p>
                                    <ul>
                                        <li><a href="#">Soil and Plant Scientists</a></li>
                                        <li><a href="#">Biological Technicians</a></li>
                                        <li><a href="#">Pesticide Handlers, Sprayers, and Applicators, Vegetation</a></li>
                                        <li><a href="#">Tree Trimmers and Pruners</a></li>
                                        <li><a href="#">Farmworkers and Laborers</a></li>
                                    </ul>
                                </div>
                                <div class="medium-5 column">
                                    <div class="pathway-img">
                                        <img align="right" src="../images/pathway-6.jpg">
                                        <span>Farmworkers and Laborers</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="pathway-list">
                            <p><b>Pathway 7: Power, Structural and Technical Systems</b></p>
                            <p>People who work in the Power, Structural and Technical Systems pathway apply knowledge of engineering, hydraulics, pneumatics, electronics, power, structures, and controls to the field of agriculture. They design agricultural structures as well as machinery and equipment. They develop ways to conserve soil and water and to improve the processing of agricultural products.</p>
                            <div class="row">
                                <div class="medium-7 column">
                                    <p><b>Sample Occupations</b></p>
                                    <ul>
                                        <li><a href="#">Agricultural Engineers</a></li>
                                        <li><a href="#">Agricultural Equipment Operators</a></li>
                                        <li><a href="#">Farm Equipment Mechanics and Service Technicians</a></li>
                                    </ul>
                                </div>
                                <div class="medium-5 column">
                                    <div class="pathway-img">
                                        <img align="right" src="../images/pathway-7.jpg">
                                        <span>Agricultural Equipment Operators</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row search-bar">
                  <div class="small-6 columns">
                    <a href="career-cluster.html">
                      <i class="icon-left hide-for-medium"></i> 
                      <span class="show-for-medium">Back to</span> Career Cluster List
                    </a>
                  </div>
                  <div class="small-6 columns text-right">
                    <a href="#">Back to Top</a>
                  </div>
                </div>
               <p>Note: The 16 Career Clusters were developed by the U.S. Department of Education. Your school/state may use a different set of career clusters. Contact your career counselor to fnd out more information.</p>
               
               <img src="../images/career-cluster-logo.jpg" class="career-cluster-logo">
               
            </div>


         </div>
        </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
    
  </body>
</html>
