<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css?ver=0.7">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>
    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="AccordionCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>  

    <div id="slide-menu">
      <ul>
        <li><a id="close" href="#">&times;</a>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Create an Account</a></li>
          </ul>
        </li>
        <li><span>Explore</span>
          <ul>
            <li><a href="#">Guided Exploration</a></li>
            <li><a href="#">Advanced Search</a></li>
            <li><a href="#">Browse</a></li>
          </ul>
        </li>
        <li><span>Careers</span>
          <ul>
            <li><a href="#">Career Cluster</a></li>
            <li><a href="#">Profiles</a></li>
          </ul>
        </li>
        <li><span>About the Military</span>
          <ul>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="#">Contact Us / FAQ</a></li>
          </ul>
        </li>
      </ul>
    </div>      
        
    <div id="main" class="section">
      <div class="row column search-bar back-top-link">
        <div class="row">
          <div class="medium-12 columns"> <a href="advanced-search"> <i class="icon-left hide-for-medium"></i> <span class="show-for-medium">Back to</span> Search Results </a> <span class="actions show-for-small-only"> </span> </div>
        </div>
        <hr class="show-for-medium">
      </div>
      <div class="row column">
        <div class="career-detail citm-detail-service-specific">
          <div class="row">
            <div class="small-12 columns">
              <h2> 
                <!-- ngIf: service == 'F' --> 
                <!-- ngIf: service == 'A' --> 
                <!-- ngIf: service == 'M' --> 
                <!-- ngIf: service == 'C' --> 
                <!-- ngIf: service == 'N' --><span >Navy: </span><!-- end ngIf: service == 'N' --> 
                
                <span class="actions show-for-medium"> </span> </h2>
            </div>
          </div>
          
          <!-- ngIf: service == 'F' --> 
          <!-- ngIf: service == 'F' && (serviceDetail.airforceCommunityMap.length > 0 && serviceDetail.airforceContextMap.length > 0 && serviceDetail.airforceActivityMap.length > 0) --> 
          <!-- ngIf: service == 'F' && (serviceDetail.airforceOfficerActivityMap.length > 0 && serviceDetail.airforceOfficerAttributeMap.length > 0 && serviceDetail.airforceOfficerCommunityMap.length > 0 && serviceDetail.airforceOfficerContextMap.length > 0) --> 
          <!-- ngIf: service == 'F' --> 
          
          <!-- ngIf: service == 'A' --> 
          <!-- ngIf: service == 'A' --> 
          
          <!-- ngIf: service == 'C' --> 
          <!-- ngIf: service == 'C' --> 
          
          <!-- ngIf: service == 'M' --> 
          <!-- ngIf: service == 'M' --> 
          
          <!-- ngIf: service == 'N' -->
          <div class="row">
            <div ng-class="{'medium-12' : !serviceDetail.rating, 'large-12' : !serviceDetail.rating}" class="small-12 medium-6 large-8 columns medium-12 large-12"> 
              <!-- ngIf: serviceDetail.description --> 
              <!-- ngIf: serviceDetail.physicalRequirement --> 
              <!-- ngIf: serviceDetail.minEducation --> 
              <!-- ngIf: serviceDetail.basicTraining --> 
              <!-- ngIf: serviceDetail.technicalTrainingDuration --> 
              <!-- ngIf: serviceDetail.techTrainingLocation --> 
              <!-- ngIf: serviceDetail.desiredHighSchoolCourses --> 
              <!-- ngIf: serviceDetail.citizenshipRequirement --> 
            </div>
            
            <!-- ngIf: serviceDetail.rating --> 
          </div>
          <!-- end ngIf: service == 'N' --> 
          <!-- ngIf: service == 'N' -->
          <div class="row">
            <div class="small-12 medium-12 large-12 columns">
              <div class="i-line"> <img src="../images/i-icon.png"><span>Contact a recruiter below for more details about this job.</span> </div>
              <div class="learn-more-box">
                <div class="learn-more-box-left"> <a target="_blank" href="https://www.navy.com"><img src="images/navy_big_icon.png"></a> </div>
                <div class="learn-more-box-right">
                  <div ng-controller="AddFavorites" class="learn-more-box-right-inner ng-scope">
                    <div class="learn-more-box-right-item"> <img src="images/website-icon.png">
                      <h6 ng-click="trackClick('#CITM_LEARNMORE')" ng-controller="GA" class="ng-scope">Learn more about <!-- ngIf: serviceDetail.link --><a target="_blank" href="" ng-if="serviceDetail.link" class="ng-binding ng-scope"></a><!-- end ngIf: serviceDetail.link --><!-- ngIf: !serviceDetail.link --></h6>
                    </div>
                    <div class="learn-more-box-right-item"> <img src="images/recruiter.png">
                      <h6 style="cursor: pointer" ng-click="serviceContactUsModal('Navy'); trackClick('#CITM_CONTACTRECRUITERSENT_NAVY_'+mcId+'_'+mocId)" ng-controller="GA" class="learn-more-box-greentext ng-scope">Contact a Navy recruiter</h6>
                    </div>
                    <div ng-controller="LogOutController" class="learn-more-box-right-item ng-scope"> 
                      <!-- ngRepeat: f in navyFiltered = (favoriteService | filter: {svcId : 'N'}) | limitTo:1 --> 
                      <!-- ngIf: navyFiltered.length == 0 --><img ng-click="isLoggedIn() != undefined ? [addService('N'), trackClick('#CITM_SRVADDFAV')] : alertNotLoggedIn()" ng-controller="GA" alt="" style="cursor: pointer" src="images/heart.png" ng-if="navyFiltered.length == 0" class="ng-scope"><!-- end ngIf: navyFiltered.length == 0 -->
                      <h6 class="learn-more-box-greentext"><!-- ngIf: navyFiltered.length == 0 --><span ng-if="navyFiltered.length == 0" class="ng-scope">Add Navy To Favorites</span><!-- end ngIf: navyFiltered.length == 0 --><!-- ngIf: navyFiltered.length != 0 --></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end ngIf: service == 'N' -->
          
          <div class="row">
            <div class="small-12 medium-4 columns">
              <h6>Related Careers:</h6>
              <p> <strong>Military</strong><br>
                <!-- ngRepeat: r in relatedCareer --><span ng-repeat="r in relatedCareer" class="ng-scope"> <a href="career-detail/0032.00" class="ng-binding">Communications Equipment Operators</a><br>
                </span><!-- end ngRepeat: r in relatedCareer --><span ng-repeat="r in relatedCareer" class="ng-scope"> <a href="career-detail/0059.00" class="ng-binding">Flight Operations Specialists</a><br>
                </span><!-- end ngRepeat: r in relatedCareer --><span ng-repeat="r in relatedCareer" class="ng-scope"> <a href="career-detail/0124.00" class="ng-binding">Preventive Maintenance Analysts</a><br>
                </span><!-- end ngRepeat: r in relatedCareer --><span ng-repeat="r in relatedCareer" class="ng-scope"> <a href="career-detail/0126.00" class="ng-binding">Programmers and Developers</a><br>
                </span><!-- end ngRepeat: r in relatedCareer --><span ng-repeat="r in relatedCareer" class="ng-scope"> <a href="career-detail/0152.00" class="ng-binding">Transportation Specialists</a><br>
                </span><!-- end ngRepeat: r in relatedCareer --> 
              </p>
              <p> <strong>Civilian</strong><br>
                <!-- ngRepeat: r in civilianRelatedCareer --><span ng-repeat="r in civilianRelatedCareer" class="ng-scope"> <a href="http://www.asvabprogram.com/occufind-occupation-details/53-2021.00" target="_blank" class="ng-binding">Air Traffic Controllers</a><br>
                </span><!-- end ngRepeat: r in civilianRelatedCareer --><span ng-repeat="r in civilianRelatedCareer" class="ng-scope"> <a href="http://www.asvabprogram.com/occufind-occupation-details/55-3015.00" target="_blank" class="ng-binding">Command and Control Center Specialists</a><br>
                </span><!-- end ngRepeat: r in civilianRelatedCareer --><span ng-repeat="r in civilianRelatedCareer" class="ng-scope"> <a href="http://www.asvabprogram.com/occufind-occupation-details/55-2013.00" target="_blank" class="ng-binding">First-Line Supervisors of All Other Tactical Operations Specialists</a><br>
                </span><!-- end ngRepeat: r in civilianRelatedCareer --> 
              </p>
            </div>
            <div class="small-12 medium-4 columns">
              <h6>Recently Viewed:</h6>
              <p> 
                <!-- ngRepeat: r in recentlyViewed | orderBy:'$index':true --> 
              </p>
            </div>
            <div class="small-12 medium-4 columns">
              <h6>Additional Career Information:</h6>
              <p> 
                <!-- ngRepeat: a in additionalInfo --> 
                <span> 
                <!-- ngIf: milCareer.officer == 'T' --><br>
                <!-- ngIf: milCareer.enlisted == 'T' --><a href="options-enlistment-requirements" target="_blank" ng-if="milCareer.enlisted == 'T'" class="ng-scope">Enlistment Requirements</a><!-- end ngIf: milCareer.enlisted == 'T' --><br>
                <!-- ngIf: milCareer.enlisted == 'T' --><a href="options-boot-camp-services" target="_blank" ng-if="milCareer.enlisted == 'T'" class="ng-scope">Physical Requirements</a><!-- end ngIf: milCareer.enlisted == 'T' --><br>
                <!-- ngIf: milCareer.enlisted == 'T' --><a href="options-contact-recruiter" target="_blank" ng-if="milCareer.enlisted == 'T'" class="ng-scope">Find a Recruiter</a><!-- end ngIf: milCareer.enlisted == 'T' --><br>
                </span> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/slick.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
    <script src="../js/raterater.jquery.js"></script>
	<script type="text/javascript">
      $(document).on('ready', function() {
        $(".snap-shot-slides").slick({
          dots: false,
          infinite: true,
		  prevArrow: '<button type="button" class="slick-prev" role="button"><img src="../images/arrow-left-red.png"></button>',
		  nextArrow: '<button type="button" class="slick-next" role="button"><img src="../images/arrow-right-red.png"></button>',
          slidesToShow: 1,
		  speed: 1500,
          slidesToScroll: 1
        });
      });
    </script>    
  </body>
</html>
