<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css?ver=0.7">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>
    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="AccordionCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section">
      
      <div class="row column">
        <div class="compare">
          <div class="row">
            <div class="small-12 columns">
              <h2 class="page-title caps"> Compare Occupations
              </h2>
            </div>
          </div>

          <div class="row search-bar"><div class="small-12 columns">
            <a href="#">
              <i class="icon-left hide-for-medium"></i> 
              <strong><span class="show-for-medium">Back to</span> Favorites</strong>
            </a>
            <span class="actions">
              <a href="#"><span class="show-for-medium">Download PDF</span> <i class="icon-save"></i></a>
              <a href="#"><span class="show-for-medium">Print</span> <i class="fa fa-print"></i></a>
            </span>
            <hr class="show-for-medium" />
          </div></div>
          
          <div class="row">
            <div class="medium-12 columns" role="main">                        
              <div id="compare-table">
                
                <table>
                  <tbody><tr>
                    <td>
                      <h3>Occupational Therapy Aides <i class="icon-hotjob"></i></h4>
                      <div class="row">
                        <section id="interest-codes" class="medium-12 columns">
                          <h4>INTEREST CODES</h4>
                          <ul class="icodes">
                            <li class="code-s">Social</li>
                            <li class="code-r">Realistic</li>
                            <li class="code-c">Conventional</li>
                          </ul>
                        </section>
                        <section id="skill-importance" class="medium-12 columns">
                          <h4>Skill Importance</h4>
                          <ul>
                            <li><span class="starrr-label">Math:</span> <div class="ratebox" data-id="1" data-rating="3.7"></div></li>
                            <li><span class="starrr-label">Verbal:</span> <div class="ratebox" data-id="2" data-rating="0"></div></li>
                            <li><span class="starrr-label">Science / Technical:</span> <div class="ratebox" data-id="3" data-rating="5"></div></li>
                          </ul>
                        </section>
                        <section class="large-12 columns">
                          <h4>Services Offering <br>
                          this Occupation</h4>
                          <p><img src="../images/army.png"> <img src="../images/air-force.png"> <img src="../images/navy.png"> <img src="../images/marines.png"> <img src="../images/coast-guard.png"> <img src="../images/natl-guard.png"></p>
                        </section>
                        <section class="large-12 columns">
                          <h4>Type</h4>
                          <ul class="checked">
                            <li>Enlisted</li>
                            <li class="inactive">Officer</li>
                            <li>Entry Level</li>
                            <li>Open to Women</li>
                            <li>Active Duty</li>
                            <li class="inactive">Reserve</li>
                          </ul>
                        </section>
                        <section class="large-12 columns plain">
                          <h4>Helpful Attributes</h4>
                          <ul>
                            <li>Interested in cooking</li>
                            <li>Interested in working with hands</li>
                          </ul>
                        </section>
                        <section class="large-12 columns plain">
                          <h4>Notes</h4>
                          <p>Your Personal notes on this occupation would go here.</p>
                        </section>
                      </div>
                    </td>
                    <td>
                      <h3>Occupational Therapy Aides <i class="icon-hotjob"></i></h4>
                      <div class="row">
                        <section id="interest-codes" class="medium-12 columns">
                          <h4>INTEREST CODES</h4>
                          <ul class="icodes">
                            <li class="code-s">Social</li>
                            <li class="code-r">Realistic</li>
                            <li class="code-c">Conventional</li>
                          </ul>
                        </section>
                        <section id="skill-importance" class="medium-12 columns">
                          <h4>Skill Importance</h4>
                          <ul>
                            <li><span class="starrr-label">Math:</span> <div class="ratebox" data-id="1" data-rating="3.7"></div></li>
                            <li><span class="starrr-label">Verbal:</span> <div class="ratebox" data-id="2" data-rating="0"></div></li>
                            <li><span class="starrr-label">Science / Technical:</span> <div class="ratebox" data-id="3" data-rating="5"></div></li>
                          </ul>
                        </section>
                        <section class="large-12 columns">
                          <h4>Services Offering <br>
                          this Occupation</h4>
                          <p><img src="../images/army.png"> <img src="../images/air-force.png"> <img src="../images/navy.png"> <img src="../images/marines.png"> <img src="../images/coast-guard.png"> <img src="../images/natl-guard.png"></p>
                        </section>
                        <section class="large-12 columns">
                          <h4>Type</h4>
                          <ul class="checked">
                            <li>Enlisted</li>
                            <li class="inactive">Officer</li>
                            <li>Entry Level</li>
                            <li>Open to Women</li>
                            <li>Active Duty</li>
                            <li class="inactive">Reserve</li>
                          </ul>
                        </section>
                        <section class="large-12 columns plain">
                          <h4>Helpful Attributes</h4>
                          <ul>
                            <li>Interested in cooking</li>
                            <li>Interested in working with hands</li>
                          </ul>
                        </section>
                        <section class="large-12 columns plain">
                          <h4>Notes</h4>
                          <p>Your Personal notes on this occupation would go here.</p>
                        </section>
                      </div>
                    </td>
                    <td>
                      <h3>Occupational Therapy Aides <i class="icon-hotjob"></i></h4>
                      <div class="row">
                        <section id="interest-codes" class="medium-12 columns">
                          <h4>INTEREST CODES</h4>
                          <ul class="icodes">
                            <li class="code-s">Social</li>
                            <li class="code-r">Realistic</li>
                            <li class="code-c">Conventional</li>
                          </ul>
                        </section>
                        <section id="skill-importance" class="medium-12 columns">
                          <h4>Skill Importance</h4>
                          <ul>
                            <li><span class="starrr-label">Math:</span> <div class="ratebox" data-id="1" data-rating="3.7"></div></li>
                            <li><span class="starrr-label">Verbal:</span> <div class="ratebox" data-id="2" data-rating="0"></div></li>
                            <li><span class="starrr-label">Science / Technical:</span> <div class="ratebox" data-id="3" data-rating="5"></div></li>
                          </ul>
                        </section>
                        <section class="large-12 columns">
                          <h4>Services Offering <br>
                          this Occupation</h4>
                          <p><img src="../images/army.png"> <img src="../images/air-force.png"> <img src="../images/navy.png"> <img src="../images/marines.png"> <img src="../images/coast-guard.png"> <img src="../images/natl-guard.png"></p>
                        </section>
                        <section class="large-12 columns">
                          <h4>Type</h4>
                          <ul class="checked">
                            <li>Enlisted</li>
                            <li class="inactive">Officer</li>
                            <li>Entry Level</li>
                            <li>Open to Women</li>
                            <li>Active Duty</li>
                            <li class="inactive">Reserve</li>
                          </ul>
                        </section>
                        <section class="large-12 columns plain">
                          <h4>Helpful Attributes</h4>
                          <ul>
                            <li>Interested in cooking</li>
                            <li>Interested in working with hands</li>
                          </ul>
                        </section>
                        <section class="large-12 columns plain">
                          <h4>Notes</h4>
                          <p>Your Personal notes on this occupation would go here.</p>
                        </section>
                      </div>
                    </td>
                    <td>
                      <h3>Occupational Therapy Aides <i class="icon-hotjob"></i></h4>
                      <div class="row">
                        <section id="interest-codes" class="medium-12 columns">
                          <h4>INTEREST CODES</h4>
                          <ul class="icodes">
                            <li class="code-s">Social</li>
                            <li class="code-r">Realistic</li>
                            <li class="code-c">Conventional</li>
                          </ul>
                        </section>
                        <section id="skill-importance" class="medium-12 columns">
                          <h4>Skill Importance</h4>
                          <ul>
                            <li><span class="starrr-label">Math:</span> <div class="ratebox" data-id="1" data-rating="3.7"></div></li>
                            <li><span class="starrr-label">Verbal:</span> <div class="ratebox" data-id="2" data-rating="0"></div></li>
                            <li><span class="starrr-label">Science / Technical:</span> <div class="ratebox" data-id="3" data-rating="5"></div></li>
                          </ul>
                        </section>
                        <section class="large-12 columns">
                          <h4>Services Offering <br>
                          this Occupation</h4>
                          <p><img src="../images/army.png"> <img src="../images/air-force.png"> <img src="../images/navy.png"> <img src="../images/marines.png"> <img src="../images/coast-guard.png"> <img src="../images/natl-guard.png"></p>
                        </section>
                        <section class="large-12 columns">
                          <h4>Type</h4>
                          <ul class="checked">
                            <li>Enlisted</li>
                            <li class="inactive">Officer</li>
                            <li>Entry Level</li>
                            <li>Open to Women</li>
                            <li>Active Duty</li>
                            <li class="inactive">Reserve</li>
                          </ul>
                        </section>
                        <section class="large-12 columns plain">
                          <h4>Helpful Attributes</h4>
                          <ul>
                            <li>Interested in cooking</li>
                            <li>Interested in working with hands</li>
                          </ul>
                        </section>
                        <section class="large-12 columns plain">
                          <h4>Notes</h4>
                          <p>Your Personal notes on this occupation would go here.</p>
                        </section>
                      </div>
                    </td>
                  </tr>
                </tbody></table>
                
        
              </div>        
            </div>
          </div>

        </div>
      </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
    <script src="../js/raterater.jquery.js"></script>

    <script>
      $(document).ready(function(){


        $(function() {
          $( '.ratebox' ).raterater({ 

          // allow the user to change their mind after they have submitted a rating
          allowChange: false,

          // width of the stars in pixels
          starWidth: 12,

          // spacing between stars in pixels
          spaceWidth: 0,

          numStars: 5,
          isStatic: true,
          step: false,
          });      
        });

      });
    </script>
  </body>
</html>
