<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>

    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body class="modal-open">
    
    <!-- modal -->

  <div id="contact-modal" modal-render="true" tabindex="-1" role="dialog" class="modal fade ng-isolate-scope in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1050 + index*10, display: 'block'}" uib-modal-window="modal-window" size="lg" index="0" animate="animate" modal-animation="true" style="z-index: 1050; display: block;">
      <div class="modal-header ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Contact a Recruiter</h3>
      </div>
      <div class="modal-body ng-scope">
        <div class="row">
          
          <div class="small-12 column full-black-text contact-text-modal">
            <form class="contact-form">
                <div class="form-group">
                    <label>I am a</label>
                    <select>
                        <option value="Name">select one</option>
                    </select>
                </div>
                <div class="form-group clearfix">
                    <div class="form-column">
                        <label>First Name</label>
                        <input name="first_name" type="text">
                    </div>
                    <div class="form-column">
                        <label>Last Name</label>
                        <input name="last_name" type="text">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="form-column">
                        <label>Email</label>
                        <input name="last_name" type="email">
                    </div>
                    <div class="form-column zip-code">
                        <label>Zip Code</label>
                        <input name="zip_code" type="text">
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="form-column city">
                        <label>City</label>
                        <input name="city" type="text" placeholder="optional">
                    </div>
                    <div class="form-column state">
                        <label>State</label>
                        <input name="state" type="text" placeholder="optional">
                    </div>
                </div>
                <div class="form-ssq form-group">
                    <p>Check all that apply.</p>
                    <div class="air-force-check">
                        <img src="../images/airforce_big_icon.png">
                        <ul>
                            <li>
                                <div class="checkbox">
                                    <input id="air_force_all" type="checkbox">
                                    <label>Air Force All</label>
                                </div>
                                <ul>
                                    <li>
                                        <div class="checkbox">
                                            <input name="air_force_all" type="checkbox" value="1">
                                            <label>Air Force Active Duty</label>
                                            
                                        </div>
                                        <div class="tel-number"><b>800-423-USAF</b> (1-800-423-8723)</div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <input name="air_force_all" type="checkbox" value="2">
                                            <label>Air Force Reserve</label>
                                        </div>
                                        <div class="tel-number"><b>1-800-257-1212</b></div>
                                    </li>
                                    <li>
                                        <div class="checkbox">
                                            <input name="air_force_all" type="checkbox" value="3">
                                            <label>Air Force National Guard</label>
                                        </div>
                                        <div class="tel-number"><b>800-TO-GO-ANG</b> (1-800-864-6264)</div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group ascab_cep">
                	<div class="checkbox">
                        <input name="asvab" type="checkbox">
                        <label>I participated in the ASVAB CEP</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea name="message"></textarea>
                </div>

                <div class="close-button-div">
                  <button class="button btn-submit" type="submit">Submit</button>
                  <button class="button btn-close" type="button" ng-click="ok()">close</button>
                </div>
              
            </form>
          </div>
            
        </div>
      </div>
</div>
<div class="modal-backdrop fade in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" uib-modal-backdrop="modal-backdrop" modal-animation="true" style="z-index: 1040;"></div>


   <!-- modal end -->
   
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section home">
      <div id="boot-camp">
        </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
