<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css?ver=0.7">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>
    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="ServicespecificCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>  

    <div id="slide-menu">
      <ul>
        <li><a id="close" href="#">&times;</a>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Create an Account</a></li>
          </ul>
        </li>
        <li><span>Explore</span>
          <ul>
            <li><a href="#">Guided Exploration</a></li>
            <li><a href="#">Advanced Search</a></li>
            <li><a href="#">Browse</a></li>
          </ul>
        </li>
        <li><span>Careers</span>
          <ul>
            <li><a href="#">Career Cluster</a></li>
            <li><a href="#">Profiles</a></li>
          </ul>
        </li>
        <li><span>About the Military</span>
          <ul>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="#">Contact Us / FAQ</a></li>
          </ul>
        </li>
      </ul>
    </div>      
        
    <div id="main" class="section">
      
      <div class="row column search-bar back-top-link">
        <div class="row">
          <div class="medium-12 columns">
            <a href="#">
              <i class="icon-left hide-for-medium"></i> 
              <span class="show-for-medium">Back to</span> Search Results
            </a>
            <span class="actions show-for-small-only">
              <i class="icon-notes"></i> 
              <i class="icon-heart-ol"></i> 
            </span>
          </div>
        </div>
        <hr class="show-for-medium" />
      </div>
      
      <div class="row column">
        <div class="career-detail citm-detail-service-specific">
          <div class="row">
            <div class="small-12 columns">
              <h2>
                <span>Air Force: </span>Aerospace Ground Equipment
                <span class="actions show-for-medium">
                  <i class="icon-notes"></i> 
                  <i class="icon-heart-ol"></i> 
                </span>
              </h2>
            </div>
          </div>
          
          <div class="row">
            <div class="small-12 medium-6 large-8 columns">
              <p>Maintains aerospace ground equipment (AGE) to support aircraft systems or subsystems. Manages AGE functions and activities.</p>
              <p><strong>Job Tasks:</strong> Performs scheduled and unscheduled maintenance on AGE. Diagnoses malfunctions and repairs AGE. Establishes production controls and standards. Interprets and implements policy directives and instructions pertaining to maintenance, including environmentally safe maintenance practices. Determines resource requirements, including facilities, training, equipment, and supplies.</p>
              <p><strong>Minimum Education:</strong> High school diploma, GED with 15 college credits, or GED.</p>
              <p><strong>Basic Training:</strong> 7.5 weeks</p>
              <p><strong>Technical Training:</strong> 95 days</p>
              <p><strong>Tech School Location:</strong> Sheppard AFB TX</p>
              <p><strong>Desired High School Courses:</strong> Courses in general science and industrial arts is desirable.</p>
            </div>
            <div class="small-12 medium-6 large-4 columns">
              <p><img class="video-modal1" src="../images/citm-detail-service-specific-video-img.jpg"/></p>
            </div>
          </div>
          
        <div class="row">
            <div class="small-12 medium-12 large-12 columns">
            	<div class="garybg-samlltitle text-center">A DAY IN THE LIFE</div>
                <div class="row">
                	<div class="medium-5 large-4 columns">
                    	<div class="small-toggle">
                            <p class="samll-toggle-title"><b>FUNCTIONAL COMMUNITIES:</b></p>
                        	<uib-accordion> 
                              <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                                  <uib-accordion-heading>Aviation & Avionics, <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                                    Aviation & Avionics,
                              </uib-accordion-group>
                              
                              <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                                  <uib-accordion-heading>Mechanical & Electrical <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                                    Mechanical & Electrical
                              </uib-accordion-group>
                          
                      </uib-accordion>
                        </div>
                    </div>
                    <div class="medium-3 large-4 columns">
                    	<div class="life-list">
                            <p><b>JOB CONTEXT:</b></p>
                            <ul>
                                <li>Indoor</li>
                                <li>Outdoor</li>
                                <li>Industrial</li>
                                <li>Physical</li>
                                <li>Work Independently</li>
                                <li>Work With Team</li>
                                <li>Hazardous</li>
                            </ul>
                        </div>
                    </div>
                    <div class="medium-4 large-4 columns">
                    	<div class="life-list">
                            <p><b>WORK ACTIVITIES:</b></p>
                            <ul>
                                <li>Maintain Documents</li>
                                <li>Maintain Electrical Equipment</li>
                                <li>Maintain Mechanical Equipment</li>
                                <li>Maintain Supplies</li>
                                <li>Operate Electrical Equipment</li>
                                <li>Operate Mechanical Equipment</li>
                                <li>Train People & Customers</li>
                            </ul>
                        </div>
                    </div>
                </div>   
            </div>
        </div>          

          <div class="row">
            <div class="small-12 medium-12 large-12 columns">
              <div class="learn-more-box">
              	<div class="learn-more-box-left">
                	<img src="../images/airforce_big_icon.png" >
                </div>
              	<div class="learn-more-box-right">
                	<div class="learn-more-box-right-inner">
                        <div class="learn-more-box-right-item">
                            <img src="../images/website-icon.png" ><h6>Learn more about Aerospace Ground Equipment: <span class="active-duty"><a href="#">Active Duty</a> <span> | </span><a href="#">Reserve</a></span></h6>
                        </div>
                        <div class="learn-more-box-right-item">
                            <img src="../images/recruiter.png" ><h6 class="learn-more-box-greentext">Contact an Air Force recruiter.</h6>
                        </div>
                        <div class="learn-more-box-right-item">
                            <img src="../images/heart.png" ><h6 class="learn-more-box-greentext">Add Air Force to Favorites </h6>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="small-12 medium-4 columns">
              <h6>Related Careers:</h6>
              <p>
                <strong>Military</strong><br/>
                <a href="#">Geographic Information Systems Technicians</a><br/>
                <a href="#">Geoscientists Except Hydrologists and Geographers</a>
              </p>
              <p>
                <strong>Civilian</strong><br/>
                <a href="#">Technologists</a><br/>
              </p>
            </div>
            <div class="small-12 medium-4 columns">
              <h6>Recently Viewed:</h6>
              <p>
                <a href="#">Geographic Information Systems Technicians</a><br/>
                <a href="#">Geoscientists Except Hydrologists and Geographers</a><br/>
                <a href="#">Remote Sensing Scientists and Technologists</a><br/>
              </p>
            </div>
            <div class="small-12 medium-4 columns">
              <h6>Additional Career Information:</h6>
              <p>
                <a href="#">Related Career Paths</a><br/>
                <a href="#">Job Family</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
    <script src="../js/raterater.jquery.js"></script>
    <script src="../js/jquery.showYtVideo.js"></script>
    <script>
     jQuery(document).ready(function ($) {
        $('.video-modal1').on('click', function () {
            $.showYtVideo({
                videoId: 'DTeVrJfqNG0'
            });
        });
    });
    </script>
  </body>
</html>
