<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>
    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="AccordionCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided" class="active"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section home">
      <div id="step2">
        <div class="row column">
            <h3>Guided Exploration</h3>
            <p class="description show-for-medium"><strong>Answer these questions based on your preferences. We'll make recommendations just for you.</strong></p>   
          </div>  

          <div class="row show-for-small-only">
            <div class="small-12 medium-9 medium-centered columns">
              <ol class="progress-bar progress-bar-mobile">
                <li data-step="1" class="is-active">
                  <span class="progress-line"></span>
                </li>
                <li data-step="2">
                  <span class="progress-line"></span>
                </li>
                <li data-step="3">
                  <span class="progress-line"></span>
                </li>
                <li data-step="4">
                  <span class="progress-line"></span>
                </li>
                <li data-step="5" class="progress__last">
                  <span class="progress-line"></span>
                </li>
              </ol>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-5 columns">
              
              <div class="question-group" id="question-1">
                <p class="question">Can you see yourself?</p>
                <p class="show-for-medium">(Select all that apply.)</p>
                <div class="group-1">
                  <input type="checkbox" id="c1" /><label for="c1">Reading and writing</label><br/>
                  <input type="checkbox" id="c2" /><label for="c2">Working with machines</label><br/>
                  <input type="checkbox" id="c3" /><label for="c3">Speaking foreign languages</label><br/>
                  <div class="show-for-small-only">
                    <input type="checkbox" id="c9" /><label for="c9">None of the above</label><br/>
                  </div>
                </div>
                <div class="group-2">
                  <input type="checkbox" id="c4" /><label for="c4">Helping others</label><br/>
                  <input type="checkbox" id="c5" /><label for="c5">Performing physical work</label><br/>
                  <input type="checkbox" id="c6" /><label for="c6">Organizing and planning activities</label><br/>
                  <input type="checkbox" id="c7" /><label for="c7">Bringing ideas to life</label><br/>
                  <input type="checkbox" id="c8" /><label for="c8">Interpreting scientific and medical data</label><br/>
                </div>
              </div>

              <div class="question-group" id="question-2">
                <p class="question">Which of these is your favorite?</p>
                <p>(Select all that apply.)</p>
                <input type="checkbox" id="c10" /><label for="c10">Math</label><br/>
                <input type="checkbox" id="c11" /><label for="c11">English</label><br/>
                <input type="checkbox" id="c12" /><label for="c12">Science</label><br/>                
              </div>
              
              <div id="navigation">
                <strong id="found" class="hide-for-medium">140 careers found</strong>
                <button id="next-question" class="striped">Next <i class="icon-right show-for-small-only"></i></button>
              </div>
            </div>
            <div class="small-12 medium-7 columns">
              <div class="row show-for-medium">
                <div id="found-text" class="small-4 columns">
                  <strong>140 careers found:</strong>
                </div>
                <div id="tools" class="small-8 columns">
                  <div><span>6</span><i class="icon-heart"></i></div>
                  <div id="sort">
                    <i class="icon-details" data-link="#career-list"></i> 
                    <i class="icon-grid active" data-link="#career-grid"></i>
                  </div>
                  <div id="pagination"><i class="icon-left"></i> 6 of 140 <i class="icon-right"></i></div>
                </div>
              </div>
              <div id="found-careers">
                
                <div id="career-list" class="show-for-medium">
                  <div class="career">
                    <div class="medium-8 columns" style="background-image:url(../images/accounting.png)">
                      <p><i class="icon-heart-ol"></i></p>
                    </div>
                    <div class="medium-4 columns">
                      <p>Accounting, Budget, and Finance</p>
                      <ul class="checked">
                        <li>Enlisted</li>
                        <li class="inactive">Officer</li>
                        <li>Entry Level</li>
                      </ul>
                      <div class="services">
                        <h4>Services</h4>
                        <div class="medium-4 columns"><img src="../images/army.png"></div>
                        <div class="medium-4 columns"><img src="../images/air-force.png"></div>
                        <div class="medium-4 columns"><img src="../images/air-force.png"></div>
                        <div class="medium-4 columns"><img src="../images/coast-guard.png"></div>
                        <div class="medium-4 columns"><img src="../images/marines.png"></div>
                        <div class="medium-4 columns"><img src="../images/navy.png"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="career-grid">
                  <div class="career" style="background-image:url(../images/accounting.png)">
                    <p>Accounting, Budget, and Finance <i class="icon-heart-ol"></i></p>
                  </div>
                  <div class="career" style="background-image:url(../images/comm.png)">
                    <p>Communications Equipment Technologists and Technicians <i class="icon-heart-ol"></i></p>
                  </div>
                  <div class="career" style="background-image:url(../images/naval.png)">
                    <p>Naval and Maritime Operations <i class="icon-heart-ol"></i></p>
                  </div>
                  <div class="career" style="background-image:url(../images/healthcare.png)">
                    <p>Health Care Practitioners <i class="icon-heart-ol"></i></p>
                  </div>
                  <div class="career" style="background-image:url(../images/engineering.png)">
                    <p>Engineering and Scientific Research <i class="icon-heart"></i></p>
                  </div>
                  <div class="career" style="background-image:url(../images/computers.png)">
                    <p>Computer Systems Specialists <i class="icon-heart-ol"></i></p>
                  </div>
                </div>
              </div>   
            </div>
          </div>
          <div class="row show-for-medium">
            <div class="small-12 medium-9 medium-centered columns">
              <ol class="progress-bar">
                <li data-step="1" class="is-active">
                  <img alt="Step 1" src="../images/step1.png">
                </li>
                <li data-step="2">
                  <img alt="Step 2" src="../images/step2.png">
                </li>
                <li data-step="3">
                  <img alt="Step 3" src="../images/step1.png">
                </li>
                <li data-step="4">
                  <img alt="Step 4" src="../images/step1.png">
                </li>
                <li data-step="5" class="progress__last">
                  <img alt="Step 5" src="../images/step1.png">
                </li>
              </ol>
            </div>
          </div>
        </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
