<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css?ver=0.7">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>
    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body class=" modal-open">
  
  <div id="job-listings" modal-render="true" tabindex="-1" role="dialog" class="modal fade ng-isolate-scope in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1050 + index*10, display: 'block'}" uib-modal-window="modal-window" size="lg" index="0" animate="animate" modal-animation="true" style="z-index: 1050; display: block;">
      <div class="modal-header ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Edit Your Career Selections</h3>
      </div>
      <div class="modal-body ng-scope">
        <div class="row">
          <br/>
          
          <table class="hover">
            <thead>
              <tr>
                <th></th>
                <th class="input">Favorited <i class="fa fa-heart-o"></th>
                <th class="input">Deleted <span class="remove">&times;</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">Industrial Engineers</a></td>
                <td class="input"><input type="checkbox"></td>
                <td class="input"><input type="checkbox"></td>
              </tr>
              <tr>
                <td><a href="#">Agricultural Engineers</a></td>
                <td class="input"><input type="checkbox"></td>
                <td class="input"><input type="checkbox"></td>
              </tr>
              <tr>
                <td><a href="#">Industrial Engineers</a></td>
                <td class="input"><input type="checkbox"></td>
                <td class="input"><input type="checkbox"></td>
              </tr>
              <tr>
                <td><a href="#">Agricultural Engineers</a></td>
                <td class="input"><input type="checkbox"></td>
                <td class="input"><input type="checkbox"></td>
              </tr>
            </tbody>
          </table>

          <div class="close-button-div">
            <button class="button" type="button" ng-click="ok()">close</button>
          </div>
        
        </div>
      </div>
</div>
<div class="modal-backdrop fade in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" uib-modal-backdrop="modal-backdrop" modal-animation="true" style="z-index: 1040;"></div>
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section">
      
      <div class="row column search-bar">
        <a href="#">
          <i class="icon-left hide-for-medium"></i> 
          <span class="show-for-medium">Back to</span> Search Results
        </a>
        <span class="actions show-for-small-only">
          <i class="icon-pathways"></i>           
          <i class="icon-notes"></i> 
          <i class="icon-heart-ol"></i> 
        </span>
        <hr class="show-for-medium" />
      </div>
      
      <div class="row column">
        <div class="career-detail">
          <div class="row">
            <div class="small-12 columns">
              <h2>
                Food Service Specialists <i class="icon-hotjob"></i>
                <span class="actions show-for-medium">
                  <i class="icon-pathways"></i> 
                  <i class="icon-notes"></i> 
                  <i class="icon-heart-ol"></i> 
                </span>
              </h2>
            </div>
          </div>
          
          <div class="row">
            <div class="small-12 medium-6 large-8 columns">
              <p><strong>OTHER CAREER TITLES:</strong> Lorem Ipsum, Lorem Ipsum, more</p>
              <p>Every day, more than one million meals are prepared in military kitchens. Some kitchens prepare thousands of meals at one time, while others prepare food for small groups of people. Food service specialists prepare all types of food according to standard and dietetic recipes. They also order and inspect food supplies and prepare meats for cooking.</p>
              <div class="row">
				<div class="small-12 columns">
                                      <div class="lightblue-box"><b><a href="#">Create an account</a></b> to unlock exlusive career details and website Features. For complete career exploration, <b><a href="#">Bring ASVAB CEP to your school.</a></b></div>
                                    </div>
              </div>
			        <div class="row">
                <div class="small-12 medium-6 columns">
                  <h4>HELPFUL ATTRIBUTES: </h4>
                  <ul>
                    <li>Interest in cooking</li>
                    <li>Interest in working with the hands</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 large-4 columns">
              <p><strong>JOB FAMILY:</strong> <a href="http://www.careersinthemilitary.com/index.cfm?fuseaction=main.jobfamily&job_family_id=22">Personal and Culinary Services</a></p>
              <p><img src="../images/food-service.jpg"/></p>
              <div class="row">
                <div class="small-6 columns">
                  <ul class="checked">
                    <li>Enlisted</li>
                    <li class="inactive">Officer</li>
                    <li>Entry Level</li>
                  </ul>
                </div>
                <div class="small-6 columns"/>
                  <ul class="checked">
                    <li>Open to Women</li>
                    <li>Active Duty</li>
                    <li class="inactive">Reserve</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <section id="interest-codes" class="medium-12 columns">
              <uib-accordion> 
                  <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                      <uib-accordion-heading>{{cc.ccTitle}} <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                      
                      <div class="find-a-career">
                        <div class="row" style="margin-bottom: 15px;">
                          <div class="small-12 columns">
                            <p>Find this job short description</p>
                            <p><strong>Select a specialty to view job titles.</strong></p>
                            <hr/>
                          </div>
                        </div>
                        <div class="row">
                          <div class="small-12 medium-6 columns">
                            <ul class="find-a-career-list">
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                            </ul>
                          </div>  
                          <div class="small-12 medium-6 columns">
                            <ul class="find-a-career-list">
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                            </ul>
                          </div>  
                        </div>
                      </div>

                      <hr style="border-color: #fff;" />

                      <div class="find-a-career">
                        <div class="row" style="margin-bottom: 15px;">
                          <div class="small-12 columns">
                            <p>Find this job short description</p>
                            <p><strong>Select a specialty to view job titles.</strong></p>
                            <hr/>
                          </div>
                        </div>
                        <div class="row">
                          <div class="small-12 medium-4 columns">
                            <ul class="find-a-career-list">
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                            </ul>
                          </div>  
                          <div class="small-12 medium-4 columns">
                            <ul class="find-a-career-list">
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                            </ul>
                          </div> 
                          <div class="small-12 medium-4 columns">
                            <ul class="find-a-career-list">
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                              <li><a href="#">Specialty Title</a></li>
                            </ul>
                          </div>  
                        </div>
                      </div>

                      <hr style="border-color: #fff;" />

                      <div class="find-a-career">
                        <div class="row" style="margin-bottom: 15px;">
                          <div class="small-12 medium-6 columns">
                            <p><strong>You have Selected  {Specailty Name]. </strong></p>
                          </div>
                          <div class="small-12 medium-6 columns text-right">
                            <a href="#"><strong>Change the selected specialty.</strong></a>
                          </div>
                        </div>
                        <div class="row">
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/army.png"> Army</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Recreation, Welfare, and Morale Specialists</a></li>
                            </ul>
                          </div>  
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/air-force.png"> Air Force</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Recreation, Welfare, and Morale Specialists</a></li>
                            </ul>
                          </div>  
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/natl-guard.png"> National Guard</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Recreation, Welfare, and Morale Specialists</a></li>
                            </ul>
                          </div>  
                        </div>
                        <div class="row">
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/coast-guard.png"> Coast Guard</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Recreation, Welfare, and Morale Specialists</a></li>
                            </ul>
                          </div>  
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/navy.png"> Navy</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Recreation, Welfare, and Morale Specialists</a></li>
                            </ul>
                          </div>  
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/marines.png"> Marines</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Recreation, Welfare, and Morale Specialists</a></li>
                            </ul>
                          </div>  
                        </div>
                      </div>

                      <hr style="border-color: #fff;" />

                      <div class="find-a-career">
                        <div class="row">
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/army.png"> Army</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Recreation, Welfare, and Morale Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a>
                                <br/><br/>
                                <strong><a href="#">View All Army Job title </a></strong>
                              </li>
                            </ul>
                          </div>  
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/air-force.png"> Air Force</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Recreation, Welfare, and Morale Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a>
                                <br/><br/>
                                <strong><a href="#">View All Army Job title </a></strong>
                              </li>
                            </ul>
                          </div>  
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/natl-guard.png"> National Guard</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Recreation, Welfare, and Morale Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a>
                                <br/><br/>
                                <strong><a href="#">View All Army Job title </a></strong>
                              </li>
                            </ul>
                          </div>  
                        </div>
                        <div class="row">
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/coast-guard.png"> Coast Guard</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Recreation, Welfare, and Morale Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a>
                                <br/><br/>
                                <strong><a href="#">View All Army Job title </a></strong>
                              </li>
                            </ul>
                          </div>  
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/navy.png"> Navy</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Recreation, Welfare, and Morale Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a>
                                <br/><br/>
                                <strong><a href="#">View All Army Job title </a></strong>
                              </li>
                            </ul>
                          </div>  
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/marines.png"> Marines</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Recreation, Welfare, and Morale Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a></li>
                              <li><a href="#">Food Service Specialists</a>
                                <br/><br/>
                                <strong><a href="#">View All Army Job title </a></strong>
                              </li>
                            </ul>
                          </div>  
                        </div>
                        <div class="row">
                          <div class="small-12 columns text-center">
                            <a href="#" class="button outline">View All</a>
                          </div>
                        </div>
                      </div>
                  </uib-accordion-group> 
              </uib-accordion>
            </section>
          </div>

          <div class="border column">
            <div class="row">
              <div class="small-12 columns">
                <h6>Featured Profile:</h6>
              </div>
              <div class="small-12 medium-4 columns">
                <img class="show-for-medium" src="../images/food-service.jpg"/>
              </div>
              <div class="small-12 medium-8 columns">
                <p><strong>Dwayne Robinson</strong></p>
                <p>I joined the Navy right after high school to travel and to learn a trade. After spending part of my first tour as a seaman apprentice working in the mess hall, I discovered that cooking was what I wanted to do. My first assignment was on the USS Waldron in Norfolk, VA, where I worked in the ship’s galley.</p>
                <p class="show-for-small-only"><img src="../images/food-service.jpg"/></p>
                <p class="buttons">
                  <a href="#" class="button outline">Read More</a>
                  <a href="#" class="button outline">Career Path</a>
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-4 columns">
              <h6>Related Careers:</h6>
              <p>
                <strong>Military</strong><br/>
                <a href="#">Geographic Information Systems Technicians</a><br/>
                <a href="#">Geoscientists Except Hydrologists and Geographers</a>
              </p>
              <p>
                <strong>Civilian</strong><br/>
                <a href="#">Technologists</a><br/>
              </p>
            </div>
            <div class="small-12 medium-4 columns">
              <h6>Recently Viewed:</h6>
              <p>
                <a href="#">Geographic Information Systems Technicians</a><br/>
                <a href="#">Geoscientists Except Hydrologists and Geographers</a><br/>
                <a href="#">Remote Sensing Scientists and Technologists</a><br/>
              </p>
            </div>
            <div class="small-12 medium-4 columns">
              <h6>Additional Career Information:</h6>
              <p>
                <a href="#">Related Career Paths</a><br/>
                <a href="#">Job Family</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
    <script src="../js/raterater.jquery.js"></script>
  </body>
</html>
