<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>

    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="AccordionCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided" class="active"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section home">
      <div id="boot-camp">
         <div class="row column">
           <h3>Learn About Your Options</h3>
         </div>  
         <div class="row all-data">
            <div class="small-12 medium-3 large-3 column sidebar-lhs">
                 
                <ul id="sticky" class="menu vertical">
                  <li><a href="#">Overview</a></li>
                  <li><a href="#">The Military </a></li>
                  <li><a href="#">Types of Service</a></li>
                  <li><a href="#" class="active">Boot Camp by Service</a></li>
                  <li><a href="#">Enlisted VS. Officer</a></li>
                  <li><a href="#">Enlistment Process</a></li>
                  <li><a href="#">Becoming a Military Officer</a></li>
                  <li><a href="#">Benefits</a></li>
                  <li><a href="#">Contact A Recruiter</a></li>
                </ul> 

                <select class="menu-dropdown">
                  <option value="Overview">Overview</option>
                  <option value="The Military">The Military</option>
                  <option value="Types of Service">Types of Service</option>
                  <option value="Boot Camp by Service">Boot Camp by Service</option>
                  <option value="Enlisted VS. Officer">Enlisted VS. Officer</option>
                  <option value="Enlistment Process">Enlistment Process</option>
                  <option value="Becoming a Military Officer">Becoming a Military Officer</option>
                  <option value="Benefits">Benefits</option>
                  <option value="Contact A Recruiter">Contact A Recruiter</option>
                </select> 
            </div>

            <div class="small-12 medium-9 large-9 right-part column hide-for-small-only ">
                <p><strong>To serve in the Military you must complete boot camp. This rigorous physical and classroom training prepares recruits mentally and physically for life in the Military.</strong></p>
                <div id="Military-table">
                
                 <table>
                   <tbody>
                      <tr>
                        <td>
                            <img src="../images/army.png" alt="#">
                            <h5>Army</h5>
                        </td>
                        <td>
                            <img src="../images/marines.png" alt="#">
                            <h5>Marine Corps</h5>
                        </td>
                        <td>
                            <img src="../images/navy.png" alt="#">
                            <h5>Navy</h5>
                        </td>
                        <td>
                           <img src="../images/air-force.png" alt="#">
                            <h5>Air Force</h5>
                        </td>
                        
                        <td>
                            <img src="../images/coast-guard.png" alt="#">
                            <h5>Coast Guard</h5>
                        </td>
                      </tr>
                   </tbody>
                 </table>
                
        
              </div> 

               <div id="boot-camp-table" class="data-table clearfix">
                  <section class="small-12 column boot-camp-header clearfix">
                     <div class="large-10 medium-9 small-12 column">
                       <h5>Boot Camp Duration and LOCATIONS  </h5>
                     </div>
                     <div class="large-2 medium-3 small-12 column">
                      <a href="javascript:void(0)" class="map_btn"><i class="fa fa-map-marker"></i> Map View</a>
                      <a href="javascript:void(0)" class="list_btn"><i class="fa fa-bars"></i> List View</a>
                         
                     </div>     
                  </section>
                  <section class="table clearfix">
                      <div class="list-view">
                          <table >
                            <tbody>
                               
                               <tr><td colspan="5">&nbsp;</td></tr>

                               <tr>
                                 <td>
                                   10 weeks
                                 </td>
                                 <td>8 weeks</td>
                                 <td>12 weeks</td>
                                 <td>7-9 weeks</td>
                                 <td>8.5 weeks</td>
                                 
                               </tr>

                               <tr>
                                 <td>
                                   <p><strong>Fort Benning</strong><br> Columbus, GA</p>
                                   <p><strong>Fort Jackson</strong><br> Columbia, SC</p>
                                   <p><strong>Fort Leonard Wood</strong><br> Waynesville, MI</p>
                                   <p><strong>Waynesville, MI</strong><br> Lawton, OK</p>
                                 </td>
                                 <td valign="top">
                                     <p><strong>Marine Corps Recruit Depot</strong><br> Parris Island Parris Island, SC</p>
                                     <p><strong>Marine Corps Recruit Depot</strong><br> San Diego<br> San Diego, CA</p>
                                  </td>
                                 <td valign="top">
                                    <p><strong>Great Lakes Recruit Training Depot</strong><br> Great Lakes Recruit Training Depot</p> 
                                 </td>
                                 <td valign="top">
                                     <p><strong>Lackland Air Force Base</strong><br> Lackland Air Force Base</p>
                                 </td>
                                 
                                 <td valign="top">
                                    <p><strong>Cape May Coast Guard Training Center</strong><br> Cape May, NJ</p>
                                  
                                 </td>
                               </tr>
                             </tbody>  
                          </table>
                      </div>
                      <div class="map-view">
                          <div class="map-table">
                             <table class="map">
                                <tr>
                                  <td>10 weeks</td>
                                  <td>12 weeks</td>
                                  <td>7-9 weeks</td>
                                  <td>8.5 weeks</td>
                                  <td>8 weeks</td>
                                </tr>
                                <tr>
                                  <td align="center"><img src="../images/yellow_marker.png" alt="#"></td>
                                  <td align="center"><img src="../images/deep_blue_marker.png" alt="#"></td>
                                  <td align="center"><img src="../images/light_blue_marker.png" alt="#"></td>
                                  <td align="center"><img src="../images/red_marker.png" alt="#"></td>
                                  <td align="center"><img src="../images/green_marker.png" alt="#"></td>
                                </tr>
                             </table>
                          </div> 
                          <div class="map">
                              <img src="../images/map.jpg" alt="#">
                          </div> 
                      </div>
                  </section>
                   
               </div>
               <div id="physical-fitness" class="data-table">
                  <section class="small-12 column boot-camp-header">
                     <div class="small-12 column">
                       <h5>Physical Fitness Requirements</h5>
                     </div>
                  </section>
                  <section class="table">
                    <table>
                      <tbody>
                         
                         <tr><td colspan="5">&nbsp;</td></tr>

                         <tr>
                           <td>
                             <h6>Army</h6>
                           </td>
                           <td>
                              <h6>Navy</h6>
                           </td>
                           <td>
                              <h6>Air Force</h6>
                           </td>
                           <td>
                              <h6>Marine Corps</h6>
                           </td>
                           <td>
                              <h6>Coast Guard</h6>
                           </td>
                         </tr>

                         <tr>
                           <td valign="top">
                              <ul>
                                <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"></div><span>   2-mile run </span></li>
                                <li class="clearfix">
                                  <div class="img">
                                     <img src="../images/sit_up_icon.png" alt="#">
                                  </div>   
                                  <span>sit-ups</span>

                                </li>
                                <li class="clearfix">
                                   <div class="img"> 
                                     <img src="../images/push_up_icon.png" alt="#">  
                                   </div>
                                   <span>push-ups </span>
                                </li>

                              </ul>
                               
                           </td>
                           <td valign="top">
                               <ul>
                                <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"> </div> <span>3-mile run </span></li>
                                <li class="clearfix"><div class="img"><img src="../images/pull_up_icon.png" alt="#"> </div> <span>pull-ups </span></li>
                                <li class="clearfix"><div class="img"><img src="../images/abdominal_icon.png" alt="#"> </div> <span>abdominal crunches </span> </li>
                              </ul>
                           </td>
                           <td valign="top">
                                <ul>
                                  <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"></div> <span> 1.5-mile run or</span></li>
                                  <li class="clearfix"><div class="img"><img src="../images/pull_up_icon.png" alt="#"></div> <span>500-yard swim </span></li>
                                  <li class="clearfix"><div class="img"><img src="../images/curl_up_icon.png" alt="#"> </div><span> curl-ups </span></li>

                                  <li class="clearfix"><div class="img"><img src="../images/push_up_icon.png" alt="#"> </div><span> push-ups </span></li>

                                  <li class="clearfix"><div class="img"><img src="../images/sit_reach_icon.png" alt="#"> </div><span> sit-and-reach flexibility </span></li>
                              </ul>
                           </td>
                           <td valign="top">
                               <ul>
                                  <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"></div> <span> 1.5-mile run </span></li>
                                  <li class="clearfix"><div class="img"><img src="../images/push_up_icon.png" alt="#"></div> <span>push-ups</span></li>
                                  <li class="clearfix"><div class="img"><img src="../images/sit_up_icon.png" alt="#"> </div><span> sit-ups</span></li>

                                  <li class="clearfix"><div class="img"><img src="../images/abdominal_icon.png" alt="#"> </div><span> abdominal circumference measurement </span></li>

                                 
                              </ul>
                            </td>
                           <td valign="top">
                              <ul>
                                  <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"></div> <span> 1.5-mile run </span></li>

                                  <li class="clearfix"><div class="img"><img src="../images/push_up_icon.png" alt="#"></div> <span>push-ups</span></li>

                                  <li class="clearfix"><div class="img"><img src="../images/sit_up_icon.png" alt="#"> </div><span> sit-ups</span></li>

                                  <li class="clearfix"><div class="img"><img src="../images/sit_reach_icon.png" alt="#"> </div><span>sit-and-reach flexibility </span></li>

                                   <li class="clearfix"><div class="img"><img src="../images/swim_icon.png" alt="#"> </div><span> water tread </span></li>

                                    <li class="clearfix"><div class="img"><img src="../images/jump_icon.png" alt="#"> </div><span> 5-ft platform jump into a 100-meter swim </span></li>

                                 
                              </ul>
                            
                           </td>
                         </tr>
                         <tr>
                           <td align="center">
                             <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                           </td>
                           <td align="center">
                             <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                           </td>
                           <td align="center">
                             <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                           </td>
                           <td align="center">
                             <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                           </td>
                           <td align="center">
                             <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                           </td>
                         </tr>
                       </tbody>  
                    </table>
                  </section> 
                  
               </div>
               <section class="small-12 contact-bar">
                  <a href="">Contact a Recruiter</a>
               </section>
            </div>

            <!-- mobile  -->
            <div class="small-12 show-for-small-only column">
                <div class="service-data army">
                    <div class="rows">
                      <div class="section-head">
                          <img src="../images/army.png" alt="#">
                          <h5>Army</h5>
                      </div>
                    </div>
                    <div class="data-table-head">
                       <h5>Boot Camp Duration</h5>
                    </div>
                    <div class="rows">
                      <span>10 weeks </span>
                    </div>
                    <div class="data-table-head clearfix">
                       <div class="small-12 column">
                        <div class="row">
                          <h5>Boot Camp LOCATIONS  </h5>
                        </div> 
                     </div>
                    </div>
                    <div class="rows list-view">
                        <p><strong>Fort Benning</strong><br> Columbus, GA</p>
                        <p><strong>Fort Jackson</strong><br> Columbia, SC</p>
                        <p><strong>Fort Leonard Wood</strong><br> Waynesville, MI</p>
                        <p><strong>Waynesville, MI</strong><br> Lawton, OK</p>
                    </div>
                    <div class="rows map-view">
                      <div class="map-table clearfix">
                           
                             <ul class="map text-center clearfix">
                               <li>
                                  <h6>10 weeks</h6>
                                  <img src="../images/yellow_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>12 weeks</h6>
                                  <img src="../images/deep_blue_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>7-9 weeks</h6>
                                  <img src="../images/light_blue_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>8.5 weeks</h6>
                                  <img src="../images/red_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>8 weeks</h6>
                                  <img src="../images/green_marker.png" alt="#">
                               </li>
                             </ul> 

                      </div>
                      <div class="map">
                              <img src="../images/map.jpg" alt="#">
                      </div>
                    </div>
                    <div class="data-table-head">
                       <h5>Physical Fitness Requirements</h5>
                    </div>  
                    <div class="rows">
                      <ul>
                          <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"></div><span>   2-mile run </span></li>
                          <li class="clearfix">
                            <div class="img">
                               <img src="../images/sit_up_icon.png" alt="#">
                            </div>   
                            <span>sit-ups</span>

                          </li>
                          <li class="clearfix">
                             <div class="img"> 
                               <img src="../images/push_up_icon.png" alt="#">  
                             </div>
                             <span>push-ups </span>
                          </li>

                       </ul>
                    </div> 
                    <div class="rows more">
                       <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                    </div>
                </div>

                <div class="service-data marine">
                    <div class="rows">
                      <div class="section-head">
                          <img src="../images/marines.png" alt="#">
                          <h5>Marine Corps</h5>
                      </div>
                    </div>
                    <div class="data-table-head">
                       <h5>Boot Camp Duration</h5>
                    </div>
                    <div class="rows">
                      <span>8 weeks </span>
                    </div>
                    <div class="data-table-head clearfix">
                      <div class="small-12 column">
                        <div class="row">
                          <h5>Boot Camp LOCATIONS  </h5>
                        </div> 
                      </div>
                    </div>
                    <div class="rows list-view">
                        <p><strong>Marine Corps Recruit Depot</strong><br> Parris Island Parris Island, SC</p>
                        <p><strong>Marine Corps Recruit Depot</strong><br> San Diego<br> San Diego, CA</p>
                    </div>
                    <div class="rows map-view">
                      <div class="map-table clearfix">
                           
                             <ul class="map text-center clearfix">
                               <li>
                                  <h6>10 weeks</h6>
                                  <img src="../images/yellow_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>12 weeks</h6>
                                  <img src="../images/deep_blue_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>7-9 weeks</h6>
                                  <img src="../images/light_blue_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>8.5 weeks</h6>
                                  <img src="../images/red_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>8 weeks</h6>
                                  <img src="../images/green_marker.png" alt="#">
                               </li>
                             </ul> 

                      </div>
                      <div class="map">
                              <img src="../images/map.jpg" alt="#">
                      </div>
                    </div>
                    <div class="data-table-head">
                       <h5>Physical Fitness Requirements</h5>
                    </div>  
                    <div class="rows">
                      <ul>
                          <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"></div> <span> 1.5-mile run </span></li>
                          <li class="clearfix"><div class="img"><img src="../images/push_up_icon.png" alt="#"></div> <span>push-ups</span></li>
                          <li class="clearfix"><div class="img"><img src="../images/sit_up_icon.png" alt="#"> </div><span> sit-ups</span></li>

                          <li class="clearfix"><div class="img"><img src="../images/abdominal_icon.png" alt="#"> </div><span> abdominal circumference measurement </span></li>

                         
                      </ul>
                    </div> 
                    <div class="rows more">
                       <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                    </div>
                </div> 

                <div class="service-data navy">
                    <div class="rows">
                      <div class="section-head">
                          <img src="../images/navy.png" alt="#">
                          <h5>Navy</h5>
                      </div>
                    </div>
                    <div class="data-table-head">
                       <h5>Boot Camp Duration</h5>
                    </div>
                    <div class="rows">
                      <span>12 weeks </span>
                    </div>
                    <div class="data-table-head clearfix">
                      <div class="small-12 column">
                        <div class="row">
                          <h5>Boot Camp LOCATIONS  </h5>
                        </div> 
                      </div>
                    </div>
                    <div class="rows list-view">
                         <p><strong>Great Lakes Recruit Training Depot</strong><br> Great Lakes Recruit Training Depot</p>
                    </div>
                    <div class="rows map-view">
                      <div class="map-table clearfix">
                           
                             <ul class="map text-center clearfix">
                               <li>
                                  <h6>10 weeks</h6>
                                  <img src="../images/yellow_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>12 weeks</h6>
                                  <img src="../images/deep_blue_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>7-9 weeks</h6>
                                  <img src="../images/light_blue_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>8.5 weeks</h6>
                                  <img src="../images/red_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>8 weeks</h6>
                                  <img src="../images/green_marker.png" alt="#">
                               </li>
                             </ul> 

                      </div>
                      <div class="map">
                              <img src="../images/map.jpg" alt="#">
                      </div>
                    </div>
                    <div class="data-table-head">
                       <h5>Physical Fitness Requirements</h5>
                    </div>  
                    <div class="rows">
                      <ul>
                                <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"> </div> <span>3-mile run </span></li>
                                <li class="clearfix"><div class="img"><img src="../images/pull_up_icon.png" alt="#"> </div> <span>pull-ups </span></li>
                                <li class="clearfix"><div class="img"><img src="../images/abdominal_icon.png" alt="#"> </div> <span>abdominal crunches </span> </li>
                              </ul>
                    </div> 
                    <div class="rows more">
                       <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                    </div>
                </div>


                <div class="service-data air-force">
                    <div class="rows">
                       <div class="section-head">
                          <img src="../images/air-force.png" alt="#">
                          <h5>Air Force</h5>
                      </div>
                    </div>
                    <div class="data-table-head">
                       <h5>Boot Camp Duration</h5>
                    </div>
                    <div class="rows">
                      <span>7-9 weeks </span>
                    </div>
                    <div class="data-table-head clearfix">
                      <div class="small-12 column">
                        <div class="row">
                          <h5>Boot Camp LOCATIONS  </h5>
                        </div> 
                      </div>
                    </div>
                    <div class="rows list-view">
                         <p><strong>Lackland Air Force Base</strong><br> Lackland Air Force Base</p>
                    </div>
                    <div class="rows map-view">
                      <div class="map-table clearfix">
                           
                             <ul class="map text-center clearfix">
                               <li>
                                  <h6>10 weeks</h6>
                                  <img src="../images/yellow_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>12 weeks</h6>
                                  <img src="../images/deep_blue_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>7-9 weeks</h6>
                                  <img src="../images/light_blue_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>8.5 weeks</h6>
                                  <img src="../images/red_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>8 weeks</h6>
                                  <img src="../images/green_marker.png" alt="#">
                               </li>
                             </ul> 

                      </div>
                      <div class="map">
                              <img src="../images/map.jpg" alt="#">
                      </div>
                    </div>
                    <div class="data-table-head">
                       <h5>Physical Fitness Requirements</h5>
                    </div>  
                    <div class="rows">
                      <ul>
                          <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"></div> <span> 1.5-mile run or</span></li>
                          <li class="clearfix"><div class="img"><img src="../images/pull_up_icon.png" alt="#"></div> <span>500-yard swim </span></li>
                          <li class="clearfix"><div class="img"><img src="../images/curl_up_icon.png" alt="#"> </div><span> curl-ups </span></li>

                          <li class="clearfix"><div class="img"><img src="../images/push_up_icon.png" alt="#"> </div><span> push-ups </span></li>

                          <li class="clearfix"><div class="img"><img src="../images/sit_reach_icon.png" alt="#"> </div><span> sit-and-reach flexibility </span></li>
                    </ul>
                    </div> 
                    <div class="rows more">
                       <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                    </div>
                </div>

                <div class="service-data coast-guard">
                    <div class="rows">
                      <div class="section-head">
                          <img src="../images/coast-guard.png" alt="#">
                          <h5>Coast Guard</h5>
                      </div>
                    </div>
                    <div class="data-table-head">
                       <h5>Boot Camp Duration</h5>
                    </div>
                    <div class="rows">
                      <span>8.5 weeks </span>
                    </div>
                    <div class="data-table-head clearfix">
                      <div class="small-12 column">
                        <div class="row">
                          <h5>Boot Camp LOCATIONS  </h5>
                        </div> 
                      </div>
                    </div>
                    <div class="rows list-view">
                         <p><strong>Cape May Coast Guard Training Center</strong><br> Cape May, NJ</p>
                    </div>
                    <div class="rows map-view">
                      <div class="map-table clearfix">
                           
                             <ul class="map text-center clearfix">
                               <li>
                                  <h6>10 weeks</h6>
                                  <img src="../images/yellow_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>12 weeks</h6>
                                  <img src="../images/deep_blue_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>7-9 weeks</h6>
                                  <img src="../images/light_blue_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>8.5 weeks</h6>
                                  <img src="../images/red_marker.png" alt="#">
                               </li>
                               <li>
                                  <h6>8 weeks</h6>
                                  <img src="../images/green_marker.png" alt="#">
                               </li>
                             </ul> 

                      </div>
                      <div class="map">
                              <img src="../images/map.jpg" alt="#">
                      </div>
                    </div>
                    <div class="data-table-head">
                       <h5>Physical Fitness Requirements</h5>
                    </div>  
                    <div class="rows">
                      <ul>
                          <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"></div> <span> 1.5-mile run </span></li>

                          <li class="clearfix"><div class="img"><img src="../images/push_up_icon.png" alt="#"></div> <span>push-ups</span></li>

                          <li class="clearfix"><div class="img"><img src="../images/sit_up_icon.png" alt="#"> </div><span> sit-ups</span></li>

                          <li class="clearfix"><div class="img"><img src="../images/sit_reach_icon.png" alt="#"> </div><span>sit-and-reach flexibility </span></li>

                           <li class="clearfix"><div class="img"><img src="../images/swim_icon.png" alt="#"> </div><span> water tread </span></li>

                            <li class="clearfix"><div class="img"><img src="../images/jump_icon.png" alt="#"> </div><span> 5-ft platform jump into a 100-meter swim </span></li>

                         
                      </ul>
                    </div> 
                    <div class="rows more">
                       <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                    </div>
                </div>
                <section class="small-12 contact-bar">
                  <a href="">Contact a Recruiter</a>
               </section> 

            </div> 

         </div>
        </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/jquery.sticky.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>

    <script>
      $(document).ready(function(){
        $("#sticky").sticky({topSpacing:35, bottomSpacing:417});
      });
    </script>
    
  </body>
</html>
