<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>
    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="AccordionCtrl">


  <!-- ****** Map View Popups ****** --> 
  <div class="small reveal"  id="MapModal" data-reveal role="dialog" data-animation-in="fade-in" data-animation-out="fade-out" > 
   <div class="content">
      <img src="../images/map.jpg" alt="#">
   </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- ****** Map View Popups end ****** -->
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided" class="active"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section home">
      <div id="boot-camp">
         <div class="row column">
           <h3>Learn About Your Options</h3>
         </div>  
         <div class="row all-data">
          <div class="small-12 medium-3 large-3 column sidebar-lhs">
            <ul id="sticky" class="menu vertical">
              <li><a href="#" class="active">Overview</a></li>
              <li><a href="#">The Military </a></li>
              <li><a href="#">Types of Service</a></li>
              <li><a href="#">Boot Camp by Service</a></li>
              <li><a href="#">Enlisted VS. Officer</a></li>
              <li><a href="#">Enlistment Process</a></li>
              <li><a href="#">Becoming a Military Officer</a></li>
              <li><a href="#">Benefits</a></li>
              <li><a href="#">Contact A Recruiter</a></li>
            </ul>
            <select class="menu-dropdown">
              <option selected>Overview</option>
              <option>The Military</option>
              <option>Types of Service</option>
              <option>Boot Camp by Service</option>
              <option>Enlisted VS. Officer</option>
              <option>Enlistment Process</option>
              <option>Becoming a Military Officer</option>
              <option>Benefits</option>
              <option>Contact A Recruiter</option>
            </select>  
          </div>
          <div class="small-12 medium-9 large-9 right-part column">
            <ul class="boot-camp-grid row hide-for-small-only" id="boot-camp-grid">
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-purple-box">
                  <p>This site was built using everything we could find about military careers.</p>
                  <p><b>Then we realized, you don't have to know everything, you only need to know what you don't know already.</b></p>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img class="boot-camp-img-desktop" src="../images/military.jpg">
                  <img class="boot-camp-img-mobile" src="../images/military_mobile.jpg">
                  <div class="boot-camp-inner-box">
                    <span>The Military</span>
                    <h4>An Employer with an Edge</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img src="../images/types-of-service.jpg">
                  <div class="boot-camp-inner-box">
                    <span>Types of service</span>
                    <h4>It's Not All or Nothing</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img src="../images/enlist-requirements.jpg">
                  <div class="boot-camp-inner-box">
                    <span>Enlistment Requirements</span>
                    <h4>Know Before You Go</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-gray-box">
                  <a href="#">
                    <span>Search Hot Jobs</span>
                    <img class="hot-jobs" src="../images/hot-jobs.png">
                  </a>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column mobile-hidden">
                <div class="boot-camp-box">
                  <img src="../images/becoming-officer.jpg">
                  <div class="boot-camp-inner-box">
                    <span>Becoming a Military Officer</span>
                    <h4>Learning to Lead</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img class="video-img video-modal1" src="../images/video1.jpg">
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-gray-box">
                  <a href="#">
                    <span>Career Clusters</span>
                    <img class="career-clusters" src="../images/career-clusters.png">
                  </a>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img src="../images/enlist-officer.jpg">
                  <div class="boot-camp-inner-box">
                    <span>Enlisted VS. Officer</span>
                    <h4>What's the Difference</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-dark-gray-box">
                  <h4><strong>GI Bill</strong> (around)</h4>
                  <h1><span class="dollar">$</span>36,000</h1>
                  <h3>for college</h3>
                  <h4 class="h4last"><strong>up to 10 years</strong> <span> after leaving service</span></h4>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img src="../images/enlist-process.jpg">
                  <div class="boot-camp-inner-box">
                    <span>Enlistment Process</span>
                    <h4>Should I stay or should I go now?</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img src="../images/benefits.jpg">
                  <div class="boot-camp-inner-box">
                    <span>Benefits</span>
                    <h4>Work Life Balance</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img src="../images/boot-camp.jpg">
                  <div class="boot-camp-inner-box">
                    <span>Boot Camp by Service</span>
                    <h4>Fit for duty?</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-gray-box">
                  <a href="#">
                    <span>Guided Exploration</span>
                    <img class="guided-exploration" src="../images/guided-exploration.png">
                  </a>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img class="video-img video-modal2" src="../images/video2.jpg">
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-dark-gray-box small-box">
                  <p>Colleges and universities offer ROTC programs</p>
                  <h1>1,700<span class="plus">+</span></h1>
                </div>
              </li>
            </ul>
            <ul class="boot-camp-grid row show-for-small-only" id="boot-camp-grid-mobile">
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-purple-box">
                  <p>This site was built using everything we could find about military careers.</p>
                  <p><b>Then we realized, you don't have to know everything, you only need to know what you don't know already.</b></p>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img class="boot-camp-img-desktop" src="../images/military.jpg">
                  <img class="boot-camp-img-mobile" src="../images/military_mobile.jpg">
                  <div class="boot-camp-inner-box">
                    <span>The Military</span>
                    <h4>An Employer with an Edge</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img src="../images/types-of-service.jpg">
                  <div class="boot-camp-inner-box">
                    <span>Types of service</span>
                    <h4>It's Not All or Nothing</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img class="video-img video-modal1" src="../images/video1.jpg">
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img src="../images/enlist-process.jpg">
                  <div class="boot-camp-inner-box">
                    <span>Enlistment Process</span>
                    <h4>Should I stay or should I go now?</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img src="../images/benefits.jpg">
                  <div class="boot-camp-inner-box">
                    <span>Benefits</span>
                    <h4>Work Life Balance</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-dark-gray-box">
                  <h4><strong>GI Bill</strong> (around)</h4>
                  <h1><span class="dollar">$</span>36,000</h1>
                  <h3>for college</h3>
                  <h4 class="h4last"><strong>up to 10 years</strong> <span> after leaving service</span></h4>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img src="../images/boot-camp.jpg">
                  <div class="boot-camp-inner-box">
                    <span>Boot Camp by Service</span>
                    <h4>Fit for duty?</h4>
                  </div>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-box">
                  <img class="video-img video-modal2" src="../images/video2.jpg">
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-gray-box">
                  <a href="#">
                    <span>Search Hot Jobs</span>
                    <img class="hot-jobs" src="../images/hot-jobs.png">
                  </a>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-gray-box">
                  <a href="#">
                    <span>Guided Exploration</span>
                    <img class="guided-exploration" src="../images/guided-exploration.png">
                  </a>
                </div>
              </li>
              <li class="small-12 medium-6 large-4 column">
                <div class="boot-camp-gray-box">
                  <a href="#">
                    <span>Career Clusters</span>
                    <img class="career-clusters" src="../images/career-clusters.png">
                  </a>
                </div>
              </li>
            </ul>
            <section class="small-12 contact-bar">
              <a href="">Contact a Recruiter</a>
            </section>
          </div>
         </div>
        </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/jquery.sticky.js" type="text/javascript"></script>
    <script src="../js/jquery.showYtVideo.js"></script>
	<script>
     jQuery(document).ready(function ($) {
        $('.video-modal1').on('click', function () {
            $.showYtVideo({
                videoId: 'DTeVrJfqNG0'
            });
        });
        $('.video-modal2').on('click', function () {
            $.showYtVideo({
                videoId: 'BVi-rcL6Qhc'
            });
        });

        $("#sticky").sticky({topSpacing:35, bottomSpacing:417});
      
    });
    </script>
    <script src="../js/app.js"></script>
    <script src="../js/masonry.pkgd.min.js"></script>
	<script>
        new AnimOnScroll( document.getElementById( 'boot-camp-grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );
		new AnimOnScroll( document.getElementById( 'boot-camp-grid-mobile' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );
    </script>
  </body>
</html>
