<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>

    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="OfficerCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section home">
      <div id="boot-camp">
         <div class="row column">
           <h3>Learn About Your Options</h3>
         </div>  
         <div class="row all-data">
            <div class="small-12 medium-3 large-3 column sidebar-lhs">
                 
                <ul id="sticky" class="menu vertical">
                  <li><a href="#">Overview</a></li>
                  <li><a href="#">The Military </a></li>
                  <li><a href="#">Types of Service</a></li>
                  <li><a href="#">Boot Camp by Service</a></li>
                  <li><a href="#">Enlisted VS. Officer</a></li>
                  <li><a href="#">Enlistment Process</a></li>
                  <li><a href="#" class="active">Becoming a Military Officer</a></li>
                  <li><a href="#">Benefits</a></li>
                  <li><a href="#">Contact A Recruiter</a></li>
                </ul> 

                <select class="menu-dropdown">
                  <option value="Overview">Overview</option>
                  <option value="The Military">The Military</option>
                  <option value="Types of Service">Types of Service</option>
                  <option value="Boot Camp by Service">Boot Camp by Service</option>
                  <option value="Enlisted VS. Officer">Enlisted VS. Officer</option>
                  <option value="Enlistment Process">Enlistment Process</option>
                  <option selected value="Becoming a Military Officer">Becoming a Military Officer</option>
                  <option value="Benefits">Benefits</option>
                  <option value="Contact A Recruiter">Contact A Recruiter</option>
                </select> 
            </div>

            <div class="small-12 medium-9 large-9 right-part column full-black-text becoming-and-officer">
				<div class="row">
                	<div class="small-12 medium-6 large-6 column">
                    	<p class="bodysize"><b>There are four ways to become an officer:</b></p>
                        <ul>
                        	<li>Senior Military College or Academy</li>
                            <li>Traditional college or university with a Reserve Officer Training Corps (ROTC) program</li>
                            <li>Officer Candidate School (OCS) after graduating from college</li>
                            <li>Direct commission after earning a professional degree</li>
                        </ul>
                        <p>Officers either enter the Military after they're completed a four-year college degree, or they receive officer training through enlisted service. Officers are managers or specialized in fields that require professional degrees (e.g., doctors, lawyers, and chaplains). </p>
					</div>
                    <div class="small-12 medium-6 large-6 column">
                    	<img class="officer-video video-modal1" src="../images/officer-video1.jpg" >
					</div>
                </div>
				<div class="row">
                	<div class="small-12 medium-12 large-12 column">
                        <uib-accordion> 
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>SERVICE ACADEMIES AND MILITARY COLLEGES <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                              <ul>
                                  <li>Highly competitive </li>
                                  <li>Virtually free (if accepted) </li>
                                  <li>Serve as an officer after graduation, usually five years</li>
                              </ul>
                              <div class="row">
                                  <div class="small-12 medium-6 large-6 column">
                                      <b>Service Academies </b>
                                      <p>The five Service academies offer an outstanding education and full four-year scholarships. Tuition, books, board and medical and dental care are all fully paid for all four years. Admission is extremely competitive.</p>
                                      <span>Admissions criteria are similar to elite colleges:</span>
                                      <ul>
                                          <li>High school academic performance</li>
                                          <li>Standardized test scores (SAT or ACT)</li>
                                          <li>Athletics and extracurricular activities</li>
                                          <li>Leadership experience and community involvement</li>
                                          <li>A congressional letter of recommendation (except Coast Guard Academy)</li>
                                      </ul>
                                  </div>
                                  <div class="small-12 medium-6 large-6 column">
                                      <img class="officer-video video-modal2" src="../images/officer-video2.jpg" >
                                  </div>
                              </div>
                              <p>Graduates receive a Bachelor of Science degree and are commissioned as officers in their respective Service branch. There is a service obligation of a minimum of five years.</p>
                              <div class="service-lists">
                                  <span>Service Academies:</span>
                                  <ul class="row">
                                      <li class="small-12 medium-6 large-4 column">
                                      	<div class="service-lists-info">Army <br>U.S. Military Academy<br>845-938-4041</div>
                                      </li>
                                      <li class="small-12 medium-6 large-4 column">
                                      	<div class="service-lists-info">Air Force <br>U.S. Air Force Academy<br>800-443-9266</div>
                                      </li>
                                      <li class="small-12 medium-6 large-4 column">
                                      	<div class="service-lists-info">Merchant Marine <br>U.S. Merchant Marine Academy<br>516-726-5800</div>
                                      </li>
                                      <li class="small-12 medium-6 large-4 column">
                                      	<div class="service-lists-info">Navy & Marine Corps <br>U.S. Naval Academy<br>410-293-1858</div>
                                      </li>
                                      <li class="small-12 medium-6 large-4 column">
                                      	<div class="service-lists-info">Coast Guard <br>U.S. Coast Guard Academy<br>800-883-8724</div>
                                      </li>
                                      <li class="small-12 medium-6 large-4 column">
                                      	<div class="service-lists-info"></div>
                                      </li>
                                  </ul>
                              </div>                             
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>ROTC <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading>
                              <div>ROTC</div>
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>OFFICER CANDIDATE SCHOOL  <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading>
                              
                              <div>OFFICER CANDIDATE SCHOOL </div>
                              
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>DIRECT COMMISSION <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading>
                              
                              <div>DIRECT COMMISSION </div>
                              
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>TRANSITIONING FROM ENLISTED TO OFFICER <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading>
                              
                              <div>TRANSITIONING FROM ENLISTED TO OFFICER </div>
                              
                          </uib-accordion-group> 
                      </uib-accordion>                       
					
                    </div>
                    
                                    
                </div>
               <section class="small-12 contact-bar">
                  <a href="">Contact a Recruiter</a>
               </section>
            </div>
			</div>

         </div>
        </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/jquery.sticky.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
    <script src="../js/jquery.showYtVideo.js"></script>
	<script>
     jQuery(document).ready(function ($) {
        $('.video-modal1').on('click', function () {
            $.showYtVideo({
                videoId: 'DTeVrJfqNG0'
            });
        });
        $('.video-modal2').on('click', function () {
            $.showYtVideo({
                videoId: 'hdYiAjG6TDw'
            });
        });
		
        $("#sticky").sticky({topSpacing:35, bottomSpacing:417});
    });
    </script>
    
  </body>
</html>
