<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css?ver=0.7">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>
    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
    
    
  </head>
  <body ng-controller="AccordionCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Browse</a></li>
          </ul>
          <ul id="learn-more" class="menu">
            <li class="heading">Learn More About the Military</li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li class="heading"><a href="#">Login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>  

      <div id="slide-menu">
      <ul>
        <li><a id="close" href="#">&times;</a>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Create an Account</a></li>
          </ul>
        </li>
        <li><span>Explore</span>
          <ul>
            <li><a href="#">Guided Exploration</a></li>
            <li><a href="#">Advanced Search</a></li>
            <li><a href="#">Browse</a></li>
          </ul>
        </li>
        <li><span>Careers</span>
          <ul>
            <li><a href="#">Career Cluster</a></li>
            <li><a href="#">Profiles</a></li>
          </ul>
        </li>
        <li><span>About the Military</span>
          <ul>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="#">Contact Us / FAQ</a></li>
          </ul>
        </li>
      </ul>
    </div>      
        
    <div id="main" class="section home">
      <div id="boot-camp">
         <div class="row column">
           <h3>Learn About Your Options</h3>
         </div>  
         <div class="row all-data">
            <div class="small-12 medium-3 large-3 column sidebar-lhs">
              <ul id="sticky" class="menu vertical">
                <li><a href="#" class="active">Overview</a></li>
                <li><a href="#">The Military </a></li>
                <li><a href="#">Types of Service</a></li>
                <li><a href="#">Boot Camp by Service</a></li>
                <li><a href="#">Enlisted VS. Officer</a></li>
                <li><a href="#">Enlistment Process</a></li>
                <li><a href="#">Becoming a Military Officer</a></li>
                <li><a href="#">Benefits</a></li>
                <li><a href="#">Contact A Recruiter</a></li>
              </ul>
              <select class="menu-dropdown">
                <option>Overview</option>
                <option>The Military</option>
                <option>Types of Service</option>
                <option>Boot Camp by Service</option>
                <option>Enlisted VS. Officer</option>
                <option>Enlistment Process</option>
                <option>Becoming a Military Officer</option>
                <option>Benefits</option>
                <option>Contact A Recruiter</option>
              </select>  
            </div>

            <div class="small-12 medium-9 large-9 right-part column option-military-content">
              <p class="option-military-nutshell"><strong>The United States Military is part of the Department of Defense, the largest employer in the world. There are opportunities to work full-time or part-time, get a degree or participate in hobbies, travel the world or sit at a desk. Each branch of the Military has a unique mission. Here they are in a nutshell:</strong></p>
              <div id="Military-table" class="military-list-table">
               <table>
                 <tbody>
                    <tr>
                      <td>
                          <img src="../images/military-army.png" alt="#">
                          <h5>Army</h5>
                          <a href="#">
                            <span class="circle"><i class="fa fa-plus"></i></span>
                          </a>
                      </td>
                      <td>
                          <img src="../images/military-marines.png" alt="#">
                          <h5>Marine Corps</h5>
                          <a href="#">
                            <span class="circle"><i class="fa fa-plus"></i></span>
                          </a>
                      </td>
                      <td>
                          <img src="../images/military-navy.png" alt="#">
                          <h5>Navy</h5>
                          <a href="#">
                            <span class="circle"><i class="fa fa-plus"></i></span>
                          </a>
                      </td>
                      <td>
                          <img src="../images/military-airforce.png" alt="#">
                          <h5>Air Force</h5>
                          <a href="#">
                            <span class="circle"><i class="fa fa-plus"></i></span>
                          </a>
                      </td>
                      <td>
                          <img src="../images/military-coastguard.png" alt="#">
                          <h5>Coast Guard</h5>
                          <a href="#">
                            <span class="circle"><i class="fa fa-plus"></i></span>
                          </a>
                      </td>
                    </tr>
                 </tbody>
               </table>
              </div> 
                
              <div class="career-detail">
                <p>There's nothing we can tell you about the Services that they can't tell you better so, we'll let them tell you about them. We're here to tell you about them as a whole. Like a gap year, trade school, or college, the Military is an option. And just like the others, it is not one-size-fits-all.</p>
              </div>

              <div class="military_text career-detail">
                <h3>The Military</h3>
                <p>You've probably heard of the five service branches, but did you know there are actually 12? Each offers unique jobs, benefits, and time-commitment options that give you the flexibility to live the life you want.</p>
              </div>
       
              <div class="army_text">
                <ul>
                  <li>
                     <h3><a href="#">Army</a></h3>
                     <p><a href="#">Army Reserve</a></p>
                     <p><a href="#">Army National Guard</a></p>
                  </li>
                  <li>
                     <h3><a href="#">Marine Cops</a></h3>
                     <p><a href="#">Marine Cops Reserve</a></p>
                     <p><a href="#">Marine Cops National Guard</a></p>
                  </li>
                  <li>
                     <h3><a href="#">Navy</a></h3>
                     <p><a href="#">Navy Reserve</a></p>
                  </li>
                  <li>
                     <h3><a href="#">Air Force</a></h3>
                     <p><a href="#">Air Force Reserve</a></p>
                     <p><a href="#">Air Force National Guard</a></p>
                  </li>
                  <li>
                     <h3><a href="#">Coast Guard</a></h3>
                     <p><a href="#">Coast Guard Reserve</a></p>
                  </li>
                </ul>
              </div>
            
              <div class="military_text career-detail">
                <h3>Debt-free. Degree. Desk job. Downtime. Do you think you have the Military all figured out? Think again.</h3>
                <br>
                <p>Like any other career, you can work (or serve) while you go to school (or go to school while you serve). You can sit behind a desk or travel the world. You can take vacations. You can enjoy your hobbies and downtime with family and friends, all while earning a paycheck and getting invaluable experience.</p>
                
                <p>You may be one of those people who thinks, "I know the Military is not for me," but have you ever actually thought about why you think that? Same for those who know	 for sure that you want to join. Have you asked yourself why ?</p>
                
                <p>Gender, geographic location, and influencers (like parents and friends) all play a role in the types of messages you receive about your ability and role in society. These messages shape your identity.</p>
               
                <p>We'd like you to step outside what you think you know and get to know the Military. We can only promise you one thing, you won't leave this site afraid of what you don't know.</p>
    
                <h3>You say, no military? We say, know military.</h3>
              </div>

              <section class="small-12 contact-bar">
                <a href="">Contact a Recruiter</a>
              </section>
               
              <div class="service_fav_text career-detail">
              	<h3>Add a Service to Your Favorite</h3>
                <div id="Military-table">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <img src="../images/army_fav.png" alt="#">
                        <h5>Army</h5>
                      </td>
                      <td>
                        <img src="../images/marines_fav.png" alt="#">
                        <h5>Marine Corps</h5>
                      </td>
                      <td>
                        <img src="../images/navy_fav.png" alt="#">
                        <h5>Navy</h5>
                      </td>
                      <td>
                        <img src="../images/airforce_fav.png" alt="#">
                        <h5>Air Force</h5>
                      </td>
                      <td>
                        <img src="../images/coastguard_fav.png" alt="#">
                        <h5>Coast Guard</h5>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
            
            <!-- mobile vertion -->
            <div class="small-12 show-for-small-only column">
              <section class="small-12 contact-bar">
                <a href="">Contact a Recruiter</a>
              </section> 
            </div> 

         </div>
        </div>
    </div>
      
      <div class="row collapse">
  <div class="medium-3 columns">
    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Overview</a></li>
      <li class="tabs-title"><a href="#panel2v">The Military</a></li>
      <li class="tabs-title"><a href="#panel3v">Types of Service</a></li>
      <li class="tabs-title"><a href="#panel4v">Boot Camp by Service</a></li>
      <li class="tabs-title"><a href="#panel5v">Enlisted VS. Officer</a></li>
      <li class="tabs-title"><a href="#panel6v">Enlistment Process</a></li>
      <li class="tabs-title"><a href="#panel7v">Becoming a Military Process</a></li>
      <li class="tabs-title"><a href="#panel8v">Benifits</a></li>
      <li class="tabs-title"><a href="#panel9v">Contact A Recruiter</a></li>
    </ul>
    </div>
    
  <div class="medium-9 columns">
    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
      <div class="tabs-panel is-active" id="panel1v">
        <p>The Unitd States Military is part of the Department of Defense, the largest employer in the world. There are opportunities to work full-time or part-time, get a degree or participate in hobbies, travel the world or just sit at desk. Each branch of the military has a unique mission. Here they are in a nutshell:</p>
        <div id="Military-table">
                
                 <table>
                   <tbody>
                      <tr>
                        <td>
                            <img src="../images/army.png" alt="#">
                            <h5>Army</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>
                        </td>
                        <td>
                            <img src="../images/navy.png" alt="#">
                            <h5>Navy</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                           <img src="../images/air-force.png" alt="#">
                            <h5>Air Force</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                            <img src="../images/marines.png" alt="#">
                            <h5>Marine Corps</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                        <td class="border_hide">
                            <img src="../images/coast-guard.png" alt="#">
                            <h5>Coast Guard</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                      </tr>
                   </tbody>
                 </table>
                
        
              </div> 
      </div>
      
      <div class="tabs-panel" id="panel2v">
<p>lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.</p>
        <div id="Military-table">
                
                 <table>
                   <tbody>
                      <tr>
                        <td>
                            <img src="../images/army.png" alt="#">
                            <h5>Army</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>
                        </td>
                        <td>
                            <img src="../images/navy.png" alt="#">
                            <h5>Navy</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                           <img src="../images/air-force.png" alt="#">
                            <h5>Air Force</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                            <img src="../images/marines.png" alt="#">
                            <h5>Marine Corps</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                        <td class="border_hide">
                            <img src="../images/coast-guard.png" alt="#">
                            <h5>Coast Guard</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                      </tr>
                   </tbody>
                 </table>
                
        
              </div> 
      </div>
      
      <div class="tabs-panel" id="panel3v">
<p>lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.</p>
        <div id="Military-table">
                
                 <table>
                   <tbody>
                      <tr>
                        <td>
                            <img src="../images/army.png" alt="#">
                            <h5>Army</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>
                        </td>
                        <td>
                            <img src="../images/navy.png" alt="#">
                            <h5>Navy</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                           <img src="../images/air-force.png" alt="#">
                            <h5>Air Force</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                            <img src="../images/marines.png" alt="#">
                            <h5>Marine Corps</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                        <td class="border_hide">
                            <img src="../images/coast-guard.png" alt="#">
                            <h5>Coast Guard</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                      </tr>
                   </tbody>
                 </table>
                
        
              </div> 
      </div>
      
      <div class="tabs-panel" id="panel4v">
<p>lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.</p>
        <div id="Military-table">
                
                 <table>
                   <tbody>
                      <tr>
                        <td>
                            <img src="../images/army.png" alt="#">
                            <h5>Army</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>
                        </td>
                        <td>
                            <img src="../images/navy.png" alt="#">
                            <h5>Navy</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                           <img src="../images/air-force.png" alt="#">
                            <h5>Air Force</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                            <img src="../images/marines.png" alt="#">
                            <h5>Marine Corps</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                        <td class="border_hide">
                            <img src="../images/coast-guard.png" alt="#">
                            <h5>Coast Guard</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                      </tr>
                   </tbody>
                 </table>
                
        
              </div> 
      </div>
      
      <div class="tabs-panel" id="panel5v">
<p>lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.</p>
        <div id="Military-table">
                
                 <table>
                   <tbody>
                      <tr>
                        <td>
                            <img src="../images/army.png" alt="#">
                            <h5>Army</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>
                        </td>
                        <td>
                            <img src="../images/navy.png" alt="#">
                            <h5>Navy</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                           <img src="../images/air-force.png" alt="#">
                            <h5>Air Force</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                            <img src="../images/marines.png" alt="#">
                            <h5>Marine Corps</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                        <td class="border_hide">
                            <img src="../images/coast-guard.png" alt="#">
                            <h5>Coast Guard</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                      </tr>
                   </tbody>
                 </table>
                
        
              </div> 
      </div>
      
      <div class="tabs-panel" id="panel6v">
        <p>lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.</p>
        <div id="Military-table">
                
                 <table>
                   <tbody>
                      <tr>
                        <td>
                            <img src="../images/army.png" alt="#">
                            <h5>Army</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>
                        </td>
                        <td>
                            <img src="../images/navy.png" alt="#">
                            <h5>Navy</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                           <img src="../images/air-force.png" alt="#">
                            <h5>Air Force</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                            <img src="../images/marines.png" alt="#">
                            <h5>Marine Corps</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                        <td class="border_hide">
                            <img src="../images/coast-guard.png" alt="#">
                            <h5>Coast Guard</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                      </tr>
                   </tbody>
                 </table>
                
        
              </div> 
      </div>
      
       <div class="tabs-panel" id="panel7v">
        <p>lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.</p>
        <div id="Military-table">
                
                 <table>
                   <tbody>
                      <tr>
                        <td>
                            <img src="../images/army.png" alt="#">
                            <h5>Army</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>
                        </td>
                        <td>
                            <img src="../images/navy.png" alt="#">
                            <h5>Navy</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                           <img src="../images/air-force.png" alt="#">
                            <h5>Air Force</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                            <img src="../images/marines.png" alt="#">
                            <h5>Marine Corps</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                        <td class="border_hide">
                            <img src="../images/coast-guard.png" alt="#">
                            <h5>Coast Guard</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                      </tr>
                   </tbody>
                 </table>
                
        
              </div> 
      </div>
      
      <div class="tabs-panel" id="panel8v">
        <p>lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.</p>
        <div id="Military-table">
                
                 <table>
                   <tbody>
                      <tr>
                        <td>
                            <img src="../images/army.png" alt="#">
                            <h5>Army</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>
                        </td>
                        <td>
                            <img src="../images/navy.png" alt="#">
                            <h5>Navy</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                           <img src="../images/air-force.png" alt="#">
                            <h5>Air Force</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                            <img src="../images/marines.png" alt="#">
                            <h5>Marine Corps</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                        <td class="border_hide">
                            <img src="../images/coast-guard.png" alt="#">
                            <h5>Coast Guard</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                      </tr>
                   </tbody>
                 </table>
                
        
              </div> 
      </div>
      
       <div class="tabs-panel" id="panel9v">
        <p>lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.lorem ipsum dolar sit amet.</p>
        <div id="Military-table">
                
                 <table>
                   <tbody>
                      <tr>
                        <td>
                            <img src="../images/army.png" alt="#">
                            <h5>Army</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>
                        </td>
                        <td>
                            <img src="../images/navy.png" alt="#">
                            <h5>Navy</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                           <img src="../images/air-force.png" alt="#">
                            <h5>Air Force</h5>
                              <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                            
                        </td>
                        <td>
                            <img src="../images/marines.png" alt="#">
                            <h5>Marine Corps</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                        <td class="border_hide">
                            <img src="../images/coast-guard.png" alt="#">
                            <h5>Coast Guard</h5>
                               <a href="#">
                               <span class="circle"><i class="fa fa-plus" aria-hidden="true"></i></span>
                             </a>                           
                        </td>
                      </tr>
                   </tbody>
                 </table>
                
        
              </div> 
      </div>
      
      </div>
      
      <div class="row column">
        <div class="career-detail">
            <p>There's nothing we can tell you about the Services thet they can't tell you batter so, we/ll let them tell you about them. we're here to tell you about them as a whole. Like a gap year, trade school, or college, the Military is an opinion. And just like the others, it's not one-size-fits-all.</p>
        </div>
       </div>
       
             <div class="row column">
        <div class="military_text career-detail">
            <h3>The Military</h3>
            <p>You've probably heard of the five service branches, but did you Know there are actually 12? each ofnefits, abfers unique jobs, and time-commitment options that give you the flexibility to live the life you want.</p>
        </div>
       </div>
       
             <div class="row column">
               <div class="army_text">
                <div class="row">
           			<ul>
                    <li>
                         <h3><a href="#">Army</a></h3>
                         <p><a href="#">Army Reserve</a></p>
                         <p><a href="#">Army National Guard</a></p>
            		</li>
                    
                    <li>
                         <h3><a href="#">Navy</a></h3>
                         <p><a href="#">Navy Reserve</a></p>
            		</li>
                    
                    <li>
                         <h3><a href="#">Air Force</a></h3>
                         <p><a href="#">Air Force Reserve</a></p>
                         <p><a href="#">Air Force National Guard</a></p>
            		</li>
                    
                    <li>
                         <h3><a href="#">Marine Cops</a></h3>
                         <p><a href="#">Marine Cops Reserve</a></p>
                         <p><a href="#">Marine Cops National Guard</a></p>
            		</li>
                    
                    <li>
                         <h3><a href="#">Coast Guard</a></h3>
                         <p><a href="#">Coast Guard Reserve</a></p>
            		</li>
                    </ul>
               </div>
        	  </div>
       		</div>
            
            <div class="row column">
        <div class="military_text career-detail">
            <h3>Debt-free. Degree. Desk job. Downtime. Do you think you have the Military all figured out? Think again.</h3>
            <p>You can serve while you go to school (or go to school while you serve). You can sit behind a desk if you want. You can take vacations. You can enjoy your hobbies and downtime with family and friends. All while earning a paycheck ang getting invaluable experience.</p><br>
            
                        <p>You may be one of those people who thinks, "I know the Military is not for me," but have you ever actually thought about why you think that? Same for those who know	 for sure that you want to join.Have you asked yourself why ?</p><br>
                        
                       <p>Gender, Geographic location,influencers(like parents and friends) all play a role in the types of messages you receive about your ability and role in society. These messages shape your identity.</p><br>
                       
                       <p>We'd like you to take a step outside what you know and get to know  the military. we can only promise you one thing,you won't leave this site afraid of what you don't  know.
</p><br>

            <h3>You say, no military? We say, know military.</h3>
        </div>
       </div>
       
       <div class="contct_cst">
       <section class="small-12 contact-bar">
                     <a href="">Contact a Recruiter</a>
                  </section>
                  </div>
       
       
    </div>
  </div>
      
          
          

          

          

  
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/jquery.sticky.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>

    <script>
      $(document).ready(function(){
        $("#sticky").sticky({topSpacing:35, bottomSpacing:417});
      });
    </script>
  </body>
</html>
