<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>

    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="AccordionCtrl" class=" modal-open">
    
   <!-- modal -->

  <div id="marine-modal" modal-render="true" tabindex="-1" role="dialog" class="modal fade ng-isolate-scope in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1050 + index*10, display: 'block'}" uib-modal-window="modal-window" size="lg" index="0" animate="animate" modal-animation="true" style="z-index: 1050; display: block;">
      <div class="modal-header ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><strong>Marine Corps</strong>- Basic Training Physical Fitness Requirements</h3>
      </div>
      <div class="modal-body ng-scope">
        <div class="row">
          
          <div class="small-12 tables">
                <p class="nav-base-head"><strong>Fitness Requirements for Each PFT Event (Males)
</strong></p>
                <table>
                   <tbody>
                      <tr>
                         <td><b>Age</b></td>
                         <td><b>Pull-Ups</b></td>
                         <td><b>Crunches</b></td>
                         <td><b>3-Mile Run</b></td>
                      </tr>
                      <tr>
                         <td>17-26</td>
                         <td>3</td>
                         <td>50</td>
                         <td>28:00</td>
                      </tr>
                      <tr>
                         <td>27-39</td>
                         <td>3</td>
                         <td>45</td>
                         <td>29:00</td>
                      </tr>
                      <tr>
                         <td>40-45</td>
                         <td>3</td>
                         <td>40</td>
                         <td>33:00</td>
                      </tr>
                      <tr>
                         <td>46</td>
                         <td>3</td>
                         <td>45</td>
                         <td>30:00</td>
                      </tr>
                      
                   </tbody>
                 </table>
          </div>


          <div class="small-12 tables">
                <p class="nav-base-head"><strong>Fitness Requirements for Each PFT Event  (Females)</strong></p>
                <table>
                   <tbody>
                      <tr>
                         <td><b>Age</b></td>
                         <td><b>Flexed-Arm Hang</b></td>
                         <td><b>Crunches</b></td>
                         <td><b>3-Mile Run</b></td>
                      </tr>
                      <tr>
                         <td>17-26</td>
                         <td>15 Seconds</td>
                         <td>50</td>
                         <td>31:00</td>
                      </tr>
                      <tr>
                         <td>27-39</td>
                         <td>15 Seconds</td>
                         <td>45</td>
                         <td>32:00</td>
                      </tr>
                      <tr>
                         <td>40-45</td>
                         <td>15 Seconds</td>
                         <td>45</td>
                         <td>33:00</td>
                      </tr>
                      <tr>
                         <td>46</td>
                         <td>15 Seconds</td>
                         <td>40</td>
                         <td>36:00</td>
                      </tr>
                      
                   </tbody>
                 </table>
          </div>

          <div class="small-12 tables">
                <p class="nav-base-head"><strong>Marine Corps PFT Classification Scores  (Both Male and Female)</strong></p>
                <table>
                   <tbody>
                      <tr>
                         <td><b>Class</b></td>
                         <td><b>Age 17-26</b></td>
                         <td><b>Age 17-26</b></td>
                         <td><b>Age 40-45</b></td>
                         <td><b>Age 46</b></td>
                      </tr>
                      <tr>
                         <td>1st</td>
                         <td>225</td>
                         <td>200</td>
                         <td>175</td>
                         <td>150</td>
                      </tr>
                      <tr>
                         <td>2nd</td>
                         <td>175</td>
                         <td>150</td>
                         <td>125</td>
                         <td>100</td>
                      </tr>
                      <tr>
                         <td>3rd</td>
                         <td>135</td>
                         <td>110</td>
                         <td>88</td>
                         <td>65</td>
                      </tr>
                      
                      
                   </tbody>
                 </table>
          </div>
         
         <p>The minimum performance requirement for Marines to pass the PFT is to achieve a 3d class score, by age group.</p>
          
         

          <div class="close-button-div">
            <button class="button" type="button" ng-click="ok()">close</button>
          </div>
        
        </div>
      </div>
</div>
<div class="modal-backdrop fade in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" uib-modal-backdrop="modal-backdrop" modal-animation="true" style="z-index: 1040;"></div>


   <!-- modal end -->



    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided" class="active"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section home">
      <div id="boot-camp">
         <div class="row column">
           <h3>Learn About Your Options</h3>
         </div>  
         <div class="row all-data">
            <div class="small-12 medium-3 large-3 column">
                <ul class="menu vertical">
                  <li><a href="#">Overview</a></li>
                  <li><a href="#">The Military </a></li>
                  <li><a href="#">Types of Service</a></li>
                  <li><a href="#">Boot Camp by Service</a></li>
                  <li><a href="#">Enlisted VS. Officer</a></li>
                  <li><a href="#">Enlistment Process</a></li>
                  <li><a href="#">Becoming a Military Officer</a></li>
                  <li><a href="#">Benefits</a></li>
                  <li><a href="#">Contact A Recruiter</a></li>
                </ul>  
            </div>
            <div class="small-12 medium-9 large-9 right-part column">
                <p><strong>To serve in the Military you must complete boot camp. This rigorous physical and classroom training prepares recruits mentally and physically for life in the Military.</strong></p>
                <div id="Military-table">
                
                 <table>
                   <tbody>
                      <tr>
                        <td>
                            <img src="../images/army.png" alt="#">
                            <h5>Army</h5>
                        </td>
                        <td>
                            <img src="../images/navy.png" alt="#">
                            <h5>Navy</h5>
                        </td>
                        <td>
                           <img src="../images/air-force.png" alt="#">
                            <h5>Air Force</h5>
                        </td>
                        <td>
                            <img src="../images/marines.png" alt="#">
                            <h5>Marine Corps</h5>
                        </td>
                        <td>
                            <img src="../images/coast-guard.png" alt="#">
                            <h5>Coast Guard</h5>
                        </td>
                      </tr>
                   </tbody>
                 </table>
                
        
              </div> 

               <div id="boot-camp-table" class="data-table">
                  <section class="small-12 column boot-camp-header">
                     <div class="large-10 medium-9 small-12 column">
                       <h5>Boot Camp LOCATIONS and Duration</h5>
                     </div>
                     <div class="large-2 medium-3 small-12 column">
                        <!--  <a href="javascript:void(0)" data-open="MapModal"><i class="fa fa-map-marker"></i> Map View</a> -->
                       <a href="javascript:void(0)" ><i class="fa fa-map-marker"></i> Map View</a>
                         
                     </div>     
                  </section>
                  <section class="table">
                      <table >
                        <tbody>
                           <!-- <tr>
                             <td colspan="4">
                                <h5>Boot Camp LOCATIONS and Duration</h5>
                             </td>  
                             <td align="right">
                               <a href="#"><i class="fa fa-map-marker"></i> Map View</a>
                             </td>
                           </tr> -->

                           <tr><td colspan="5">&nbsp;</td></tr>

                           <tr>
                             <td>
                               10 weeks
                             </td>
                             <td>12 weeks</td>
                             <td>7-9 weeks</td>
                             <td>8.5 weeks</td>
                             <td>8 weeks</td>
                           </tr>

                           <tr>
                             <td>
                               <p><strong>Fort Benning</strong><br> Columbus, GA</p>
                               <p><strong>Fort Jackson</strong><br> Columbia, SC</p>
                               <p><strong>Fort Leonard Wood</strong><br> Waynesville, MI</p>
                               <p><strong>Waynesville, MI</strong><br> Lawton, OK</p>
                             </td>
                             <td valign="top">
                                <p><strong>Great Lakes Recruit Training Depot</strong><br> Great Lakes Recruit Training Depot</p> 
                             </td>
                             <td valign="top">
                                 <p><strong>Lackland Air Force Base</strong><br> Lackland Air Force Base</p>
                             </td>
                             <td valign="top">
                                 <p><strong>Marine Corps Recruit Depot</strong><br> Parris Island Parris Island, SC</p>
                                 <p><strong>Marine Corps Recruit Depot</strong><br> San Diego<br> San Diego, CA</p>
                              </td>
                             <td valign="top">
                                <p><strong>Cape May Coast Guard Training Center</strong><br> Cape May, NJ</p>
                              
                             </td>
                           </tr>
                         </tbody>  
                      </table>
                  </section>  
               </div>
               <div id="physical-fitness" class="data-table">
                  <section class="small-12 column boot-camp-header">
                     <div class="small-12 column">
                       <h5>Physical Fitness Requirements</h5>
                     </div>
                  </section>
                  <section class="table">
                    <table>
                      <tbody>
                         
                         <tr><td colspan="5">&nbsp;</td></tr>

                         <tr>
                           <td>
                             <h6>Army</h6>
                           </td>
                           <td>
                              <h6>Navy</h6>
                           </td>
                           <td>
                              <h6>Air Force</h6>
                           </td>
                           <td>
                              <h6>Marine Corps</h6>
                           </td>
                           <td>
                              <h6>Coast Guard</h6>
                           </td>
                         </tr>

                         <tr>
                           <td valign="top">
                              <ul>
                                <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"></div><span>   2-mile run </span></li>
                                <li class="clearfix">
                                  <div class="img">
                                     <img src="../images/sit_up_icon.png" alt="#">
                                  </div>   
                                  <span>sit-ups</span>

                                </li>
                                <li class="clearfix">
                                   <div class="img"> 
                                     <img src="../images/push_up_icon.png" alt="#">  
                                   </div>
                                   <span>push-ups </span>
                                </li>

                              </ul>
                               
                           </td>
                           <td valign="top">
                               <ul>
                                <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"> </div> <span>3-mile run </span></li>
                                <li class="clearfix"><div class="img"><img src="../images/pull_up_icon.png" alt="#"> </div> <span>pull-ups </span></li>
                                <li class="clearfix"><div class="img"><img src="../images/abdominal_icon.png" alt="#"> </div> <span>abdominal crunches </span> </li>
                              </ul>
                           </td>
                           <td valign="top">
                                <ul>
                                  <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"></div> <span> 1.5-mile run or</span></li>
                                  <li class="clearfix"><div class="img"><img src="../images/pull_up_icon.png" alt="#"></div> <span>500-yard swim </span></li>
                                  <li class="clearfix"><div class="img"><img src="../images/curl_up_icon.png" alt="#"> </div><span> curl-ups </span></li>

                                  <li class="clearfix"><div class="img"><img src="../images/push_up_icon.png" alt="#"> </div><span> push-ups </span></li>

                                  <li class="clearfix"><div class="img"><img src="../images/sit_reach_icon.png" alt="#"> </div><span> sit-and-reach flexibility </span></li>
                              </ul>
                           </td>
                           <td valign="top">
                               <ul>
                                  <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"></div> <span> 1.5-mile run </span></li>
                                  <li class="clearfix"><div class="img"><img src="../images/push_up_icon.png" alt="#"></div> <span>push-ups</span></li>
                                  <li class="clearfix"><div class="img"><img src="../images/sit_up_icon.png" alt="#"> </div><span> sit-ups</span></li>

                                  <li class="clearfix"><div class="img"><img src="../images/abdominal_icon.png" alt="#"> </div><span> abdominal circumference measurement </span></li>

                                 
                              </ul>
                            </td>
                           <td valign="top">
                              <ul>
                                  <li class="clearfix"><div class="img"><img src="../images/run_icon.png" alt="#"></div> <span> 1.5-mile run </span></li>

                                  <li class="clearfix"><div class="img"><img src="../images/push_up_icon.png" alt="#"></div> <span>push-ups</span></li>

                                  <li class="clearfix"><div class="img"><img src="../images/sit_up_icon.png" alt="#"> </div><span> sit-ups</span></li>

                                  <li class="clearfix"><div class="img"><img src="../images/sit_reach_icon.png" alt="#"> </div><span>sit-and-reach flexibility </span></li>

                                   <li class="clearfix"><div class="img"><img src="../images/swim_icon.png" alt="#"> </div><span> water tread </span></li>

                                    <li class="clearfix"><div class="img"><img src="../images/jump_icon.png" alt="#"> </div><span> 5-ft platform jump into a 100-meter swim </span></li>

                                 
                              </ul>
                            
                           </td>
                         </tr>
                         <tr>
                           <td align="center">
                             <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                           </td>
                           <td align="center">
                             <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                           </td>
                           <td align="center">
                             <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                           </td>
                           <td align="center">
                             <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                           </td>
                           <td align="center">
                             <a href="#">
                               <span class="circle"><i class="fa fa-plus"></i></span>
                               More Details
                             </a>
                           </td>
                         </tr>
                       </tbody>  
                    </table>
                  </section> 
                  
               </div>
               <section class="small-12 contact-bar">
                     <a href="">Contact a Recruiter</a>
                  </section>
            </div>
         </div>
        </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="../js/custom.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script> -->
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    
  </body>
</html>
