<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>

    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="EnlistmentCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section home">
      <div id="boot-camp">
         <div class="row column">
           <h3>Learn About Your Options</h3>
         </div>  
         <div class="row all-data">
            <div class="small-12 medium-3 large-3 column sidebar-lhs">
                 
                <ul id="sticky" class="menu vertical">
                  <li><a href="#">Overview</a></li>
                  <li><a href="#">The Military </a></li>
                  <li><a href="#">Types of Service</a></li>
                  <li><a href="#">Boot Camp by Service</a></li>
                  <li><a href="#">Enlisted VS. Officer</a></li>
                  <li><a href="#" class="active">Enlistment Process</a></li>
                  <li><a href="#">Becoming a Military Officer</a></li>
                  <li><a href="#">Benefits</a></li>
                  <li><a href="#">Contact A Recruiter</a></li>
                </ul> 

                <select class="menu-dropdown">
                  <option value="Overview">Overview</option>
                  <option value="The Military">The Military</option>
                  <option value="Types of Service">Types of Service</option>
                  <option value="Boot Camp by Service">Boot Camp by Service</option>
                  <option value="Enlisted VS. Officer">Enlisted VS. Officer</option>
                  <option selected value="Enlistment Process">Enlistment Process</option>
                  <option value="Becoming a Military Officer">Becoming a Military Officer</option>
                  <option value="Benefits">Benefits</option>
                  <option value="Contact A Recruiter">Contact A Recruiter</option>
                </select> 
            </div>

            <div class="small-12 medium-9 large-9 right-part column full-black-text enlistment-process">
				<div class="row">
                	<div class="small-12 medium-12 large-12 column">
                    	<p class="bodysize"><b>To officially join the Military, a recruiter will schedule your visit to a MEPS (Military Entrance Processing Station). MEPS determines an applicant's physical qualifications, aptitude, and moral standards as set by each branch of military service. The process may take up to three days, and food and lodging are usually provided.</b></p>
                        <span>These are some general rules to apply to your MEPS visit:</span>
                        <ol>
                        	<li>Discuss any childhood medical problems with your parents and bring documentation with you.</li>
                            <li>Bring your Social Security card, birth certificate and driver's license.</li>
                            <li>Remove earrings (they obstruct the headset used for the hearing test).</li>
                            <li>Profanity and offensive wording or pictures on clothing are not tolerated.</li>
                            <li>Hats are not permitted inside the MEPS.</li>
                            <li>If you wear either eyeglasses or contacts, bring them along with your prescription and lens case.</li>
                            <li>Bathe or shower the night before your examination.</li>
                            <li>Wear neat, moderate, comfortable clothing – don't forget underclothes.</li>
                            <li>Don't bring stereo headphones, watches, jewelry, excessive cash or any other valuables.</li>
                            <li>Get a good night's sleep. Processing starts early at the MEPS -- you must report on time.</li>
                        </ol>
                        
                        <uib-accordion> 
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>STEP 1: TAKE THE ASVAB <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                                <p>ASVAB stands for Armed Services Vocational Aptitude Battery. It is a multiple-choice aptitude test that estimates your performance in academic and vocational endeavors. It consists of 10 subtests that test your knowledge of standard school subjects like math, English, and science, and other subjects like electronics and mechanical comprehension.</p>
                                
                                <p>You'll receive an AFQT (Military Entrance Score). The AFQT score is what the Military will use to determine enlistment eligibility. You'll also receive a score for each of the individual subtests. Each Service uses a custom combination of ASVAB subtest to produce a composite score you'll need to achieve in order to qualify for different careers. These score requirements are subject to change without notice. Learn more about Service composites, <a href="#">here.</a></p> 
                                
                                <p>If you participated in the ASVAB CEP at your high school, you're ahead of the competition. Knowing your AFQT and composite scores puts the power in your hands. You can explore careers and services to determine which the best fit is for you before you talk to a recruiter. Be sure to tell your recruiter about your participation to see if your results are still valid.</p> 
                                <ul>
                                    <li>Learn more about <a href="#">ASVAB CEP</a></li>
                                    <li>Learn more about <a href="#">ASVAB</a></li>
                                </ul>
                              
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>STEP 2:  GET PHYSICAL <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading>
                              <div> 
                                <p>Each Service has different physical fitness requirements. Use these guidelines to prepare for the <a href="#">physical fitness test (PFT).</a> </p>
                                
                                <span>The physical is a regular medical exam, similar to what you would receive at a primary care doctor.  <a href="#">Examinations include [v]:</a></span> 
								<ul class="list"> 
                                    <li>Height and weight measurements</li>
                                    <li>Hearing and vision examinations</li>
                                    <li>Urine and blood tests</li>
                                    <li>Drug and alcohol tests</li>
                                    <li>Muscle group and joint maneuvers</li>
                                    <li>Specialized test if required (pregnancy test for women, body fat percentage test for those who are overweight, tests relating to any unusual medical history)</li>
                                </ul>
                               </div>
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>STEP 3:  DETERMINE A CAREER and SIGN ENLISTMENT CONTRACT <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading>
                              
                              <div>STEP 3:  DETERMINE A CAREER and SIGN ENLISTMENT CONTRACT</div>
                              
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>STEP 4:  TAKE THE OATH OF ENLISTMENT <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading>
                              
                              <div>STEP 4:  TAKE THE OATH OF ENLISTMENT</div>
                              
                          </uib-accordion-group>
                          
                          <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                              <uib-accordion-heading>STEP 5:  DECIDE WHEN TO GO <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading>
                              
                              <div>STEP 5:  DECIDE WHEN TO GO</div>
                              
                          </uib-accordion-group> 
                      </uib-accordion>                       
					
                    </div>
                    
                                    
                </div>
               <section class="small-12 contact-bar">
                  <a href="">Contact a Recruiter</a>
               </section>
            </div>


         </div>
        </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/jquery.sticky.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>

    <script>
      $(document).ready(function(){
        $("#sticky").sticky({topSpacing:35, bottomSpacing:417});
      });
    </script>
    
  </body>
</html>
