<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>

    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body class="modal-open">
    
   <!-- modal -->

  <div id="pay-modal" modal-render="true" tabindex="-1" role="dialog" class="modal fade ng-isolate-scope in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1050 + index*10, display: 'block'}" uib-modal-window="modal-window" size="lg" index="0" animate="animate" modal-animation="true" style="z-index: 1050; display: block;">
      <div class="modal-header ng-scope">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Pay Scale</h3>
      </div>
      <div class="modal-body ng-scope">
        <div class="row">
          
          <div class="small-12 column">
          	<div class="pay-text-modal">
              <p>Select a Service and a rank to see the base pay and additional allowances.</p>
              <div class="row">
                  <div class="small-12 medium-6 columns">
                      <label>Service</label>
                      <select>
                          <option value="Name">select one</option>
                      </select>
                  </div>
                  <div class="small-12 medium-6 columns">
                      <label>Rank</label>
                      <select>
                          <option value="Name">select one</option>
                      </select>
                  </div>
              </div>
              <hr>
              <div class="row">
                  <div class="small-12 medium-6 columns basic-pay">
                      <p class="nav-base-head"><strong>BASIC PAY</strong></p>
                      <span>Effective: January 1, 2017</span>
                      <table>
                          <tbody>
                              <tr>
                                  <td><b>Pay grade</b></td>
                                  <td align="right"><b>Montly Amount</b></td>
                              </tr>
                              <tr>
                                  <td><b>O-4</b></td>
                                  <td align="right">$4,602.60</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="small-12 medium-6 columns benefits-pay">
                      <p><b>*Active Duty service members also receive free medical, dental, and prescription coverage, plus an opportunity to contribute a retirement plan with matching contribution. This is just the beginning of the <a href="#">benefits</a> of a military career.</b></p>
                  </div>
              </div>
              <hr>
              <div class="row">
                  <div class="small-12 medium-6 columns basic-pay">
                      <p class="nav-base-head"><strong>Basic Allowance for <br>Housing RC/Transient</strong></p>
                      <span>Effective: January 1, 2017</span>
                      <table>
                          <tbody>
                              <tr>
                                  <td colspan="2" height="10"></td>
                              </tr>
                              <tr>
                                  <td><b>Partial</b></td>
                                  <td align="right">$26.70</td>
                              </tr>
                              <tr>
                                  <td><b>Without Dependent</b></td>
                                  <td align="right">$1,354.20</td>
                              </tr>
                              <tr>
                                  <td><b>With Dependent</b></td>
                                  <td align="right">$1,557.60</td>
                              </tr>
                              <tr>
                                  <td><b>Differential</b></td>
                                  <td align="right">$186.30</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="small-12 medium-6 columns basic-pay">
                      <p class="nav-base-head"><strong>Basic Allowance for <br>Subsistence* </strong></p>
                      <span>Effective: January 1, 2017</span>
                      <table>
                          <tbody>
                              <tr>
                                  <td colspan="2" height="10"></td>
                              </tr>
                              <tr>
                                  <td><b>Officers</b></td>
                                  <td align="right">$253.63</td>
                              </tr>
                              <tr>
                                  <td><b>Enlisted</b></td>
                                  <td align="right">$368.29</td>
                              </tr>
                              <tr style="background: #fff;">
                                <td colspan="2">*Subsistence is an allowance for things such as food or other necessities. </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
          </div>

          <div class="close-button-div">
            <button class="button" type="button" ng-click="ok()">close</button>
          </div>
        
        </div>
      </div>
</div>
<div class="modal-backdrop fade in" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" uib-modal-backdrop="modal-backdrop" modal-animation="true" style="z-index: 1040;"></div>


   <!-- modal end -->
   
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section home">
      <div id="boot-camp">
         <div class="row column">
           <h3>Learn About Your Options</h3>
         </div>  
         <div class="row all-data">
            <div class="small-12 medium-3 large-3 column sidebar-lhs">
                 
                <ul id="sticky" class="menu vertical">
                  <li><a href="#">Overview</a></li>
                  <li><a href="#">The Military </a></li>
                  <li><a href="#">Types of Service</a></li>
                  <li><a href="#">Boot Camp by Service</a></li>
                  <li><a href="#">Enlisted VS. Officer</a></li>
                  <li><a href="#">Enlistment Process</a></li>
                  <li><a href="#">Becoming a Military Officer</a></li>
                  <li><a href="#">Benefits</a></li>
                  <li><a href="#" class="active">Pay</a></li>
                  <li><a href="#">Reasons to Consider the Military</a></li>
                  <li><a href="#">Contact A Recruiter</a></li>
                </ul> 

                <select class="menu-dropdown">
                  <option value="Overview">Overview</option>
                  <option value="The Military">The Military</option>
                  <option value="Types of Service">Types of Service</option>
                  <option value="Boot Camp by Service">Boot Camp by Service</option>
                  <option value="Enlisted VS. Officer">Enlisted VS. Officer</option>
                  <option value="Enlistment Process">Enlistment Process</option>
                  <option value="Becoming a Military Officer">Becoming a Military Officer</option>
                  <option value="Benefits">Benefits</option>
                  <option selected value="Pay">Pay</option>
                  <option value="Reasons to Consider the Military">Reasons to Consider the Military</option>
                  <option value="Contact A Recruiter">Contact A Recruiter</option>
                </select> 
            </div>

            <div class="small-12 medium-9 large-9 right-part column full-black-text pay-section">
				<div class="row">
                	<div class="small-12 medium-12 large-12 column">
                    	<p class="bodysize"><b>Military salaries come from two sources: base pay and special pay. Base pay is the same across all Service branches, and increases are based on rank and time in the Service.</b></p>
                        <button class="button military-pay" type="button">2017 MILITARY PAY TABLE</button>
                        <strong>Special Pay</strong>
                        <p>Depending on your job and service, you may receive special pay, pay given on top of your base salary. Sometimes it is tax-free, as with hazardous duty pay, and sometimes it is not. Examples of special pay are language skills, hazardous duty pay, career enlisted flyer incentive pay, submarine duty pay, and medical officers special pay to name a few.</p>
                        <p>In addition to base pay, meals and housing are included as part of active duty military compensation packages:</p>
                        <strong>Meals</strong>
                        <p>While on active duty you are eligible for free dining services or you will be given an allowance to cover the cost of your meals when dining facilities are not available.</p>
                        <strong>Housing</strong>
                        <p>If you are married and on-base housing is not available, or you would like to live off base, a tax-free monthly housing allowance will be provided. The military also pays all travel and expenses for required moves.</p>
                        <strong>Enlistment Bonuses</strong>
                        <p>Enlistment bonuses vary by Service and change to meet the needs of the Service -- be sure to ask your recruiter about the availability of enlistment bonuses.</p>
                        <strong>Advanced Enlistment Rank</strong>
                        <p>In addition to enlistment bonuses, recruiters can offer you the chance to enter the service at a higher pay grade called an Advanced Enlistment Rank. Most people start out at E-1 (Enlisted Pay grade 1) however qualified enlistees may enter at E-2 or E-3.</p>
                    </div>
                </div>
               <section class="small-12 contact-bar">
                  <a href="">Contact a Recruiter</a>
               </section>
            </div>


         </div>
        </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/jquery.sticky.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>

    <script>
      $(document).ready(function(){
        $("#sticky").sticky({topSpacing:35, bottomSpacing:417});
      });
    </script>
    
  </body>
</html>
