<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css?ver=0.7">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>
    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="AccordionCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section">

      
      
      <div class="row column">
        
        <div class="portfolio">
          <div class="well">
            <div class="row">
              <div class="medium-6 columns">
                <img src="../images/profile.jpg">
                <strong>Jane Doe,</strong><br/> 
                South High school <br/>
                Graduation Year 2017<br/>
                <a href="#">Edit</a>
              </div>
              <div class="medium-6 columns">            
                <div class="ng-scope ng-isolate-scope alert alert-info" role="alert">
                  <button type="button" class="close" ng-click="close({$event: $event})">
                    <span>×</span>
                  </button>
                  <p>
                    <strong>We noticed...</strong><br/>
                    <strong>6</strong> our ot <strong>10</strong> jobs you liked are available in the Air Force.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="tabbed">
            <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
                <li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-scope ng-isolate-scope active" index="0" heading="Explore">
                  <a href="" ng-click="select($event)" class="nav-link ng-binding" uib-tab-heading-transclude="">Explore</a>
                </li>
                <li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-scope ng-isolate-scope" index="1" heading="Portfolio">
                  <a href="" ng-click="select($event)" class="nav-link ng-binding" uib-tab-heading-transclude="">Portfolio</a>
                </li>
            </ul>

            <div class="tab-content">

              <div class="row">
                <div class="medium-12 columns" role="main">
                          
                  <div class="explore-group">
                    
                    <div class="table-info row">
                        <div class="medium-6 columns">
                          <strong>FAVORITE OCCUPATIONS</strong>
                        </div>
                        <div class="medium-6 columns show-for-medium">
                          <span class="caps">View Favorite:   <a>Career Clusters</a>  |   <a>Services</a></span>
                        </div>
                        <div class="medium-12 columns"><hr></div>
                    </div>
                    <div class="occupations row">
                      <div class="medium-12 columns">
                        <center>You have no occupations selected as a favorite</center>
                      </div>
                    </div>
                    <div class="table-pagination row">
                      <div class="medium-12 columns">
                        <hr>
                        <div class="row compare">
                          <div class="medium-8 columns" style="text-transform:none;">
                            <strong>
                              Compare your favorite occupations side by side. <br/>
                              Select three up to occupations from your list and hit Compare.</strong>
                          </div>
                          <div class="medium-4 columns">
                            <button class="button">Compare</button>
                          </div>
                        </div>

                        <hr class="hide-for-medium">
                        <div class="medium-6 columns hide-for-medium">
                          <span class="caps">View Favorite:   <a>Career Clusters</a>  |   <a>Services</a></span>
                        </div>

                      </div>
                    </div>
                  </div>
                  
                  <div class="explore-group">
                    <div class="table-info row">
                      <div class="medium-12 columns">
                        <strong>SAVED SEARCHES</strong>
                      </div>
                      <div class="medium-12 columns"><hr></div>
                    </div>
                    <div class="occupations row">
                      <div class="medium-12 columns">
                        <center>You have no saved searches</center>
                        <hr style="margin-bottom: 0"/>
                      </div>
                    </div>
                  </div>
                  
                  <div class="explore-group table">
                    <div class="clearfix">
                      <div class="medium-12 columns background">
                        <div class="row">
                          <div class="medium-3 columns description">
                            <p><strong class="caps">Suggested Careers</strong></p>
                            <p>These occupations are suggested based on the information you entered.</p>
                          </div>
                          <div class="medium-9 columns info-container">
                            <div class="row">
                              <div class="medium-5 columns image" style="background-image: url(../images/food-service.jpg);">
                              </div>
                              <div class="medium-7 columns info">
                                <div id="tools">
                                  <div id="pagination"><i class="icon-left"></i> 6 of 140 <i class="icon-right"></i></div>
                                  <span class="actions">
                                    <a><i class="favorite fa fa-heart-o"></i></a> 
                                    <a class="remove">×</a>
                                  </span>
                                </div>
                                <p>
                                  <a><strong>Communications Equipment</strong></a> <br/>
                                  <a><strong>Technologists and Technicians</strong></a> 
                                </p>
                                
                                <p><strong class="caps">Military Branches</strong></p>
                                
                                <p><img src="../images/army.png"> <img src="../images/air-force.png"> <img src="../images/navy.png"> <img src="../images/marines.png"> <img src="../images/coast-guard.png"> <img src="../images/natl-guard.png"></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="explore-group table">
                    <div class="clearfix">
                      <div class="medium-12 columns background">
                        <div class="row">
                          <div class="medium-3 columns description">
                            <p><strong class="caps">Guided Exploration</strong></p>
                            <p>Answer these questions based on your preferences. We'll make 
recommendations just for you. </p>
                            <p id="retake"><a>Retake Quiz</a></p>
                          </div>
                          <div class="medium-9 columns info-container">
                            <div class="row">
                              <div class="medium-12 columns info">
                                <p class="guided-heading"><strong><span>Can you see yourself?</span> (Select all that apply)</strong></p>
                                <div class="row">
                                  <div class="medium-6 columns">
                                    <input type="checkbox" id="c1"><label for="c1">Reading and writing</label><br>
                                    <input type="checkbox" id="c2"><label for="c2">Working with machines</label><br>
                                    <input type="checkbox" id="c3"><label for="c3">Speaking foreign languages</label><br>
                                    <input type="checkbox" id="c4"><label for="c4">Helping others</label><br>
                                  </div>
                                  <div class="medium-6 columns">
                                    <input type="checkbox" id="c5"><label for="c5">Performing physical work</label><br>
                                    <input type="checkbox" id="c6"><label for="c6">Organizing and planning activities</label><br>
                                    <input type="checkbox" id="c7"><label for="c7">Bringing ideas to life</label><br>
                                    <input type="checkbox" id="c8"><label for="c8">Interpreting scientific and medical data</label><br>
                                  </div>
                                </div>
                                <button class="button next">Next Question</button>
                                <ul class="pagination">
                                  <li class="active">1</li>
                                  <li>2</li>
                                  <li>3</li>
                                  <li>4</li>
                                  <li>5</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row favorites">
                    <div class="medium-7 columns">
                      <div class="explore-group">
                        <p><strong class="caps">Find a Recruiter</strong></p>
                        <div class="row">
                          <div class="medium-6 columns">
                              <a>Army</a><br>
                              <a>Marine Corps/Marine Corps Reserve</a><br>
                              <a>Navy</a><br>
                              <a>Air Force</a><br>
                              <a>Coast Guard/Coast Guard Reserve</a>
                          </div>
                          <div class="medium-6 columns">
                              <a>Army National Guard</a><br>
                              <a>Army Reserve</a><br>
                              <a>Navy Reserve</a><br>
                              <a>Air National Guard</a><br>
                              <a>Air Force Reserve</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="medium-5 columns">
                      <div class="explore-group">
                        <p><strong class="caps">Suggested resources</strong></p>
                        
                        <a>Link Based of Profile Data</a><br>
                        <a>Link Based of Profile Data</a><br>
                        <a>Link Based of Profile Data</a><br>                        
                        <a>Link Based of Profile Data</a>
                    </div>
                  </div>
                </div> 

                <div class="explore-group table">
                  <div class="clearfix">
                    <div class="medium-12 columns background">
                      <div class="row">
                        <div class="medium-3 columns description">
                          <p><strong class="caps">Hot Jobs </strong></p>
                          <p>These jobs are in high demand or are opening soon. </p>
                          <p>Find a recruiter to learn more. </p>
                        </div>
                        <div class="medium-9 columns info-container">
                          <div class="row">
                            <div class="medium-5 columns image" style="background-image: url(../images/food-service.jpg);">
                            </div>
                            <div class="medium-7 columns info">
                              <div id="tools">
                                <div id="pagination"><i class="icon-left"></i> 6 of 140 <i class="icon-right"></i></div>
                                <span class="actions">
                                  <a><i class="favorite fa fa-heart-o"></i></a> 
                                  <a class="remove">×</a>
                                </span>
                              </div>
                              <p>
                                <a><strong>Communications Equipment</strong></a> <br/>
                                <a><strong>Technologists and Technicians</strong></a> 
                              </p>
                              
                              <p><strong class="caps">Military Branches</strong></p>
                              
                              <p><img src="../images/army.png"> <img src="../images/coast-guard.png"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
    <script src="../js/raterater.jquery.js"></script>
  </body>
</html>
