<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css?ver=0.7">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>
    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="AccordionCtrl">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section">

      
      
      <div class="row column">
        
        <div class="portfolio">
          <div class="well">
            <img src="../images/profile.jpg">
            <strong>Jane Doe,</strong><br/> 
            South High school <br/>
            Graduation Year 2017<br/>
            <a href="#">Edit</a>
          </div>
          <div class="tabbed">
            <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
                <li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-scope ng-isolate-scope" index="0" heading="Explore">
                  <a href="" ng-click="select($event)" class="nav-link ng-binding" uib-tab-heading-transclude="">Explore</a>
                </li>
                <li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-scope ng-isolate-scope active" index="1" heading="Portfolio">
                  <a href="" ng-click="select($event)" class="nav-link ng-binding" uib-tab-heading-transclude="">Portfolio</a>
                </li>
            </ul>

            <div class="tab-content">
            
              <div class="ng-scope ng-isolate-scope alert alert-info" role="alert">
                <button type="button" class="close" ng-click="close({$event: $event})">
                  <span>×</span>
                </button>
                <div class="row">
                  <div class="medium-4 columns">
                    <p><strong>Get organized. Save time.</strong></p>
                    <p>This tool allows you create a resume-like document with highlights of your life.</p>
                    <p>Fill in the areas you like and skip those you don’t. Then, save or print. It’s that easy!</p>
                  </div>
                  <div class="medium-8 columns">
                    <p>Are you meeting with a recruiter or school counselor or preparing college or job applications?</p>

                    <strong>Use MY PORTFOLIO to:</strong>
                    <ul>
                      <li>Create an all-inclusive snapshot of your unique life experiences</li>
                      <li>Add, update, and print anytime</li>
                      <li>Make sure your resume stands out from the crowd</li>
                    </ul>
                  </div>  
                </div>
              </div>

              <div class="row search-bar"><div class="small-12 columns">
                <a href="#"><strong>Select All</strong></a>
                <a href="#"><strong>Select None</strong></a>
                <span class="actions">
                  <a href="#"><i class="icon-save"></i></a>
                  <a href="#"><i class="fa fa-print"></i></a>
                </span>
                <hr class="show-for-medium" />
              </div></div>
            
              <div class="row">
                <div class="medium-12 columns" role="main">
                          
                  <div class="portfolio-group">
                    <div class="heading"><input type="checkbox"> <strong>WORK EXPERIENCE</strong></div>
                    <div class="entry">
                      <div class="row">
                        <div class="medium-9 columns">
                          <p><strong>Cashier</strong>, Harris Teeter
                          <br>
                          March 2013 - Present 
                          </p>
                          <ul>
                            <li>Job Task 1</li>
                            <li>Job Task 1</li>
                            <li>Job Task 1 </li>
                          </ul>
                        </div>
                        <div class="medium-3 columns actions">
                          <a href="#"><i class="fa fa-pencil"></i></a> <a href="#">&times;</a>
                        </div>
                      </div>
                    </div>
                    <div class="add">
                      <button class="add button">Add WORK EXPERIENCE</button>
                      <form>
                        <div class="row">
                        <div class="medium-3 columns">
                          <label>Company Name: </label>
                        </div>
                        <div class="medium-9 columns">
                          <input type="text">
                        </div>
                        </div>
                        
                        <div class="row">
                        <div class="medium-3 columns">
                          <label>Job Title: </label>
                        </div>
                        <div class="medium-9 columns">
                          <input type="text">
                        </div>
                        </div>
                        
                        <div class="row">
                        <div class="medium-3 columns">
                          <label>Time Period: </label>
                        </div>
                        <div class="medium-9 columns">
                          <input type="text" class="small" placeholder="MM/YY"> - <input type="text" class="small" placeholder="MM/YY"> &nbsp; <input type="checkbox"> Present
                        </div>
                        </div>
                        
                        <div class="row">
                        <div class="medium-3 columns">
                          <label>Description: </label>
                          <a href="#" class="caps">tips</a>
                        </div>
                        <div class="medium-9 columns">
                          <textarea></textarea>
                        </div>
                        </div>
                        
                        <div class="row column buttons">
                        <button type="submit" class="button">Save</button>
                        <button type="button" class="button">Cancel</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  
                  <div class="portfolio-group">
                    <div class="heading"><input type="checkbox"> <strong>Education</strong></div>
                    <div class="add">
                      <button class="add button">Add Education</button>
                      <form class="inline-labels">
                          
                        <div class="row">
                          <div class="medium-7 columns">
                          <label>School: </label>
                          <input type="text">
                        </div>
                        <div class="medium-5 columns">
                          <label>GPA: </label>
                          <input type="text" class="small">
                          </div>
                        </div>
                        
                        <div>
                          <label>Date Attended: </label>
                          <input type="text" class="small" placeholder="MM/YY"> - <input type="text" class="small" placeholder="MM/YY"> or expected graduation year
                        </div>
                        
                        <div>
                          <label>Activities, Clubs and Sports </label><br>
                          <textarea></textarea>
                        </div>
                        
                        <div>
                          <label>Honor, AP Courses and AP tests </label><br>
                          <textarea></textarea>
                        </div>
                        
                        <div class="row column buttons">
                        <button type="submit" class="button">Save</button>
                        <button type="button" class="button">Cancel</button>
                        </div>
                        
                      </form>
                    </div>
                  </div>
                  
                  <div class="portfolio-group">
                    <div class="heading"><input type="checkbox"> <strong>Achievements</strong></div>
                    <div class="add">
                      <button class="add button">Add Achievements</button>
                    </div>
                  </div>
                  
                  <div class="portfolio-group">
                    <div class="heading"><input type="checkbox"> <strong>TEST SCORES</strong></div>
                    <div class="add">
                      <button class="add button">Add TEST SCORES</button>
                      <form class="inline-labels">
                          
                        <div>
                          <label>Select one: </label>
                          <select>
                            <option>ASVAB Results</option>
                          </select> &nbsp; 
                          (See 6.0.G for form eld options. )
                        </div>
                        
                        <div>
                          <input type="text" class="small" placeholder="MM/YY"> &nbsp; 
                          <label>Math skill score</label>
                        </div>
                        
                        <div>
                          <input type="text" class="small" placeholder="MM/YY"> &nbsp; 
                          <label>Verbal skill score</label>
                        </div>
                        
                        <br>
                        
                        <div>
                          <label>SAT subject tests </label><br>
                          <textarea></textarea>
                        </div>
                        
                        <div class="row column buttons">
                        <button type="submit" class="button">Save</button>
                        <button type="button" class="button">Cancel</button>
                        </div>
                        
                      </form>
                    </div>
                  </div>

                  <div id="fitness" class="portfolio-group">
                    <div class="heading"><input type="checkbox"> <strong>Physical Fitness</strong></div>
                    <div class="add">
                      <button class="add button">Add Physical Fitness </button>
                      <form class="inline-labels">
                        
                        <div class="row">  
                          <div class="medium-6 columns">
                            <label>Curl-ups: </label>
                            <select>
                              <option></option>
                            </select>
                            <br/>
                            <label>V-Sit Reach: </label>
                            <select>
                              <option></option>
                            </select>
                            <br/>
                            <label>Pull-ups: </label>
                            <select>
                              <option></option>
                            </select>
                            <br/>
                            <label>Rt. Angle Push-ups:</label>
                            <select>
                              <option></option>
                            </select>
                          </div>

                          <div class="medium-6 columns">
                            <label>Shuttle Run: </label>
                            <select>
                              <option></option>
                            </select>
                            <br/>
                            <label>1 Mile Run:</label>
                            <select>
                              <option></option>
                            </select>
                            <br/>
                            <label>1/4 mile: </label>
                            <select>
                              <option></option>
                            </select>
                            <br/>
                            <label>1/2 mile:</label>
                            <select>
                              <option></option>
                            </select>
                          </div>
                        </div>
                        
                        <br>
                        
                        <div class="row column buttons">
                        <button type="submit" class="button">Save</button>
                        <button type="button" class="button">Cancel</button>
                        </div>
                        
                      </form>
                    </div>
                  </div>
                  
                  <div class="row favorites">
                    <div class="medium-6 columns">
                      <div class="portfolio-group">
                        <div class="heading"><input type="checkbox"> <strong>Favorite Occupations</strong></div>
                        <div class="row column entry">
                          <div class="row">
                            <div class="medium-10 columns">
                              <p>Industrial Engineers</p>
                              <p>Agricultural Engineers</p>
                              <p>Diagnostic Medical Sonographers</p>
                              <p>Artillery and Missile Ocers</p>
                              <p>Accountants and Auditors</p>
                              <p>Aquacultural Managers</p>
                              <p>Animal Control Workers </p>
                            </div>
                            <div class="medium-2 columns actions"><a href="#"><i class="fa fa-pencil"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="medium-6 columns">
                      <div class="portfolio-group">
                        <div class="heading"><input type="checkbox"> <strong>Favorite Career Clusters</strong></div>
                        <div class="row column entry">
                          <div class="row">
                            <div class="medium-10 columns">
                              <p>Science, Technology, Engineering &amp; Mathematics</p>
                              <p>Information Technology</p>
                            </div>
                            <div class="medium-2 columns actions"><a href="#"><i class="fa fa-pencil"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
          
                  
          
                </div>        
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
    <script src="../js/raterater.jquery.js"></script>
  </body>
</html>
