<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css?ver=0.7">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>
    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body id="advanced-search" ng-controller="AccordionCtrl2">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced" class="active"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>        
        
    <div id="main" class="section">
      
      <div class="row">
        
        <div id="filters" class="small-12 medium-3 columns career-detail">
          
          <div class="row hide-for-medium">
            <div class="small-12 columns">
              <h2>ADVANCED SEARCH</h2>
            </div>
          </div>

          <div id="filter-actions">
            <p class="show-for-medium"><a href="#">Clear Selections</a></p> Keyword
            <form id="search" class="mini-form ng-pristine ng-valid">
              <input type="search" placeholder="Search">
              <button type="submit" class="button"><i class="fa fa-search"></i></button>
            </form>
          </div>
          
          <uib-accordion> 
            <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
              <uib-accordion-heading><i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i> {{cc.ccTitle}}</uib-accordion-heading> 
              
              <div class="group-1">
                <input type="checkbox" id="c1"><label for="c1">Army</label><br>
                <input type="checkbox" id="c2"><label for="c2">Navy</label><br>
                <input type="checkbox" id="c3"><label for="c3">Air Force</label><br>
                <input type="checkbox" id="c4"><label for="c4">Marine Corps</label><br>
                <input type="checkbox" id="c5"><label for="c5">Coast Guard</label>
              </div>
                
            </uib-accordion-group> 
          </uib-accordion>

          <div id="mobile-filter-actions" class="hide-for-medium">
            <a class="button striped" href="#">SEARCH</a>
          </div>

          <div id="other-ways">
            <h4>Other Ways to search</h4>
            <div class="show-for-medium">
                <a href="#">Browse by Job Family</a><br/>
                <a href="#">Profiles</a><br/>
                <a href="#">Career Paths </a>
            </div>
            <div class="text-center hide-for-medium">
                <a href="#">Career Clusters</a><br/>
                <a href="#">Career Profile </a>
            </div>
          </div>
        </div>

       

        <div class="small-12 medium-9 medium-pull-3 columns career-detail">
          <div class="row show-for-medium">
            <div class="small-12 columns">
              <h2>ADVANCED SEARCH</h2>
            </div>
          </div>
          <div id="sticky" class="row column search-bar text-center hide-for-medium">
            <a href="#search"><i class="icon-arrow-up"></i> Search Filters</a>        
          </div>
          
          <div class="row">
            <div class="small-12 columns">

              <div class="row show-for-medium">
                <div id="found-text" class="small-4 columns">
                  <strong>140 careers found:</strong>
                </div>
                <div id="tools" class="small-8 columns">
                  <div><span>6</span><i class="icon-heart" alt="Favorites" title="Favorites"></i></div>
                  <div><i class="icon-save" alt="Save Search" title="Save Search"></i></div>
                  <div class="sort">
                    <i class="icon-details active" data-link="#career-list" alt="Detail View" title="Detail View"></i> 
                    <i class="fa fa-list-ul" data-link="#career-grid" alt="List View" title="List View"></i>
                  </div>
                  <div id="pagination"><i class="icon-left"></i> 6 of 140 <i class="icon-right"></i></div>
                </div>
              </div>

              <div class="row sort-by-mobile">
                <div class="small-12 columns">
                  <p class="sort-by">
                    <strong>Sort by skill importance:</strong> 
                    <select>
                        <option value="Name">-- Select Skill Importance (Optional) --</option>
                    </select>
                  </p>
                </div>
              </div>
              
              <div id="mobile-found-careers" class="row text-center hide-for-medium view-more-details">
                <span id="found-text">
                  <strong>140 careers found:</strong>
                </span>
                <span id="tools">
                  <a href="search-sort-tabs.html">View More Details</a>
                </span>
              </div>

              <div class="row">
                <div class="small-12 medium-6 search-list columns">
                  <p>
                    <a href="#">Geographic Information Systems Technicians</a><br/>
                    <a href="#">Geoscientists Except Hydrologists and Geographers  <i class="icon-hotjob"></i></a><br/>
                    <a href="#">Remote Sensing Scientists and Technologists</a><br/>
                  </p>
                </div>
                <div class="small-12 medium-6 search-list columns">
                  <p>
                    <a href="#">Geographic Information Systems Technicians</a><br/>
                    <a href="#">Geoscientists Except Hydrologists and Geographers  <i class="icon-hotjob"></i></a><br/>
                    <a href="#">Remote Sensing Scientists and Technologists</a><br/>
                  </p>
                </div>
              </div> 
              
                
          	<p class="text-center hide-for-medium">
              <a href="#">Clear Search</a>
              <span>|</span>
              <a href="#">Save Search</a>
            </p>

              <div class="row show-for-medium">
                <div class="small-12 columns"><hr style="margin-bottom: 0"/></div>
                <div id="found-text" class="small-4 columns">
                  <strong>140 careers found:</strong>
                </div>
                <div id="tools" class="small-8 columns">
                  <div><span>6</span><i class="icon-heart" alt="Favorites" title="Favorites"></i></div>
                  <div><i class="icon-save" alt="Save Search" title="Save Search"></i></div>
                  <div class="sort">
                    <i class="icon-details active" data-link="#career-list" alt="Detail View" title="Detail View"></i> 
                    <i class="fa fa-list-ul" data-link="#career-grid" alt="List View" title="List View"></i>
                  </div>
                  <div id="pagination"><i class="icon-left"></i> 6 of 140 <i class="icon-right"></i></div>
                </div>
              </div>

            </div>
          </div>

        </div>
        
      </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.sticky.js" type="text/javascript"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
    <script>
      $(document).ready(function(){
        $("#sticky").sticky({topSpacing:0, bottomSpacing:600});
      });
    </script>
  </body>
</html>
