<!doctype html>
<html class="no-js" lang="en" ng-app="evans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CITM</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/app.css?ver=0.7">
    <link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />

    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-animate.min.js"></script>
    <script src="../js/angular-touch.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="../js/app-angular.js"></script>
    <!-- override accordion template -->
    <script id="template/accordion/accordion-group.html" type="text/ng-template">
      <div class="panel" ng-class="panelClass || 'panel-default'">
        <div role="button" id="{{::headingId}}" aria-selected="{{isOpen}}" class="panel-heading" ng-keypress="toggleOpen($event)" ng-click="toggleOpen()">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading"><span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" ng-transclude></div>
        </div>
      </div>
    </script>
  </head>
  <body ng-controller="AccordionCtr3">
    
    <header>
      <div class="row">
        <div id="logo" class="small-10 medium-3 large-4 columns">
          <img src="../images/logo.png"/>
        </div>
        <div id="main-menu" class="small-2 medium-9 large-8 columns menu-centered">
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul id="login" class="menu">
            <li><a href="#">login</a></li>
            <li><a href="#">create an account</a></li>
          </ul>
          <ul id="tabbed" class="menu">
            <li id="guided"><a href="#">Guided Exploration</a></li>
            <li id="advanced"><a href="#">Advanced Search</a></li>
          </ul>
          <button class="menu-icon" type="button" data-toggle=""></button>
        </div>
      </div>
    </header>  

    <div id="slide-menu">
      <ul>
        <li><a id="close" href="#">&times;</a>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Create an Account</a></li>
          </ul>
        </li>
        <li><span>Explore</span>
          <ul>
            <li><a href="#">Guided Exploration</a></li>
            <li><a href="#">Advanced Search</a></li>
            <li><a href="#">Browse</a></li>
          </ul>
        </li>
        <li><span>Careers</span>
          <ul>
            <li><a href="#">Career Cluster</a></li>
            <li><a href="#">Profiles</a></li>
          </ul>
        </li>
        <li><span>About the Military</span>
          <ul>
            <li><a href="#">Branches</a></li>
            <li><a href="#">Parents</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li><a href="#">Contact Us / FAQ</a></li>
          </ul>
        </li>
      </ul>
    </div>      
        
    <div id="main" class="section">
      
      <div class="row column search-bar">
        

        <div class="row">
          <div class="medium-6 columns">
            <a href="#">
              <i class="icon-left hide-for-medium"></i> 
              <span class="show-for-medium">Search More Careers</span>
            </a>
            <span class="actions show-for-small-only">
              <i class="icon-pathways"></i>           
              <i class="icon-notes"></i> 
              <i class="icon-heart-ol"></i> 
            </span>
          </div>
          
          <div class="medium-6 columns share show-for-medium">Share: 
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
            <!--<a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>-->
            <a href="#" target="_blank"><i class="fa fa-envelope"></i></a> 
          </div>
        </div>
        <hr class="show-for-medium" />
      </div>
      
      <div class="row column">
        <div class="career-detail specialty-detail">
          <div class="row">
            <div class="small-12 columns">
              <h2>
                Document Security Specialists <i class="icon-hotjob"></i>
                <span class="actions show-for-medium">
                  <i class="icon-notes"></i> 
                  <i class="icon-heart-ol"></i> 
                </span>
              </h2>
            </div>
          </div>
          
          <div class="row">
            <div class="small-12 medium-6 large-7 columns">
              <p><strong>JOB DESCRIPTION:</strong> Administrative support specialists that focus on document security safeduard sensitive material and arrange for delivery by courier.They provide adeqate protection for material from receipt through delivery or to storage, prepare classified correspondence, and manage administrative fuctions and security procedures for various security programs (e.g., Special Security Program, Sensitive Compartmented Information security progaram, DoN Security Progaram).</p>
              
              <div class="administrative-support">
                <div class="row">
                  <div class="col-sm-12">
                  	<div class="headingtext">Document Security is a specialty of<br><span>Administrative Support Specialists</span></div>
                    <div class="row">
                    	<div class="col-md-6 col-sm-5">
                        	<span class="administrative-support-title">INTEREST:</span>
                              <ul class="icodes">
                                <li class="code-c">Conventional</li>
                                <li class="code-s">Social</li>
                            </ul>
                        </div>
                    	<div class="col-md-6 col-sm-7">
                        	<span class="administrative-support-title">SKILL IMPORTANCE:</span>
                            <ul class="skill-importance">
                              <li>Math: <img src="../images/2-star.png" alt="2-star" /></li>
                              <li>Verbal: <img src="../images/four-half-star.png" alt="2-star" /></li>
                              <li>Science/ Technical: <img src="../images/2-star.png" alt="2-star" /></li>
                            </ul>
                        </div>
                    </div>
                    <a href="#" class="button">LEARN MORE</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="small-12 medium-6 large-5 columns">
              <p><strong style="color:#000;">OTHER CAREER TITLES:</strong> Administartive Assistant, Courier, Document Control... <a href="#">show more</a></p>
              <p><strong>Career Cluster:</strong> <a href="#">Business Management & Administration</a></p>
              <p><img src="../images/specialty-detail.jpg"/></p>
              <div class="row">
                <div class="small-6 columns">
                  <ul class="checked">
                    <li>Enlisted</li>
                    <li class="inactive">Officer</li>
                  </ul>
                </div>
                <div class="small-6 columns"/>
                  <ul class="checked">
                    <li>Active Duty</li>
                    <li>Reserve</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <section id="career-detail" class="medium-12 columns">
              <uib-accordion> 
                  <uib-accordion-group ng-repeat="cc in career" is-open="status.open" template-url="template/accordion/accordion-group.html"> 
                      <uib-accordion-heading>{{cc.ccTitle}} <i class="glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i></uib-accordion-heading> 
                      
                      <div class="find-a-career">
                        <div class="row" style="margin-bottom: 15px;">
                          <div class="small-12 medium-12 columns">
                            <p><strong>Find jobs for Administrative Support Specialists concentrating in Documents Security Specialists, below or explore <a href="#">Administrative Support Specialists</a></strong></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/marines.png"> Marines</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Postal Clerk</a></li>
                            </ul>
                          </div> 
                          <div class="small-12 medium-4 columns">
                            <h4><img src="../images/navy.png"> Navy</h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Special Compartmented Information Security Program Specialist</a></li>
                              <li><a href="#">Independent Duty Postal Clerk</a></li>
                              <li><a href="#">Special Security Assistant</a></li>
                              <li><a href="#">Security Specialist</a></li>
                            </ul>
                          </div>  
                          <div class="small-12 medium-4 columns">
                            <h4>
                              <div class="pull-left"><img src="../images/air-force.png"> Air Force</div>
                            </h4>
                            <hr/>
                            <ul>
                              <li><a href="#">Postal</a></li>
                              <li><a href="#">Courier</a></li>
                            </ul>
                          </div>  
                        </div>
                      </div>                      
                      <section class="comp-score-link">
                      	<a href="">SEE WHAT MY SCORES MEAN TO THE MILITARY</a>
                      </section>
                      
                  </uib-accordion-group> 
              </uib-accordion>
            </section>
          </div>

          <div class="row career-list-section">
            <div class="small-12 medium-4 columns">
              <h6>Related Careers:</h6>
              <p>
                <strong>Military</strong><br/>
                <a href="#">Flight Operations Specialists</a><br/>
                <a href="#">Healthcare Administrators</a><br/>
                <a href="#">Human Resources Specialists</a><br/>
                <a href="#">Medical Record Technicians</a><br/>
                <a href="#">Paralegals and Legal Assistants</a><br/>
              </p>
              <p>
                <strong>Civilian</strong><br/>
                <a href="#">Document Management Specialists</a><br/>
                <a href="#">Executive Secretaries and Executive Administrative Assistants</a><br/>
                <a href="#">First-Line Supervisors of Office and Administrative Support Workers</a><br/>
                <a href="#">Office Clerks, General</a><br/>
                <a href="#">Secretaries and Administrative Assistants, Except Legal, Medical, and Executive</a><br/>
              </p>
            </div>
            <div class="small-12 medium-4 columns">
              <h6>Recently Viewed:</h6>
              <p>
                <a href="#">Physicians and Surgeons</a><br/>
                <a href="#">Field Medicine</a><br/>
                <a href="#">Cyber-Operations Officers</a><br/>
                <a href="#">Cyber Security</a><br/>
              </p>
            </div>
            <div class="small-12 medium-4 columns">
              <h6>Additional Career Information:</h6><br/>
              <p>
                <a href="#">Enlistment Requirements</a><br/>
                <a href="#">Physical Requirements</a><br/>
                <a href="#">Find a Recruiter</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="row top-row">
            <div class="small-12 medium-3 medium-push-9 columns">
              <img src="../images/asvab-logo.png">
            </div>
            <div class="small-12 medium-9 medium-pull-3 columns">
              <h5>Bring ASVAB CEP to Your School</h5>
            </div>
          </div>
          <hr/>
          <h5>
            <span class="show-for-medium">Connect with us:</span>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </h5>
          <hr/>
          <div class="small-12 columns show-for-small-only">
            <ul class="menu vertical">
              <li><a href="#">Home</a></li>
              <li><a href="#">FAQ </a></li>
              <li><a href="#">Advanced Search</a></li>
              <li><a href="#">Privacy &amp; Security</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
          <hr class="show-for-small-only" />
          <p>Responsibility for the research and development of Military Careers and the DoD Student Testing Program resides with the Office of Personnel Analytics, DoD Center–Monterey Bay, 400 Gigling Road, Seaside, California 93955-6771.</p>
        </div>
        <div class="small-12 medium-2 columns show-for-medium">
          <p>
            <a href="#">Home</a><br/>
            <a href="#">FAQ </a><br/>
            <a href="#">Advanced Search</a><br/>
            <a href="#">Privacy &amp; Security</a><br/>
            <a href="#">Site Map</a>
          </p>
        </div>
      </div>
    </footer>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../js/jquery.fullPage.js" type="text/javascript"></script>
    <script src="../js/app.js"></script>
    <script src="../js/raterater.jquery.js"></script>
  </body>
</html>
