.home {

	@include breakpoint(large) {
		header.expanded {
			border-bottom: 0;
		    font-size: 15px;

			#logo {
		  line-height: 120px;		  

			  img {
			  	width: 292px;
			  }
			}

			#main-menu {
			  display: table;
			  height: 120px;

				ul {
					display: table-cell;
					border-right: 1px solid #e7e5e5;
					text-align: center;
			    vertical-align: bottom;
			    padding-bottom: 20px;

					.heading {
						display: block !important;
						text-align: center;
					}

					&#tabbed {
						display: none;
					}

					&#learn-more {
						li {
							position: relative;

							&:after {
								content: '|';
						    position: absolute;
						    right: -4px;
						    top: 5px;
					    }
						}

						li.heading,
						li:last-child {
							&:after {
								content: initial;
							}
						}
					}

					&#login {

					  .heading a {
						  padding: 0;
						}

						li {
							display: block;
							text-align: center;
							
							a {
								text-transform: none;
							}

							&:last-child {
								a {
									font-size: 13px;
								}
							}
						}
					}

					&:last-child {
						border-right: 0;
					}
				}
			}
		}
	}

	h2, h3 {
		color: $navy;
		font-weight: bold;
    margin-bottom: 0.5em;	
		text-transform: uppercase;
	}

	header {
	  position: absolute;
    top: 0;
    background: #fff;
    width: 100%;
	  transition: all 0.5s ease;  
    z-index: 2;  

    #logo img {
      transition: all 0.5s ease;	
    } 

    @include breakpoint(small only) {
    	#logo {
    		line-height: 50px;
    		
    		img {
    			width: 170px;
				}
			}

			#main-menu {
    		height: 50px;

    		.menu-icon {
    			bottom: 13px;
    		}
    	}
		} 
	}

	.fp-tableCell {
		padding-top: 60px;
    padding-bottom: 35px;

    @include breakpoint(small only) {
			padding-top: 50px;
    }
	}

	.section.bg-image {
		background-size: cover;
		color: #FFF;
		text-align: center;

		h2, h3 {
			color: #fff;
		}

		.button.striped {
		    background: repeating-linear-gradient(
		    	-45deg, 
		    	rgba(255, 255, 255, 0) 1px, 
		    	rgba(255, 255, 255, 0) 5px, 
		    	rgba(60, 63, 68, 0.25) 5px, 
		    	rgba(60, 63, 68, 0.25) 9px
		    );
    		color: #fff;
		}

		.fp-tableCell > *:last-child {
			margin-bottom: 0;

			> .button:only-child {
				margin-right: 0;
			}
		}

		p {
			font-size: 20px;
			line-height: 1.25em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			color: #fff;
			font-weight: bold;
		}
	}

	.next.first-section {
		bottom: 2px;
		color: $primary-color;
		cursor: pointer;
		font-size: 30px;
		height: 67px;
		position: absolute;
		width: 145px;
		text-align: center;
		line-height: 67px;
		border-radius: 110px 110px 0 0;
		-ms-transform: translate(-50%);
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		left: 50%;
		z-index: 9;
		
		@include breakpoint(small only) {
			bottom: 3px;
		}

		.next-inner {
			position: absolute;
			bottom: 0px;
			left: 50%;
			-ms-transform: translate(-50%);
			-webkit-transform: translate(-50%);
			transform: translate(-50%);
			width: 100%;
			color: #961b0d;
			
			.icon-down {
				position: absolute;
				font-size: 24px;
				-ms-transform: translate(-50%);
				-webkit-transform: translate(-50%);
				transform: translate(-50%);
				line-height: normal;
				left: 50%;
				bottom: -14px;
			}
			.icon-up {
				position: relative;
				top: -12px;
				font-size: 24px;
			}			
			span {
				display: inline-block;
				font-size: 16px;
				line-height: normal;
				width: 100%;
				position: absolute;
				width: 100%;
				bottom: 16px;
				left: 0;
				font-weight: 600;
			}
		}
	}
	
	.next.otherdiv {
		border-top: 3px solid #fff;
		bottom: 0;
		color: $primary-color;
		cursor: pointer;
		font-size: 30px;
		height: 35px;
		position: absolute;
		background: repeating-linear-gradient(-45deg, #d6d8d7, #d6d8d7 3px, #fff 3px, #fff 10px);
		width: 100%;
		text-align: center;
		line-height: 35px;
		z-index: 1;
		
		@include breakpoint(small only) {
			font-size: 22px;
		}
	
		i {
			position: relative;
			top: 2px;
			margin-right: 10px;
			color: #9e1e0f;
		}
	}

	#step1 {
		.fp-tableCell {
			padding: 0;
		}

		#top {
			background: $light-gray;
			padding: 33px 0 18px;
			position: absolute;
			text-align: center;
			top: 60px;
			width: 100%;
			
			.topgraysec {
				display: inline-block;
				max-width: 830px;
				width: 100%;

				h1 {
					color: #3c3f44;
					font-size: 16px;
					float: left;
					text-align: left;
					@include breakpoint(medium only) {
						width: 480px;
					}
					@include breakpoint(small only) {
						text-align: center;
						width: 100%;
						font-size: 11px;
						margin-bottom: 0;
					}	
					strong {
						color: $navy;
						font-size: 18px;
						font-weight: bold;
						
						@include breakpoint(small only) {
							font-size: 13px;
						}
					}
				}
				.learn-more {
					color: #911a07;
					float: right;
					@include breakpoint(small only) {
						float: none;
						display: inline-block;
						margin-top: 5px;
					}
										
					i {
						border: 1px solid #911a07;
						border-radius: 50%;
						font-size: 10px;
						height: 18px;
						line-height: 18px;
						width: 18px;
						
						@include breakpoint(small only) {
							font-size: 8px;
							height: 14px;
							line-height: 14px;
							width: 14px;
							float: left;
						}
					}					
					span {
						display: inline-block;
						width: 100%;
						font-family: "futura-bt",sans-serif;
						font-size: 16px;
						text-transform: uppercase;
						font-weight: normal;
						
						@include breakpoint(small only) {
							font-size: 12px;
							width: inherit;
							margin-left: 5px;
							float: right;
						}
					}
				}
			}

		}
		
		.button {
			padding: 15px 40px;
		}

		#boxes {
			box-sizing: content-box;
			height: 100%;
			padding-bottom: 0px;    
			padding-top: 150px;
			width: 100%;
			
			
			h2 {
				@include breakpoint(small only) {
					font-size: 13px;
				}
			}
			p {
				@include breakpoint(small only) {
					font-size: 12px;
					margin-bottom: 10px;
				}
			}
			
			
			> div {
				background-image: url('images/Advanced Search_Image.jpg');
		    background-size: cover;
		    background-position: center;
				color: #fff;
		    height: 50%;
		    text-align: center;
		    width: 100%;
		    vertical-align: middle;

		    &:first-child {
		    	background-image: url(images/GuidedExploration_Image.jpg);
			    border-right: 1px solid #fff;
		    }

		    p:last-child {
					margin-bottom: 0;

					a:last-child {
						margin-bottom: 0;
						margin-right: 0;
						
						@include breakpoint(small only) {
							font-size: 11px;
							padding: 6px 10px;
						}
					}
				}
			}
		}

		@include breakpoint(medium) {
			
			#boxes {
				box-sizing: border-box;
		    display: table;

				> div{				
				  display: table-cell;
				  height: 100%;
				  width: 50%;
				}
			}	
		}

		@include breakpoint(large) {
			#top {
				top: 120px;
			}
			
			#boxes {
				padding-top: 200px;
			}
		}
	}
	
	#step6 {
		background-color: #E0E0E0;
		
		h3 {
			margin-bottom: 40px;
			
			@include breakpoint(small only) {
				margin-bottom: 5px;
				font-size: 16px;
			}
			
		}		
		.home-profiles-slide {
			border: 5px solid #d7d7d7;
			
			@include breakpoint(small only) {
				border: none;
			}
			
			.slick-prev {
				left: inherit;
				right: 25px;
				top: 0;
				background-color: transparent;
				top: -40px;
				
				@include breakpoint(small only) {
					top: -35px;
				}
				
				> img {
					max-width: 8px;
					&:nth-child(2) {
						display: none;
					}
				}
				&:hover {
					img:nth-child(1) {
						display: none;
					}
					img:nth-child(2) {
						display: inline-block;
					}
				}				
			}
			.custom_paging {
				position: absolute;
				right: 70px;
				top: -32px;
				
				@include breakpoint(small only) {
					display: none !important;
				}

				> li {
					display: none !important;
					
					a {
						color: #000;
						font-size: 14px;
					}
					.string > span {
					  margin: 0 5px;
					}
				}
			}
			.custom_paging > li.slick-active {
				display: inline-block !important;
			}			
			
			.slick-next {
				right: -12px;
				top: 0;
				background-color: transparent;
				top: -40px;
				
				@include breakpoint(small only) {
					top: -35px;
				}
				
				> img {
					max-width: 8px;
					&:nth-child(2) {
						display: none;
					}
				}
				&:hover {
					img:nth-child(1) {
						display: none;
					}
					img:nth-child(2) {
						display: inline-block;
					}
				}				
				
			}						
			.home-profiles-box {
				background-color: #fff;
				border: 5px solid #fff;
				
				@include breakpoint(small only) {
					border: 5px solid #d7d7d7;
					max-width: 250px;
					padding: 5px;
					margin: 0 auto;
				}
				
				.home-profile-image {
					position: relative;
					
					.home-profile-imgtext {
						bottom: 0;
						color: #fff;
						font-size: 18px;
						font-weight: bold;
						line-height: 20px;
						padding: 15px;
						position: absolute;
						
						@include breakpoint(small only) {
							font-size: 14px;
							line-height: 18px;
						}
						
					}
					.overlay-imgbg {
						bottom: 0;
						left: 0;
						position: absolute;
						width: 100%;
					}										
				}				
				
				.home-profile-text {
					border: 1px solid #d7d7d7;
					padding: 20px 18px 6px;
					text-align: center;
					
					@include breakpoint(small only) {
						padding: 7px 7px 0px;
					}
					
					h4 {
						color: #911a07;
						font-size: 16px;
						font-weight: bold;
						line-height: 20px;
						text-align: left;
						
						@include breakpoint(small only) {
							font-size: 14px;
							line-height: 16px;
						}
						
					}
					> span {
						color: #000;
						display: inline-block;
						font-size: 16px;
						line-height: 20px;
						text-align: left;
						width: 100%;
						
						@include breakpoint(small only) {
							font-size: 13px;
							line-height: 16px;
						}
						
					}
					.buttons {
						display: inline-block;
						margin: 30px 0 0;
						
						@include breakpoint(small only) {
							margin: 10px 0 0;
						}
						
						> a {
							color: #23959a;
							float: left;
							font-size: 13px;
							font-weight: bold;
							padding: 0 25px;
							line-height: normal;
							
							@include breakpoint(small only) {
								padding: 0 6px;
								font-size: 11px;
							}
							
							&:nth-child(2) {
								border-left: 1px solid #a6a6a6;
							}							
						}						
					}					
										
				}				
			}			
		}
	}

	#step2 {
		h3 {
			margin: 0;
		}
		.description {
			color: #000;
			font-size: 15px;
  		margin-bottom: 2em;
		}
	}

	#step2,
	#step4 {

		.question {
			color: $navy;
			font-size: 24px;
		}

		.actions {
			font-size: 32px;
		}

		input[type="checkbox"] {
			display: none;

			+ label {
				cursor: pointer;
				float: none;
				margin: 0;

				&:before {
					border: 2px solid $burgundy;
					border-radius: 50%;
					content: '';
					display: inline-block;
					height: 14px;
					margin-right: 10px;
		    	vertical-align: middle;
					width: 14px;
				}
			}

			&:checked + label:before {
				background: $burgundy;
			}
		}

		.tab-nav {
			margin: -45px 0 0;
			li {
				list-style-type: none;
				display: inline-block;

				a {
			    border: 1px solid #d7d7d7;	
			    display: inline-block;
			    font-size: 16px;
			    font-weight: normal;
			    margin-right: 10px;
	        padding: 8px 25px 10px;

	    		@include breakpoint(large) {
	    			font-size: 24px;
	    		}
				}

				&.active {
				 	a {
						background: #d7d7d7;
			    	color: #6d6d6d;
				 	}
				}
			}
		}

		.tab {

		 	h2 {
				color: $primary-color;
			}

			.career-list {
				.career-detail {
					display: none;

						&.active {
							display: block;
						}
					}	
				}

			.career-detail,
			.career-grid {
				border: 1px solid #fff;
				margin: 0 5px 10px;
			 	outline: 5px solid #d7d7d7;

				.career-details {
		  		padding: 20px 10px;
				}
			}

			.career-grid {
				overflow: hidden;

				.career-detail  {
					margin: 0;
			    padding: 0;
			    border: 4px solid #fff;
			    outline: 0;
			    box-shadow: inset 0px 0px 0px 1px #d7d7d7;

			    .columns:first-child {
				    position: relative;

				    .row {
						    bottom: 0;
						    position: absolute;
						    width: 100%;
						    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
						    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );

						    h2 {
						    	color: #fff;
					  	    margin-bottom: 11px;
						    }
						}
					}
				
			    .actions {
			      float: none;
				    text-align: center;
				    margin: 28px 0;
			    }
				}
			}

		}

		.view-list a {
			text-decoration: underline;
		}

		#found-careers {
			.career {
				background-size: cover;
				cursor: pointer;
				float: left;
				height: 136px;
		    margin-bottom: 1%;
    		margin-right: 1%;
    		position: relative;
				width: 32.3%;

				p {
					bottom: 0;
					color: #fff;
					font-weight: bold;
					line-height: 1.1em;
					margin-bottom: 0;
					padding: 10px;
					padding-right: 40px;
					position: absolute;
				}

				i {
					bottom: 0;
			    font-size: 25px;
			    padding: 10px;
			    position: absolute;
			    right: 0;
				}
			}

			#career-list,
			.career-list {
				overflow: hidden;
		    padding-right: 6px;	

				.career {
					background: #f2f2f2;
				  display: table;
    			width: 100%;

    			> .columns {
    			  display: table-cell;
    				float: none;
    				position: relative;
    				background-size: cover;

    				&:first-child {
    				  p {
    				  	left: auto;
    						right: 0;
    					}
    				}

    				&:last-child {
   				    padding: 10px;
   				    position: relative;
	
    					p {
    						color: $primary-color;
   					    margin-bottom: 10px;	
    						padding: 0;
    				  	position: static;
    				  }

    				  .services {
							  h4 {  
							    color: #000;
							    background: #dfdfdf;
							    font-family: $body-font-family;
							    font-size: 13px;
							    font-weight: bold;
							    padding: 0 5px;
							    text-transform: uppercase;
							    box-sizing: content-box;
							    margin-left: -5px;
							    width: 100%;
								}

								.columns {
									padding: 0;
								}
							}
    				}
    			}
  			}
			}

		}		
	}

	#step2 {
		@media screen and (max-width: 990px) and (min-width: 640px) {
			#found-careers {
				.career {
					width: 49%;
					height: 120px;
				}
			}

			#tools,
			#found-text {
				width: 100%;
				text-align: left;
			}
		}
	}

	#step3 {
		background-image: url('images/5reasons_Image.jpg');
	}	

	#step4 {
		#tools {
		  margin-top: 30px;
		}
	}

	#step5 {
		background-image: url('images/ASVAB_Image.jpg');

		@include breakpoint(medium) {
			.fp-tableCell {
				padding-bottom: 243px;
			}
		}

		.button.striped {
		  background: repeating-linear-gradient(
		  	-45deg, rgba(255, 255, 255, 0) 1px, 
		  	rgba(255, 255, 255, 0) 5px, 
		  	rgba(255, 255, 255, 0.15) 5px, 
		  	rgba(255, 255, 255, 0.15) 9px
		  );
		  margin: 0;
		}
	}	

	.progress-bar {
	  background: none;
    box-shadow: 0 0 0;
	  list-style: none;
	  margin: 70px 0;
	  padding: 0;
	  display: table;
	  table-layout: fixed;
	  width: 100%;
	  color: darken(#cecfcf, 33%);

	  > li {
	    position: relative;
	    display: table-cell;
	    text-align: center;
	    font-size: 0.8em;
	    vertical-align: top;

	    img {
	    	display: none;
	      position: absolute;
		    top: 10px;
		    transform: translate(-50%,-50%);
	    }
	    
	    &:before {
	      content: ' ';
	      cursor: pointer;
		    display: block;
		    margin: 0 auto;
		    border: 2px solid #cecfcf;
		    box-sizing: content-box;
		    background: #fff;
		    width: 1em;
		    height: 1em;
		    text-align: center;
		    margin-bottom: 0.25em;
		    line-height: 1.2em;
		    border-radius: 100%;
		    position: relative;
	    }

	    .progress-line,
	    &:after {
	      content: '';
		    position: absolute;
		    display: block;
		    background: #cecfcf;
		    width: 100%;
		    height: 0.25em;
		    top: .55em;
		    left: 50%;
		    margin-left: 1.5em\9;
		    z-index: -1;
	    }

	    &:last-child .progress-line,
	    &:last-child:after {
	      display: none;
	    }
	    &.is-complete {
	      
	      &:before {
	      	background: #35a9ae;
	      	border-color: #35a9ae;
	      }

	      &:not(.is-active):after {
	        background: #35a9ae;
	      }
	    }
	    &.is-active {

	      img {
	      	display: inline-block;
	      }
	      
	      &:before {
	        visibility: hidden;
	      }
	    }
	  }
	}

  /**
   * Needed for IE8
   */
  .progress__last:after {
    display: none!important;
  }

	#step5 #footer {
		bottom: 0;
		position: absolute;
		text-align: left;
		width: 100%;
		padding-bottom: 85px;
		
		@include breakpoint(small only) {
			padding-bottom: 50px;
		}

		p {
			font-size: inherit;
		}

		a {
			font-weight: normal;
		}
	}

	@include breakpoint(small only) {
		&#main {
			margin-top: 30px;
		}

		.section.bg-image {
			p {
    		font-size: 14px;

    		br {
    			display: none;
    		}
    	}

			img {
				max-width: 110px;
			}
			.next.first-section {
				img {
					max-width: 100px;
					margin-top: 19px;
				}
				.next-inner { 
					span {
						bottom: 14px;
						font-size: 14px;
					}
					.icon-down {
						bottom: -11px;
						font-size: 22px;
					}					
				}				
			}

    	p,
    	h3 {
		    margin: 0 auto 1rem;
    	}
    }

		#step1 {
			#top {
				top: 50px;
			}

			#boxes {
		    padding-top: 127px;

		    img {
    			width: 24px;
				}

		    > div {
				padding: 20px 20px 90px;
    			box-sizing: border-box;
    			display: flex;
				align-items: center;
				justify-content: center;

			    &:first-child {
			    	border-bottom: 1px solid #fff;
			    	border-right: 0;
					padding: 20px;
				}
		    }
			}

			.button {
    		padding: 10px 20px;
    		font-size: 14px;
    	}
	
			#top {
		    padding: 15px 0 7px;
				
				h1,
				h1 strong {
			    font-size: 12px;
				}
			}
		}

		#step2 {
			margin-bottom: 176px;	
		}
		
		#step2,
		#step4 {
			p {
		    margin-bottom: .5rem;
			}
	
			.question {
				font-size: 16px;
			}

			.question-group {
			  min-height: 200px;

				.group-2 {
					display: none;
				}
			}

			label {
		    line-height: 1em;
			}

			#found-careers {
	  	  margin-left: -0.9375rem;
 	  	  margin-top: 39px;
			  overflow: scroll;
  		  position: absolute;
			  white-space: nowrap;
    		width: 100%;

				.career {
					background-size: cover;
			    float: none;
			    display: inline-block;
			    margin-right: 0;
					width: 195px;
			    white-space: normal;
				}
			}

			#navigation {
				background: $light-gray;
				border-top: 1px solid #cecfcf;
		    line-height: 38px;		
		    margin-left: -0.9375em;
    		padding: 0 0.9375em;
		    position: absolute;
    		width: 100%;

				button.striped {
					background: transparent;
					float: right;
					font-size: 14px;
					margin: 0;
				  padding: 12px 0;

					i {
					  font-size: 12px;
					}
				}

				strong {
					font-weight: normal;
				}
			}

			.progress-bar {
				margin: 15px 0;
			}

			.tab-nav {
			  background: #d7d7d7;
		    left: 0;
		    margin: 0;
	      padding: 0.5rem 0.9375rem 0;  
		    position: absolute;
		    top: 50px;
		    width: 100%;
		    z-index: 1;
		        	
		    li {
		    	a,
		    	&.active a {
		    		border-bottom: 0;
		    		color: $navy;
		    		font-size: 16px;
		    		font-weight: bold;
		    		padding: 8px 10px 10px;
		    	}

		    	&.active {
		    		a {
		    			background: #fff;
		    		}
		    	}
		    } 
			}

			.progress-bar-mobile {
				> li {
					&:before {
						width: .6em;
    				height: .6em;	
				    z-index: 2;
					}
					
					&.is-active:before {
						visibility: visible;
					}

					&:after,
					.progress-line {
					  height: 0.15em;
    				top: .4em;
					}

					.progress-line {
						&.in-progress,
						&.is-complete {
							background: $primary-color;
							width: 50%;
					    z-index: 1;
						}
					}

					&.is-complete {

						&:before {
							background: $primary-color;
							border-color: $primary-color;
						}
						
						.progress-line.is-complete {
							width: 100%;
						}
					}

				}
			}

			#tools {
			    text-align: left;
			}

			.tab {
				padding: 5px;
				width: 100%;
				overflow: auto;
				white-space: nowrap;

				.career-grid {
					display: none !important;
				}

				.career-list {
					display: block !important;
				}

				.career-detail {
					display: inline-block !important;
					margin-right: 15px;	
					width: 220px;
					white-space: normal;

					&:last-child {
						margin-right: 8px;
					}

					.columns:first-child {
						position: relative;

						.row {
							bottom: 0;
						  position: absolute;
				      width: 100%;
							background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

						  h2 {
						  	color: #fff;
						  }
						}
					}

					h2,
					ul {
				    margin-bottom: 0.5em;
					}

					h4 {
						margin-bottom: 0;
					}

					.starrr-label {
						width: 64%;
					}

					.starrr {
						font-size: 12px;
					}

					> .large-7 {
						background: $light-gray;
					}

					.career-details {
					  padding: 15px 0 40px;
					}

					.actions {
						background: #fff;
				    bottom: 0;
				  	float: none;
				    left: 0;
				    padding: 5px;
				    position: absolute;
				    text-align: center;
				    width: 100%;

				    > * {
				    	margin: 0 15px;
				    }
					}
				}
			}

    	.view-list {
    		float: left;
    		margin-left: 5px;
    	}
		}

		#step4 {
			.fp-tableCell {
    		padding-top: 75px;
			}

			#tools {
			  float: right;
			  margin: 0;

			  #pagination {
			  	padding-right: 0;
			  }
			}
		}

		#step5 {

			.fp-tableCell {
		    padding-bottom: 243px;			
			}

			.button.striped {
				margin-bottom: 40px;
			}

			.column br {
				display: none;
			}

			p {
				width: 85%;
			}
			
			.next.otherdiv {
				z-index: 1;
			}

			img {
				max-width: 120px;
				margin-top: 60px;
				
			}
			
			.next.first-section img {
				margin-top: 0px;
				max-width: 100%;
			}			

			.fp-scroller {
				#footer {
					position: static;
				}
			}
		}
	}



	@media screen and (max-width: 374px) {
		#step2 {
			
			.progress-bar {
    		margin: 10px 0;
			}

			#found-careers {

				.career {
			    height: 120px;	
				}
			}
		}

		#step4 {
			.tab-nav {
				padding: 0.25rem 0.9375rem 0;

				li {
		    	a,
		    	&.active a {
		    		font-size: 12px;
		    	    padding: 5px 10px 5px;	
		    	}
		    }
			}

			.tab {

				.career-detail {
					margin-bottom: 0;
				  width: 200px;

					.columns:first-child {
						.row {
							h2 {
				    		font-size: 16px;
				    	}
				    }
					}

					.career-details {
						font-size: 12px;
				    padding: 5px 0 30px;	
					}

					.actions {
					  font-size: 28px;
					  padding: 1px; 
					}
				}
			}

			.view-list {
				float: none;
				text-align: center;
			}
		}
	}

}
.alert-banner {
	background: #971b0e;
	color: #fff;
	padding: 10px 15px;
	text-align: center;
	font-size: 15px;
	
	@include breakpoint(medium only) {
	  > span {
		display: inline-block;
		max-width: 600px;
	  }
	}
	@include breakpoint(small only) {
	  > span {
		max-width: 280px;
		font-size: 12px;
		display: inline-block;
	  }
	}
}
.alert-banner + header.expanded {
  top: 42px;
  
  @include breakpoint(medium only) {
	top: 65px;
  }
  
  @include breakpoint(small only) {
	  top: 75px;
  }
}

@media screen and (min-width: 1025px) {
	.home header.expanded #main-menu {
	  display: table;
	  height: 120px;
	  max-width: 590px;
	  padding-right: 0;
	}
	header #main-menu ul#login {
	  border-right: 0 none;
	  margin-left: 25px;
	}
}

