$ms1color: #0c5490;
$ms2color: #911a07;
$ms3color: #29afb5;
$ms4color: #2f2a6a;

#career-path {
	#msJoin {
	  height: 350px;
	  margin-top: 30px;
	  overflow: hidden;
	  position: relative;
	  text-align: center;

	  &:before {
	    border-top: 3px solid #7f7f7f;
	    content: '';
	    display: block;
	    left: 0;
	    margin-left: 0.9375rem;
	    margin-right: 0.9375rem;
	    position: absolute;
	    right: 0;
	    top: 150px;
	    width: auto;
	    z-index: -1;
	  }
	  ul {
	    list-style-type: disc;
	    margin-left: 18px;
	  }
	  strong {
	    color: inherit;
	  }

	  #mobileheader {
	  	display: none;
	  }
	}

	.msCircle {
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	  background: $ms1color;
	  box-shadow: 0 0 0 117px rgba($ms1color, 0.75);
	  border: 3px solid #fff;
	  display: inline-block;
	  margin: -23px 96px 82px;
	  text-align: center;
	  top: 153px;
	  z-index: 9;
	  position: relative;
	  cursor: pointer;
	  
	  &:before {
	    position: absolute;
	    content: '+';
	    font-size: 30px;
	    color: #fff;
	    top: 50%;
	    margin-top: -25px;
	    left: 50%;
	    margin-left: -9px;
	    line-height: 48px;
	  }

	  p {
	    position: absolute;
	    display: block;
	    width: 180px;
	    color: #fff;
	    left: 50%;
	    margin-left: -90px;
	    font-size: 16px;
	    line-height: 1.2em;
	    height: 50px;
	    bottom: -85px;
	  }
	  h4 {
	  	color: #fff;
	  	font-size: 18px;
	  	font-weight: normal;
	  	line-height: 1;
	    margin-left: -40px;
	    top: -70px;
	    position: absolute;
	    left: -9999px;
	    right: -9999px;
	    margin: auto;

	    strong {
		  	color: #fff !important;
		  	display: block;
		  	font-size: 30px;
	    	font-weight: 700;
	    }

	    &:after {
    		content: 'Milestone';
	    	text-transform: uppercase;	
    	}
	  }

	  &.collapsed {
	    top: 130px;
	    overflow: hidden;
	    box-shadow: 0 0 0 0 rgba(158, 158, 158, 0.75) !important;
	    margin: 0 5px;
	  }
	  
	  .description {
	    display: none;
	  }


	  &.expanded {
	    box-shadow: 0 0 0 0 rgba(158, 158, 158, 0.75) !important;
	    margin: 0 5px;
	    width: 300px;
	    height: 300px;
	    border-radius: 318px;
	    top: 0;
	    z-index: 99;
	    margin-left: 540px;
	    border-width: 6px;
	    cursor: default;
	    background-size: cover !important;

		  .msContent {
		    right: 175%;
		    width: 165%;
		    height: auto;
		    margin-top: 110px;
		  
		    h4, > p {
		    	display: none;
		    }
	    }

		  &:before {
		    content: initial;
		  }

	    .description {
	      text-align: left;

	    	h5 {
    	    margin-bottom: 20px;
	    	}
	    	p {
	    		color: #000;
	    		font-size: 13px;
    			line-height: 1.5em;
	    		margin: 0;
	    		position: static;
	    		width: 100%;
	    	}
	    }
	  }
	}

	.transition {
	  -webkit-transition: all 500ms ease-out;
	  -moz-transition: all 500ms ease-out;
	  -o-transition: all 500ms ease-out;
	  transition: all 500ms ease-out;
	}

	.close-transition {
	  -webkit-transition: box-shadow 500ms ease-out;
	  -moz-transition: box-shadow 500ms ease-out;
	  -o-transition: box-shadow 500ms ease-out;
	  transition: box-shadow 500ms ease-out;
	}

	.msCircle:first-of-type {
		&.expanded {
		  margin-left: 55%;
		  overflow: visible;
		  margin-right: 0;

		  .msContent {
		  	left: -192%;
		  }
		}

		&.collapsed {
		  margin-left: 0;
		}
	}

	#ms1 {
		h5 {
			color: $ms1color;
		}
	}

	#ms2 {
	  background: $ms2color;
	  box-shadow: 0 0 0 117px rgba($ms2color, 0.75);
	  z-index: 8;

		h5 {
			color: $ms2color;
		}
	}

	#ms3 {
	  background: $ms3color;
	  box-shadow: 0 0 0 117px rgba($ms3color, 0.75);
	  z-index: 7;

		h5 {
			color: $ms3color;
		}
	}

	#ms4 {
	  background: $ms4color;
	  box-shadow: 0 0 0 117px rgba($ms4color, 0.75);
	  z-index: 6;

		h5 {
			color: $ms4color;
		}
		
		&.collapsed {
	  	margin-right: 0;
		}	
	}

	.msContent {
	  position: relative;
	  height: 100%;
	}

	#joinNav {
	  position: absolute;
	  width: 101%;
	  height: 100%;
	  border-radius: 400px;
	  overflow: hidden;
	  margin-left: -1px;
	}

	#joinLeft, 
	#joinRight,
	#joinClose {
	  background: #333 url(images/nav.png) 30px 0 no-repeat;
	  opacity: .75;
	  width: 60px;
	  height: 60px;
	  border-radius: 60px;
	  position: absolute;
	  top: 50%;
	  left: -25px;
	  margin-top: -30px;

	  &:hover {
	  	opacity: 1;
		}
	}

	#joinRight {
	  background-position: 16px bottom;
	  left: auto;
	  right: -25px;
	}

	#joinClose {
		background-image: none;
	  bottom: -25px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
	  left: 50%;
	  margin-left: -30px;
	  top: auto;
	}

	.career-detail {
		.button, button {
	    font-size: 13px;
	    font-weight: bold;
	    padding: 7px 15px;
		  text-transform: none;
		}
	}


	@media screen and (max-width: 1023px) {
	  
	  #msJoin {
	    float: none;
	    margin-left: auto;
	    margin-right: auto;
      margin-top: 20px;
	    width: 756px;
	  }

	  #ms2 {
	    box-shadow: 0 0 0 80px rgba($ms2color, 0.75);
	  }
	  #ms3 {
	    box-shadow: 0 0 0 80px rgba($ms3color, 0.75);
	  }
	  #ms4 {
	    box-shadow: 0 0 0 80px rgba($ms4color, 0.75);
	  }
	  .msCircle:first-of-type {
	    &.expanded {
    		margin-left: 382px;

    		.msContent {
				    left: -196%;
				}
    	}
	  }
	  .msCircle {
	  	box-shadow: 0 0 0 80px rgba($ms1color, 0.75);
	    margin-left: 65px;
	    margin-right: 62px;
	    
	    &.expanded {
	      width: 210px;
	      height: 210px;
	      margin: 0 2px;
	      margin-left: 383px;
	      top: 44px;

		    h5 {
		    	height: 54px;
		    }

		    .msContent {
		      margin-top: 38px;
		      right: 190%;
    			width: 180%;
		    }
	    }
	    
	    &.collapsed {
	      margin: 0 2px;
	    }
	    
	    p {
	    	font-size: 14px;
		    margin-left: -77px;
	      width: 154px;
	    }	 
		}
	}

	@media screen and (max-width: 767px) {

		#msJoin {
			width: 625px;
		}
	
		.msCircle {
	    margin-right: 43px;
    	margin-left: 43px;

			p {
				font-size: 12px;
		    margin-left: -77px;
		    width: 150px;
		  }

		  &.expanded {
			  margin-left: 290px;
	      margin-top: 22px;
		    height: 170px;
		    width: 170px;

		    .msContent {
			    margin-top: 16px;
			    right: 180%;
    			width: 175%;
				}
		  }
    }

		#ms2 {
	    box-shadow: 0 0 0 75px rgba($ms2color, 0.75);
	  }
	  #ms3 {
	    box-shadow: 0 0 0 75px rgba($ms3color, 0.75);
	  }
	  #ms4 {
	    box-shadow: 0 0 0 75px rgba($ms4color, 0.75);
	  }
	  #ms1 {
      box-shadow: 0 0 0 75px rgba($ms1color, 0.75);
    }

    .msCircle:first-of-type {
	    &.expanded {
    		margin-left: 290px;

    		.msContent {
				    left: -186%;
				}
    	}
	  }

	}

	@media screen and (max-width: 639px) {
		.page-title {
			margin-top: 15px;
		}	
		#interaction {
			background: #e3e3e3;
	    border-top: 2px solid #7f7f7f;
			margin-bottom: 30px;
			margin-top: 175px;
		}
	  #msJoin {
	    height: auto;
	    margin-top: 0;
      overflow: visible; 
	    text-align: center;
      width: 100%;  

	    &:before {
	      content: initial;
	    }

	    #mobileheader {
		    border-top: 1px solid #000;
	    	color: #7e7e7e;
	    	display: block;
		    font-size: 22px;
		    font-weight: normal;
		    left: 0;
        letter-spacing: .1em;
		    right: 0;
		    margin-left: 0.9375rem;
    		margin-right: 0.9375rem;
		    position: absolute;
		    text-transform: uppercase;
		    top: -155px;
	    	
	    	span {
	    		background: #fff;	
	    		padding: 0 20px;
	    		position: relative;
	    		top: -16px;
		    }
	    }
	  }

	  .msCircle {
	    box-shadow: 0 0 0 0 !important;
	    margin: -175px 2% 67px !important;
	    border-radius: 300px;
	    display: inline-block;
	    float: none;
	    border: 0;
	  	position: relative;
	  	top: auto;
	  	left: auto;
	    width: 100px;
	    height: 100px;

	    &:before {
	      content: '';
	    }
	    h4 {
	      top: 50%;
	      margin-top: -15px;
	      left: auto;
		    right: auto;
		    width: 100%;

	      &:after {
	      	content: '';
	      }
	    }

	    p {
	    	display: none;
	    }

	    img {
	      top: 34px;
	      width: 40px;
	    }

	    &.selected:after {
	      position: absolute;
	      content: '';
	      width: 0;
	      height: 0;
	      border-left: 25px solid transparent;
	      border-right: 25px solid transparent;
	      border-bottom: 25px solid #7f7f7f;
	      bottom: -50px;
	      left: 50%;
	      margin-left: -25px;
	    }
	  }
	  #msTabs {
	    text-align: left;
	    position: relative;
	    h3 {
	      text-transform: uppercase;
	      color: #183d6c;
	      font-weight: 900;
	    }
	  }
	  .msContainer {
	  	display: none;
	    width: 100%;

	    h5 {
	    	color: $navy;
	    	font-size: 1.25rem;
	    	line-height: 1.2em;
	    }

	    img {
	      display: block;
	    	margin: 10px auto 30px;
	    }
	  }

	  .msCircle {
	    width: 75px;
	    height: 75px;
	    border: 0;
	    margin-left: 3.5% !important;
	    margin-right: 3.5% !important;

	    img {
	      top: 14px;
	    }
	  }
	}

	@media screen and (max-width: 479px) {
	 .msCircle {
	    width: 50px;
	    height: 50px;
	    margin-left: 3% !important;
    	margin-right: 3% !important;
	  }
	}
}