$light-white: white;
$dark-black: black;
$light-green: #29afb5;

.title {
	color: $navy;
	font-weight: bold;
    margin-bottom: 0.5em;	
	text-transform: uppercase;
}

#boot-camp {
	ul.menu {
		position: relative;
		
		&:after {
			content: '';
			position: absolute;
			right: 0px;
			top: 0;
			bottom: 0;
			height: 100%;
			background: #7e7e7e;
			width: 1px;
		}
		li {
			border-bottom: 1px solid #c8c8c8;
			
			&:first-child {
				border-top: 1px solid #c8c8c8;
			}
			a {
				padding: .5rem;
				text-decoration: none;
				outline: none;
				
				&:hover, &.active {
				  background: #ededed;
				}
			}
		}
	}
	ul.left-bar {
		padding-right: 15px;
	}
	.all-data {
		margin-top: 30px;
	}
	.service-data {
		ul {
			&:before, &:after {
				background: no-repeat;
			}
			li {
				text-align: left;
				list-style-type: none;
				border: none !important;
				margin: 15px 0;
				
				div.img {
					float: left;
					display: inline-block;
					vertical-align: middle;
				}
				span {
					float: left;
					display: inline-block;
					vertical-align: middle;
					line-height: 22px;
					width: 66%;
					font-size: 14px;
					margin-left: 10px;
				}
			}
			&.map {
				margin-left: 0;
				margin-bottom: 20px;
				
				li {
					display: inline-block;
					margin: 5px;
					padding: 10px;
					border: 1px solid #ccc !important;
					min-height: 82px;
					min-width: 100px;
					
					h6 {
						font-size: 14px;
						text-align: center;
						font-weight: normal;
					}
					img {
						display: block;
						margin: 0 auto;
						max-width: 30%;
					}
				}
			}
		}
		span.circle {
			width: 32px;
			height: 32px;
			background: #38979b;
			display: block;
			border-radius: 50%;
			margin: 0 auto;
			
			i {
				color: $light-white;
				line-height: 32px;
			}
		}
		@include breakpoint(small only) {
			.map_btn, .list_btn {
				font-size: 14px;
			}
		}
	}
	@include breakpoint(small only) {
		.menu {
			display: none;
		}
	}
}
#Military-table {
	@include breakpoint(small only) {
		display: block;
		width: 100%;
	}
	h5 {
		font-size: 15px;
		font-weight: bold;
		color: #585858;
		text-transform: uppercase;
		margin-top: 5px;
		
		@include breakpoint(small only) {
			font-size: 13px;
		}
	}
	td {
		border-right: 1px solid #bfbfbf;
		width: 20%;
		text-align: left;
		
		@include breakpoint(small only) {
			display: block;
			width: 48%;
			height: 190px;
			padding: 10px;
			margin: 1%;
			float: left;
			border: 1px solid #bfbfbf;
		}
		&:last-child {
			border-right: none;
			
			@include breakpoint(small only) {
				border: 1px solid #bfbfbf;
			}
		}
		img {
			display: block;
		}
	}
}
.data-table {
	margin-top: 20px;
	
	@include breakpoint(small only) {
		display: block;
		width: 100%;
		overflow-x: scroll;
	}
	h5 {
		margin-bottom: 0;
		font-size: 0.927rem;
		color: #2f2a6a;
		font-weight: bold;
		padding: 6px 0;
		text-transform: uppercase;
	}
	table tr {
		&:nth-child(2n) {
			background-color: transparent;
		}
		&:nth-child(2) {
			border-bottom: 1px solid #c9c9c9;
		}
		&:nth-child(2), &:nth-child(3) {
			td {
				border-right: 1px solid #c9c9c9;
				width: 20%;
				
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	ul {
		margin-left: 0;
		margin-bottom: 0;
		
		&:after{
			background: none !important;
		}
		li {
			border: none !important;
			border-right: none;
			list-style-type: none;
		}
	}
	@include breakpoint(small only) {
		p {
			font-size: 14px;
		}
	}
}

.boot-camp-header {
	background: #efefef;
	padding: 0;
	
	a {
		line-height: 35px;
	}
}
#physical-fitness {
	table {
		h6 {
			font-size: 15px;
			
			@include breakpoint(small only) {
				text-align: center;
			}
		}
		ul li {
			margin: 15px 0;
			text-align: left;
			
			@include breakpoint(small only) {
				text-align: center;
			}
			&:first-child {
				margin: 0 0 15px 0;
			}
			div.img {
				float: left;
				display: inline-block;
				vertical-align: middle;
				
				@include breakpoint(small only) {
					width: 100%;
					float: none;
				}
			}
			span {
				float: left;
				display: inline-block;
				vertical-align: middle;
				line-height:22px;
				width: 66%;
				font-size: 14px;
				margin-left: 10px;
				
				@include breakpoint(small only) {
					width: 100%;
					float: none;
				}
			}
		}
		tr {
			td {
				width: auto;
				width: 20%;
			}
			&:nth-child(2) {
				border-bottom: none;
			}
			&:nth-child(4) td {
				border-right: 1px solid #c9c9c9;
				
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	span.circle {
		width: 32px;
		height: 32px;
		background:#38979b;
		display: block;
		border-radius: 50%;
		
		i {
			color: $light-white;
			text-align: center;
			line-height: 32px;
		}
	}
}
.contact-bar {
	background-color: #e1f0f0;
	padding: 2px 0;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 30px;
	
	@include breakpoint(small only) {
		padding: 10px 0;
	}
	a {
		color: #38979b;
		text-align: center;
		margin-bottom: 0;
		font-weight: bold;
		text-transform: uppercase;
		display: block;
		font-size: 1.35rem;
		
		@include breakpoint(small only) {
			font-size: 13.5px;
		}
	}
}

#navy-modal, #marine-modal {
	table tr {
		> td, > th {
			border-right: 1px solid #ccc;
			
			&:last-child {
				border-right: none;
			}
		}
	}
	&.modal {
		left: 0;
		top: 0;
		padding: 0;
	}
}
.nav-base-head {
	margin-top: 40px;
	text-transform: uppercase;
	color: #2f2a6a;
	font-size: 15px;
}
#navy-modal {
	table.table2 table.inner_table tr th {
		text-align: center !important;
	}
	table tbody tr:nth-of-type(2) {
		background: none !important
	}
	.small-12 {
		margin-bottom: 20px;
		
		&:nth-of-type(2) {
			> table > tbody > tr:nth-child(1) td:nth-child(1) {
				border-bottom: 1px solid #ccc;
			}
			table tr {
				&:nth-child(odd) {
					background: #f1f1f1;
				}
				&:nth-child(even) {
					background: $light-white;
				}
				&:nth-child(1) {
					background: $light-white;
				}
			}
		}
		@include breakpoint(small only) {
			overflow: auto;
		}
	}
}
#marine-modal {
	.nav-base-head {
		margin: 20px 0 20px 0;
	}
	.tables {
		&:nth-of-type(3) {
			margin-bottom: 20px;
		}
		&:nth-of-type(1), &:nth-of-type(2) {
			tr td {
				width: 25%
			}
		}
	}
	.army-modal .tables tr td {
		width: 20%;
	}
	.air-force-modal .tables tr td {
		width: auto;
	}
	.coast-guard-modal .tables tr td {
		width: 16%;
		
		&:last-child {
			width: 40%;
		}
	}
	@include breakpoint(small only) {
		.small-12 {
			overflow: auto;
		}
	}
}
.map-view {
	display: none;
	
	.map-table {
		width: 100%;
		margin-top: 58px;
		
		table tr {
			td {
				border-right: 1px solid #bfbfbf;
			}
			&:first-child {
				border-bottom: 1px solid #bfbfbf;
				
				td {
					border-right: none;
				}
			}
			&:nth-child(2) {
				border-bottom: none;
				
				td {
					padding: 15px 0;
				}
			}
		}
	}
}
.list_btn {
	display: none;
}
.service-data {
	border: 1px solid #ccc;
	margin-top: 20px;
	margin-bottom: 20px;
	
	.rows {
		padding: 15px;
		
		&:nth-of-type(1) {
			text-align: center;
		}
	}
	.map_btn, .list_btn {
		line-height: 32px;
	}
	.more {
		text-align: center;
		
		a {
			display: inline-block;
		}
	}
	.map-view .map-table {
		margin-top: 0;
	}
}
.section-head {
	display: inline-block;
	
	h5 {
		font-weight: bold;
		text-transform: uppercase;
	}
}
.data-table-head {
	background: #efefef;
	padding:0px 15px;
	
	h5 {
		margin-bottom: 0;
		font-size: 0.927rem;
		color: #2f2a6a;
		font-weight: bold;
		padding: 6px 0;
		text-transform: uppercase;
	}
}
div.map {
	margin-top: 30px;
}


@-webkit-keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}
@keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}
.boot-camp-purple-box {
    background-color: #2f2a6a;
    color: $light-white;
    padding: 20px 24px;
	
	@include breakpoint(small only) {
		padding: 18.5px 28.5px 21px;
		margin: 0 -1rem 11px;
	}
	
	> p {
		font-size: 13px;
		line-height: 18px;
		
		@include breakpoint(small only) {
			font-size: 12.5px;
			line-height: normal;
		}
		&:last-child {
			margin-bottom: 0;
			margin-top: 25px;
		}
	}
}
.boot-camp-box {
    border: 1px solid #616060;
	
	.boot-camp-img-mobile {
		display: none;
		
		@include breakpoint(small only) {
			display: block;
		}
	}
	@include breakpoint(medium) {
		> img {
			width: 100%;
		}
	}
	@include breakpoint(small only) {
		> img {
			width: 100%;
		}
		.boot-camp-img-desktop {
			display: none;
		}
	}
}
.boot-camp-inner-box {
	padding: 13px 15px 14px;
	
	@include breakpoint(small only) {
		padding: 9.5px 14px 12px;
	}
	span {
		color: #3a8f93;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		
		@include breakpoint(small only) {
			font-size: 12.5px;
		}
	}
	h4 {
		color: $burgundy;
		font-family: $body-font-family;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 0;
		margin-top: -2px;
		
		@include breakpoint(small only) {
			font-size: 17.5px;
			line-height: 19px;
		}
	}
}
.boot-camp-gray-box {
    background-color: rgba(168, 168, 168, 0.15);
    border: 1px solid #616060;
    padding: 14px 22px 10px 16px;
	
	@include breakpoint(small only) {
		padding: 17.5px 25px;
	}
	a {
		display: table;
		width: 100%;
	}
	span {
		color: #3a8f93;
		display: table-cell;
		font-size: 13px;
		font-weight: bold;
		vertical-align: middle;
		
		@include breakpoint(small only) {
			font-size: 13.5px;
		}
	}
	img {
		display: table-cell;
		float: right;
	}
}
.boot-camp-dark-gray-box {
    background-color: rgba(170, 170, 170, .65);
    border: 1px solid #616060;
	color: $light-white;
    padding: 30px 22px 34px 16px;
	
	@include breakpoint(small only) {
		padding: 17.5px 19px 27.5px 20.5px;
	}
	h4 {
		font-size: 27px;
		line-height: normal;
		margin-bottom: 0;
		font-family: $body-font-family;
		
		@include breakpoint(small only) {
			font-size: 27.86px;
		}
	}
	h1 {
		font-size: 54px;
		font-weight: bold;
		font-family: $body-font-family;
		margin-bottom: 0;
		line-height: 61px;
		
		@include breakpoint(small only) {
			font-size: 65.95px;
			line-height: 55px;
		}
		.dollar {
			font-size: 44px;
			position: relative;
			top: -3px;
			line-height: 44px;
			
			@include breakpoint(small only) {
				font-size: 54.5px;
				top: -4px;
			}
		}
	}
	h3 {
		color: $light-white;
		font-family: open sans;
		font-size: 37px;
		text-transform: unset;
		margin-bottom: 0;
		
		@include breakpoint(small only) {
			font-size: 44.98px;
		}
	}
	.h4last {
		margin-top: 3px;
		
		@include breakpoint(small only) {
			font-size: 14px;
		}
		> span {
			font-size: 21px;
			display: inline-block;
			margin-top: 2px;
			
			@include breakpoint(small only) {
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
	&.small-box {
		padding: 16px 26px 8px;
		
		@include breakpoint(small only) {
			padding: 18px 22px 19px;
		}
		> p {
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 0;
			
			@include breakpoint(small only) {
				font-size: 17.5px;
				line-height: 22px;
				margin-bottom: 8px;
			}
		}
		h1 {
			font-size: 60px;
			
			@include breakpoint(small only) {
				font-size: 82.7px;
			}
			.plus {
				font-size: 45px;
				position: relative;
				top: -3px;
			}
		}
	}
}

.video-img {
    cursor: pointer;
    transition: 0.3s;
	
	&:hover {
		opacity: 0.7;
	}
}

.modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: $dark-black;
	opacity: 0.8;
	top: 0;
	left: 0;
	z-index: 100;
}
.modal-close {
	color: $light-white;
	font-size: 30px;
	line-height: .5;
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;
	
	&:hover {
		opacity: .5;
	}
}

// Option Military
#Military-table {
	&.military-list-table {
		margin-bottom: 50px;
		
		h5 {
			color: #178388;
			font-size: 14px;
			margin-top: 15px;
			margin-bottom: 16px;
		}
		td {
			text-align: center;

			img {
				margin: 0 auto;
			}
		}
	}

	span.circle {
		width: 32px;
		height: 32px;
		background:#38979b;
		display: block;
		border-radius: 50%;
		margin: 0 auto;
		
		i {
			color: $light-white;
			text-align: center;
			line-height: 32px;
		}
	}
}
.option-military-nutshell {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 30px;
}
.career-detail {
	> h3 {
		color: $dark-black;
		font-size: 13px;
		text-transform: none;
	}
}
.army_text {
	ul {
		display: inline-block;
		list-style-type: none;
		margin-bottom: 35px;
		margin-left: 0;
		margin-top: 10px;
		width: 100%;
		
		li {
			border-bottom: 3px solid #eee;
			float: left;
			margin-right: 1.5%;
			min-height: 96px;
			width: 18.8%;
			
			@include breakpoint(small only) {
				display: block;
				width: 100%;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	h3 {
		background-color: #eee;
		font-size: 12px;
		padding: 2px 10px;
		text-transform: none;
	}
	p {
		font-size: 11px;
		margin-bottom: 0;
		padding: 2px 10px;
	}
}
.service_fav_text {
	background-color: #eeeeee;
	padding-top: $global-margin;
	margin-bottom: 76px;
	
	> h3 {
		margin-bottom: 1.3rem;
		text-align: center;
	}
	#Military-table td {
		text-align: center;
		
		@include breakpoint(small only) {
			border: 0;
		}
		img {
			margin: 0 auto;
		}
		&:first-child img {
			position: relative;
			right: -5px;
		}
		h5 {
			color: $dark-black;
			font-size: 14px;
			margin-top: 20px;
			margin-bottom: 6px;
		}
	}
}

.sidebar-lhs {
	@include breakpoint(small only) {
		.menu {
			display: none;
		}
	}
	.menu-dropdown {
		display: none;
		
		@include breakpoint(small only) {
			background-color: transparent;
			color: #474747;
			display: block;
			font-size: 13px;
			font-weight: bold;
			height: auto;
			margin-bottom: $global-margin;
			width: 100%;
		}
	}
}

.boot-camp-grid {
    list-style-type: none;
	
	&.row {
		margin-left: -9px;
		margin-right: -9px;
		
		@include breakpoint(medium) {
			margin-left: -8px;
			margin-right: -8px;
		}
	}
	> .column {
		margin-bottom: 10px;
		margin-top: 10px;
		padding-left: 9px;
		padding-right: 9px;
		
		@include breakpoint(small only) {
			&:first-child {
				margin-top: 0;
			}
		}
	}
	li.animate {
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		-webkit-animation: scaleUp 0.65s ease-in-out forwards;
		animation: scaleUp 0.65s ease-in-out forwards;
	}
}

.video-modal {
	display: block;
	padding: 30px;
	left: 50%;
	top: 50%;	
	position: fixed;
	z-index: 500;
	
	&.size-m {
		width: 600px;
		height: 400px;
		
		@include breakpoint(small only) {
			width: 100%;
		}
	}
	&.size-l {
		width: 700px;
		height: 500px;
		
		@include breakpoint(small only) {
			width: 100%;
		}
	}
	&.size-s {
		width: 500px;
		height: 300px;
		
		@include breakpoint(small only) {
			width: 100%;
		}
	}
}
.modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: $dark-black;
	opacity: 0.8;
	top: 0;
	left: 0;
	z-index: 100;
}
.modal-close {
	color: $light-white;
	font-size: 30px;
	line-height: .5;
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;
	
	&:hover {
		opacity: .5;
	}
}

.purple-title-box {
	background-color: #efefef;
	color: $navy;
	font-size: 0.927rem;
	font-weight: bold;
	margin-bottom: 0;
	padding: 6px 15px;
	text-transform: uppercase;
	margin-bottom: 7px;
}

.left-border {
	border-left: 1px solid #bfbfbf;
	
	@include breakpoint(small only) {
		border-left: none;
	}
}

.bold-link {	
	span {
		color: #c0c0c0;
		margin: 0 18px;
	}
}

.bodysize {
	font-size: 15px;
}

.panel-group {
	margin-bottom: 13px;
	
	.panel-title > a {
		> span span {
			color: #231f20;
		}
		&:focus > span span {
			color: #147175;
		}
	}
	.panel-body {
		padding: 30px 0 25px;
		
		ul.list {
			list-style-type: disc;
			padding-left: 15px;
			
			li {
				padding-left: 10px;
			}
		}
		ul li {
			line-height: 20px;
		}		
	}		
}

.full-black-text {
	color: $dark-black;

	ul {
		list-style: none;
		margin: 0px;
		padding: 0;
		line-height: normal;
	}
	.armyul {
		margin: 0 0 25px;
	} 
	p {
		line-height: normal;
		margin-bottom: 25px;
	}
}

.enlisted-vs-officer {
	font-size: 13px;
	
	p:last-child {
		margin-bottom: 0;
	}
	
	@include breakpoint(medium only) {
		.bold-link > a {
			display: inline-block;
			text-align: left;
			width: 100%;
		}
		.bold-link > span {
			display: none;
		}
	}
	
	@include breakpoint(small only) {
		p:last-child {
			margin-bottom: 20px;
		}
		.bold-link > a {
			font-size: 12px;
		}
		.bold-link > span {
			margin: 0;
		}		
	}
	
	.enlisted-rightmenu {
		background: #efefef;
		padding: 20px;
		
		li {
			margin-bottom: 14px;
			
			a {
				color: $dark-black;
				
				img {
					margin-right: 16px;
				}
			}
		}
		@include breakpoint(medium only) {
			padding: 15px 10px;
			
			li a img {
				margin-right: 10px;
			}
		}
	}	
}

.enlistment-process {
	font-size: 13px;
	
	ol {
		margin-bottom: 25px;
		
		li {
			padding-left: 20px;
		}
	}

}

.becoming-and-officer {
	font-size: 13px;
	
	ul {
		list-style-type: disc;
		padding-left: 15px;
		margin-bottom: 25px;
		
		li {
			padding-left: 10px;
		}
	}
	.officer-video {
		border: 1px solid #616060;
		cursor: pointer;
		margin-top: 14px;
		
		@include breakpoint(small only) {
			margin-bottom: 15px;
			margin-top: 0;
			width: 100%;
		}
	}
}

.service-lists {
	> span {
		display: block;
		margin-bottom: 8px;
	}
	 > ul.row {
		list-style-type: none;
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 0;
		
		> li {
			padding-right: 10px;
		}
	}
	.service-lists-info {
		border-top: 1px solid;
		padding: 6px 0 26px;
		
		@include breakpoint(small only) {
			padding-bottom: 6px;
		}
	}
}

.citm-detail-service-specific {
	color: $dark-black;
	
	h2 {
		span {
			color: #616060;
			font-weight: normal;
			margin-right: 5px;
			text-transform: uppercase;
		}
		.actions i {
			color: #961b0d;
		}
	}
}

.learn-more-box {
	display: table;
	margin: 28px 0 47px;

	@include breakpoint(small only) {
		margin: 5px 0 20px;
	}
	
	.learn-more-box-left {
		background-color: #efefef;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 139px;
		
		@include breakpoint(medium only) {
			width: 120px;
		}
		@include breakpoint(small only) {
			display: block;
			padding-top: 20px;
			width: 100%;
		}
	}
	.learn-more-box-right {
		display: table-cell;
		vertical-align: middle;
		
		@include breakpoint(small only) {
			display: block;
		}
	}
	.learn-more-box-right-inner {
		background-color: #efefef;
		display: table;
		margin-left: 7px;
		padding: 20px 0 3px 37px;
		
		@include breakpoint(medium only) {
			padding: 17px 20px 7px;
		}
		@include breakpoint(small only) {
			float: left;
			margin-left: 0;
			padding: 20px 20px 7px;
		}
	}
	.learn-more-box-right-item {
		position: relative;
		margin-bottom: 6px;
		float: left;
		width: 100%;
		
		@include breakpoint(medium only) {
			margin-bottom: 0;
		}
		> img {
			left: 0;
			position: absolute;
			top: 0;
			
			@include breakpoint(medium only) {
				max-width: 20px;
			}
			@include breakpoint(small only) {
				max-width: 25px;
			}
		}
		h6 {
			padding-left: 51px;
			text-transform: capitalize;
			
			@include breakpoint(medium only) {
				font-size: 14px;
				padding-left: 30px;
				margin-bottom: 5px;
			}
			@include breakpoint(small only) {
				font-size: 14px;
				padding-left: 40px;
			}
		}
		.active-duty {
			text-transform: capitalize;
			color: #1f8d92;
			font-weight: bold;
			margin-left: 13px;
			
			@include breakpoint(medium only) {
				margin-left: 0;
				display: inline-block;
				width: 100%;
			}
			@include breakpoint(small only) {
				float: left;
				margin: 0;
				width: 100%;	
			}
			> span {
				color: $dark-black;
				font-weight: bold;
				margin: 0 15px;
				
				@include breakpoint(medium only) {
					margin: 0;
				}
				
			}
		}
		.learn-more-box-greentext {
			color: #1f8d92;
		}
	}
}

.garybg-samlltitle {
	background: #efefef;
	font-size: 15px;
	font-weight: bold;
	padding: 1px 0 2px;
	margin-bottom: 22px;
	margin-top: 10px;
}

.life-list {
	> p {
		margin-bottom: 7px;
	}
	> ul {
		list-style-type: none;
		margin: 0;
	}
	@include breakpoint(small only) {
		margin-bottom: 20px;
	}
}

.small-toggle {
	p {
		margin-bottom: 7px;
	}
	.panel-group {
		.panel-heading {
			background-color: transparent;
			padding: 0;
			
			.panel-title > a > span i {
			  color: #008E90;
			  float: left;
			  font-size: 12px;
			  margin-top: 5px;
			  position: static;
			}
			.panel-title > a > span span {
				margin-left: 10px;
				color: $primary-color;
				font-weight: normal;
				font-size: 13px;
				width: auto;
				padding-right: 0;
			}
		}
		.panel-body {
			padding: 10px 0;
		}
	}
}

.career-cluster {
	font-size: 13px;
	
	.panel-group{
		margin-bottom: 50px;
		
		.panel-body a {
			display: block;
			margin-top: 5px;
		}
	}
	.career-cluster-logo {
		display: block;
		margin: 0 auto 20px;
	}
	.pathway-list {
		border-bottom: 1px solid $medium-gray;
		margin-bottom: 30px;
		padding-bottom: 30px;
		
		@include breakpoint(small only) {
			margin-bottom: 15px;
			padding-bottom: 15px;
	  	}
		&:last-child {
			margin-bottom: 10px;
			
			@include breakpoint(small only) {
				border-bottom: none;
				margin-bottom: 0;
			}
		}
		ul {
			line-height: 1.6;
			list-style-type: disc;
			margin-bottom: 25px;
			padding-left: 15px;
		}
		.pathway-img {
			display: inline-block;
			float: right;
			max-width: 276px;
			
			@include breakpoint(small only) {
				display: block;
				float: none;
			}
		}
	}
	.search-bar {
		margin-bottom: 30px;
	}
}

.faq {
	font-size: 13px;
	
	h6 {
		margin-bottom: 16px;
		text-transform: none;
	}
	.panel-group .panel-title > a > span span {
		text-transform: uppercase;
	}
}

.contact-form {
	label {
		color: #231f20;
		float: left;
		font-weight: bold;
		max-width: 102px;
		width: 100%;
	}
	select {
		background-color: transparent;
		height: 1.25rem;
		max-width: 186px;
		padding: 0 5px;
		
		@include breakpoint(medium only) {
			max-width: 180px;
		}
		@include breakpoint(small only) {
			margin-bottom: 0;
			max-width: 180px;
		}
	}
	input {
		color: $dark-black;
	    font-size: 12px;
	    display: inline;
		height: 1.25rem;
		max-width: 236px;
		padding: 0 5px;
		
		@include breakpoint(medium only) {
			max-width: 180px;
		}
		@include breakpoint(small only) {
			margin-bottom: 0;
			max-width: 180px;
		}
	}
	.zip-code > input {
		max-width: 93px;
	}
	.city, .state {
		> input {
			max-width: 186px;
			
			@include breakpoint(medium only) {
				max-width: 180px;
			}
			@include breakpoint(small only) {
				max-width: 180px;
			}
		}
	}
	textarea {
		height: 119px;
		max-width: 601px;
		
		@include breakpoint(medium only) {
			max-width: 480px;
		}
		@include breakpoint(small only) {
			margin-bottom: 0;
			max-width: 180px;
		}
	}
	.btn-submit {
		background-color: $light-green;
		color: $light-white;
		font-weight: bold;
		height: 21px;
		margin-left: 102px;
		margin-top: 55px;
		padding: 0 21px;
		
		@include breakpoint(small only) {
			margin-top: 0;
		}
		&:hover {
			background-color: $primary-color;
		}
	}
	.form-column {
		float: left;
		max-width: 370px;
		width: 100%;
		
		@include breakpoint(medium only) {
			max-width: 300px;
		}
		@include breakpoint(small only) {
			&:first-child {
				margin-bottom: 15px;
			}
		}
	}
	input[type="radio"], input[type="checkbox"] {
		cursor: pointer;
		left: 0;
		margin: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
	.radio-group {
		.form-column {
			position: relative;
		}
		label {
			line-height: 12px;
			margin: 0;
			max-width: inherit;
			position: relative;
			width: auto;
			
			&:after {
				border: 1px solid #999999;
				border-radius: 50%;
				content: "";
				display: inline-block;
				height: 14px;
				margin-left: 16px;
				vertical-align: middle;
				width: 14px;
			}
		}
		input:checked + label:before {
			background-color: $light-green;
			border-radius: 50%;
			content: "";
			display: inline-block;
			height: 10px;
			position: absolute;
			right: 2px;
			top: 50%;
			transform: translateY(-50%);
			vertical-align: middle;
			width: 10px;
		}
	}
	.form-ssq {
		> p {
			margin: 10px 0 14px;
		}
		> ul {
			margin-bottom: 15px;
			
			> li {
				float: left;
				width: 20%;
				
				@include breakpoint(medium only) {
					margin-bottom: 10px;
					min-height: 98px;
					width: 33.33%;
				}
				@include breakpoint(small only) {
					margin-bottom: 15px;
					width: 100%;
					
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		ul ul {
			.checkbox > label {
				font-size: 12px;
				font-weight: normal;
			}
		}
	}
	.checkbox {
		margin: 0;
		
		input {
			max-width: inherit;
		}
		label {
			float: none;
			font-size: 15px;
			margin: 0;
			max-width: inherit;
			padding-left: 25px;

			&:after {
				border: 1px solid #999999;
				content: "";
				display: inline-block;
				height: 14px;
				left: 0;
				margin-left: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				vertical-align: middle;
				width: 14px;
			}
		}
		input:checked + label:before, input[checked] + label:before {
			background-color: $light-green;
			content: "";
			display: inline-block;
			height: 10px;
			left: 2px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			vertical-align: middle;
			width: 10px;
		}
	}
}

.career-profile {
	font-size: 13px;
	
	.title {
		font-size: 20px;
		margin-bottom: 0;
	}
	.sub-title {
		color: $navy;
		font-size: 20px;
		margin-bottom: 0;
	}
	> .row > hr {
		margin-top: 10px;
	}
	h5 {
		color: #93210f;
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 0px;
		
		@include breakpoint(small only) {
			line-height: normal;
		}
	}
	p {
		margin-bottom: 25px;
	}
	.share-topspace {
		margin-top: 34px;
	}
	.career-inner-title {
		color: #2f2a6a;
		font-size: 20px;
		font-weight: bold;
		line-height: normal;
		margin-bottom: 25px;
		
		> span {
			font-style: italic;
		}
	}
	.full-black-text {
		margin-bottom: 30px;
		margin-top: 10px;
	}
}

.snap-shot-slides-main {
	position: relative;
	
	@include breakpoint(small only) {
		margin-bottom: 30px;
	}
	
	.snap-small {
		background-color: #e7e7e7;
		color: #2f2a6a;
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 1px;
		margin-right: 1px;
		margin-top: 1px;
		padding-left: 15px;
		position: absolute;
		text-transform: uppercase;
		top: 7px;
		width: 100%;
		z-index: -1;
		
		> b {
			color: #000;
			display: inline-block;
			text-transform: none;
			width: 100%;
		}		
		
  	}
}

.snap-shot-slides{
	border: 7px solid #d7d7d7;
	
	
	.snap-shot-inner {
		display: inline-block;
		padding: 55px 60px 30px;
		
		h4 {
			color: #93210f;
			font-size: 20px;
			font-weight: bold;
			line-height: normal;
			margin-bottom: 10px;
		}			
	}
	.slick-prev {
		background-color: transparent;
		left: 0;
	}
	.slick-next {
		background-color: transparent;
		right: 0;
	}		
	
}

.border.border-slides {
	padding: 0;
	
	.snap-small {
		padding: 10px 10px 10px 41px;
		background-color:#F1F1F1;
		top: 0;
		
		@include breakpoint(small only) {
			padding: 10px 20px;
		}
		
	}		
	
	.snap-shot-slides {
		border: medium none;
		
		.slick-prev {
			left: 0;
			margin-top: 52px;
			
			@include breakpoint(small only) {
				left: -8px;
			}
			
		}
		.slick-next {
			right: 0;
			margin-top: 52px;
			
			@include breakpoint(small only) {
				right: -8px;
			}
			
		}				
		.snap-shot-inner {
			padding: 108px 41px 0 41px;
			
			@include breakpoint(small only) {
				padding: 108px 20px 0 20px;
			}
			> span {
				@include breakpoint(small only) {
					margin-bottom: 15px;
					display: inline-block;
				}
			}
			
		}
	}
	.buttons {
		margin-top: 40px;
		padding-left: 41px;
		
		@include breakpoint(small only) {
			margin-top: 20px;
			padding-left: 0px;
		}
		.button {
			background-color: #d9eeef;
			color: #23959a;
			font-size: 13px;
			padding: 9px 16px;
			text-transform: none;
		}	
	}	
	
}

.pr-0 {
	padding-right: 0;
	
	@include breakpoint(small only) {
		padding-right: 15px;
	}
}
.pl-0 {
	padding-left: 0;
	
	@include breakpoint(small only) {
		padding-left: 15px;
	}
}
.full-img {
	width: 100%;
	
	&.show-for-small-only {
		padding: 0 20px 20px;
	}
}			  
			

.career-slider-main {
	position: relative;
	
	.career-slider {
		height: inherit;
		margin: 0 0 42px;
	}
}

.career-slider-details {
    background-color: rgba(4, 1, 2, 0.52);
    bottom: 0;
    color: $light-white;
	padding: 18px 33px;
    position: absolute;
    width: 100%;
    z-index: 1;
	
	@include breakpoint(medium only) {
		padding: 14px 25px;
	}
	@include breakpoint(small only) {
		padding: 14px 20px;
	}
}

.slick-slider {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
	
	&:focus {
		outline: none;
	}
	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
	position: relative;
	
	img {
		display: block;
		width: 100%;
	}
	&.slick-loading img {
		display: none;
	}
	&.dragging img {
		pointer-events: none;
	}
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-loading {
	.slick-track {
		visibility: hidden;
	}
	.slick-slide {
		visibility: hidden;
	}
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow {
	background-color: rgba(6, 2, 3, 0.47);
	border-radius: 50%;
	position: absolute;
	top: 40%;
	height: 36px;
    padding: 0;
    width: 36px;
	z-index: 1;

	&.slick-hidden {
		display: none;
	}
	&.slick-prev {
		left: 20px;
		
		@include breakpoint(small only) {
			left: 10px;
		}
	}
	&.slick-next {
		right: 20px;
		
		@include breakpoint(small only) {
			right: 10px;
		}
	}
}

.recently-profiles, .recently-careers {
	> h6 {
		font-size: 15px;
	}
	ul > li {
		margin-bottom: 5px;
	}
}

.recently-profiles > ul {
	margin-bottom: 50px;
}

.recently-careers {
	> span {
		display: block;
		font-weight: 600;
		margin-bottom: 7px;
	}
	> ul {
		margin-bottom: 30px;
	}
}

.pay-section {
	font-size: 13px;
	
	.military-pay {
		background-color: $light-green;
		display: block;
		font-size: 12px;
		margin: 0 auto 22px;
		padding: 6px 14px;
		
		&:hover {
			background-color: $primary-color;
		}
	}
}

@include breakpoint(large) {
	#pay-modal .modal-lg {
		max-width: 610px;
	}
}

.pay-text-modal, .rank-text-modal {
	color: $dark-black;
    margin-bottom: 2rem;
	
	> p {
		line-height: normal;
	}
	label {
		color: $dark-black;
		display: inline-block;
		font-size: 15px;
		font-weight: bold;
		line-height: normal;
		margin-right: 10px;
	}
	select {
		background-color: transparent;
		margin-bottom: .8rem;
		max-width: 186px;
		width: 100%;
	}
	.nav-base-head {
		font-size: 13px;
		line-height: normal;
		margin: 0;
	}
}

.pay-text-modal {
	.basic-pay {
		.nav-base-head {
			margin-bottom: -3px;
		}
		> span {
			color: #535353;
			font-size: 12px;
		}
		> table {
			color: $dark-black;
			margin-top: 8px;
		}
	}
	.benefits-pay > p {
		color: $dark-black;
		line-height: 15px;
		margin-bottom: 30px;
	}
}

.rank-text-modal {
	.nav-base-head {
		margin-bottom: 10px;
	}
	select {
		margin-bottom: 0;
	}
	table td {
		vertical-align: top;
		
		&:first-child {
			padding-right: 0;
		}
	}
	.officer-table td:first-child {
		max-width: 30px;
	}
}

.contact-text-modal {
	.air-force-check {
		margin-bottom: 50px;
		
		@include breakpoint(small only) {
			margin-bottom: 20px;
		}
		> img {
			display: inline-block;
			margin-right: 25px;
			vertical-align: middle;
			
			@include breakpoint(small only) {
				margin-bottom: 10px;
			}
		}
		> ul {
			display: inline-block;
			vertical-align: middle;
			
			ul {
				.checkbox {
					display: inline-block;
					width: 185px;
					
					@include breakpoint(small only) {
						display: block;
						width: 100%;
					}
				}
				.tel-number {
					color: #3c4247;
					display: inline-block;
					font-size: 12px;
					margin: 0;
					
					@include breakpoint(small only) {
						padding-left: 25px;
					}
				}
			}
		}
	}
	.btn-close {
		background-color: $light-green;
		height: 21px;
		
		&:hover {
			background-color: $primary-color;
		}
	}
	.contact-form {
		@include breakpoint(medium only) {
			.form-column {
				max-width: 50%;
			}
			label {
				max-width: 90px;
			}
			input {
				max-width: 150px;
			}
			textarea {
				max-width: 436px;
			}
			.checkbox label {
				max-width: 100%;
			}
		}
		@include breakpoint(small only) {
			input, select, textarea {
				max-width: 170px;
			}
		}
	}
}

#contact-modal {
	.close-button-div {
		margin-left: 102px;
		text-align: left;
		
		@include breakpoint(medium only) {
			margin-left: 90px;
		}
		.button {
			padding: 4px 20px;
			
			&:last-child {
				margin-left: 34px;
				
				@include breakpoint(small only) {
					display: block;
					margin-left: 0;
					margin-top: 10px;
				}
			}
		}
	}
}

.reason-section {
	font-size: 13px;
	
	h5 {
		color: $burgundy;
		font-size: 21px;
		margin-bottom: 14px;
	}
	.reason-video-item {
		border-bottom: 1px solid #cacaca;
		margin-bottom: 42px;
		padding-bottom: 54px;
		
		@include breakpoint(medium only) {
			margin-bottom: 32px;
			padding-bottom: 44px;
		}
		@include breakpoint(small only) {
			margin-bottom: 20px;
			padding-bottom: 28px;
			
			.text-right {
				margin-top: 6px;
				text-align: left;
			}
		}
		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	.reason-video-box {
		border: 1px solid #616060;
		margin-bottom: 6px;
	}
}

.officer-school-table tr {
    border-bottom: 1px solid #ccc;
	
	&:nth-child(2n) {
		background-color: transparent;
	}
	&:last-child {
		border-bottom: none;
	}
	td {
		border-left: 1px solid #ccc;
		line-height: normal;
		padding: .38rem 1rem .28rem;
		vertical-align: top;
		white-space: nowrap;
		
		@include breakpoint(medium only) {
			padding: .38rem .6rem .28rem;
			white-space: normal;
			
			br {
				display: none;
			}
		}
		&:first-child, &:nth-child(2) {
			border-left: none;
		}
		&:first-child {
			padding-left: 0;
			
			@include breakpoint(medium only) {
				padding-right: 0;
			}
		}
	}
}

.officer-school-mobile-table tr td {
	vertical-align: top;
	
	&:first-child {
		width: 120px;
	}
}

.career-detail {
	.score-link {
		font-size: 13px;
		padding-top: 30px;
		text-align: right;
		white-space: nowrap;
	}
	
	.comp-score-link {
		background-color: #e1f0f0;
		margin: 35px 0;
		padding: 10px 0;
		text-align: center;
		
		a {
			color: #38979b;
			text-align: center;
			margin-bottom: 0;
			font-weight: bold;
			text-transform: uppercase;
			display: block;
			font-size: 14px;
			
			@include breakpoint(small only) {
				font-size: 13.5px;
			}
		}
	}
}

.career-list-section {
    margin-top: 60px;
	
	@include breakpoint(small only) {
		margin-top: 30px;
	}
}

.specialties-grid {
	display: inline-block;
	margin-bottom: -2%;
	margin-top: 5px;
	width: 100%;

	.specialties {
		cursor: pointer;
		float: left;
		height: 216px;
		margin-bottom: 2%;
		margin-right: 2%;
		position: relative;
		width: 32%;
		background-size: cover;
		
		&:before {
			display: inline-block;
			background: -moz-linear-gradient(bottom, rgba(0,0,0,0) 50%, rgba(0, 0, 0, 0.89) 110%);
			background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%,rgba(0, 0, 0, 0.89) 110%);
			background: -o-linear-gradient(bottom, rgba(0,0,0,0) 50%,rgba(0, 0, 0, 0.89) 110%);
			background: -ms-linear-gradient(bottom, rgba(0,0,0,0) 50%,rgba(0, 0, 0, 0.89) 110%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 50%,rgba(0, 0, 0, 0.89) 110%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
			content: "";
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}	
		
		
		&:nth-child(3n) {
			margin-right: 0;
			
			@include breakpoint(medium only) {
				margin-right: 2%;
			}
		}
		@include breakpoint(medium only) {
			width: 49%;
			
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		@include breakpoint(small only) {
			margin-bottom: 15px;
			margin-right: 0;
			width: 100%;
		}
		p {
			bottom: 0;
			color: $light-white;
			font-size: 18px;
			font-weight: bold;
			line-height: 1.1em;
			margin-bottom: 0;
			padding: 10px 46px 10px 10px;
			position: absolute;
			width: 100%;
			
			@include breakpoint(medium only) {
				font-size: 16px;
			}
			@include breakpoint(small only) {
				font-size: 15px;
			}
		}
		i {
			bottom: 0;
			font-size: 25px;
			padding: 10px;
			position: absolute;
			right: 0;
		}
	}
}

.specialty-detail {

  .administrative-support {
	  border: 2px solid #d7d7d7;
	  padding: 9px 15px 21px;
	  display: inline-block;
	  margin-top: 13px;
	  width: 100%;
	  
	  @include breakpoint(medium only) {
		  padding: 9px 9px 21px;
	  }
	  
	  .button {
		  background: #2bafb5;
		  border: medium none;
		  display: block;
		  font-size: 12px;
		  height: 25px;
		  line-height: 25px;
		  margin: 22px auto 0;
		  padding: 0;
		  width: 114px;
	  }
	  .headingtext {
		  margin-bottom: 29px;
		  font-weight: 600;
		  color: #000000;
		  
		  span {
			  color: #178388;
			  font-size: 14px;
		  }		
	  }	
	  .administrative-support-title {
		  color: #000000;
		  display: inline-block;
		  font-size: 14px;
		  font-weight: 600;
		  margin-bottom: 4px;
	  }
	  .icodes li {
		  position: relative;
		  
		  &:after {
			  position: absolute;
			  right: 35.8%;
			  top: 5px;
			  
			@include breakpoint(medium only) {
				right: 0;
			}
			@include breakpoint(small only) {
				right: 0;
			}
		  }		
	  }
	  .skill-importance {
		  list-style: none;
		  margin: 0;
		  
		  li {
			padding-right: 22px;
			
			@include breakpoint(medium only) {
				padding-right: 0;
			}
			@include breakpoint(small only) {
				padding-right: 0;
			}
			img {
			  float: right;
			  margin-top: 4px;
			}
		  }		
	  }	
  }
  .panel-group {
	.panel-heading {
	  margin-top: 24px;
	}
	.comp-score-link {
	  margin: 59px 0 11px;
	}
  }
}


@include breakpoint(small only) {
	.sticky-wrapper	 {
		display: none;
	}
	#MapModal .close-button {
		right: 0;
		top: 0
	}
	.search-bar {
		margin-bottom: 20px;
	}	
	.career-mobile-slider {
		background-color: #dedede;
		display: inline-block;
		margin-bottom: 20px;
		margin-top: -19px;
		padding: 20px 0;
		width: 100%;
		
		.career-slider {
			margin-bottom: 0;
		}
		.career-inner-title {
			font-size: 12px;
			margin-bottom: 0;
		}
	}
	.career-mobile-slider-details {
		font-size: 10px;
		margin-bottom: 20px;
	}
}